/* advent-pro-latin-100-normal*/
@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Advent Pro Thin'),
    local('AdventPro-Thin'), 
    url('./files/advent-pro-latin-100-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/advent-pro-latin-100-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* advent-pro-latin-200-normal*/
@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Advent Pro ExtraLight'),
    local('AdventPro-ExtraLight'), 
    url('./files/advent-pro-latin-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/advent-pro-latin-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* advent-pro-latin-300-normal*/
@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Advent Pro Light'),
    local('AdventPro-Light'), 
    url('./files/advent-pro-latin-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/advent-pro-latin-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* advent-pro-latin-400-normal*/
@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Advent Pro Regular'),
    local('AdventPro-Regular'), 
    url('./files/advent-pro-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/advent-pro-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* advent-pro-latin-500-normal*/
@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Advent Pro Medium'),
    local('AdventPro-Medium'), 
    url('./files/advent-pro-latin-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/advent-pro-latin-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* advent-pro-latin-600-normal*/
@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Advent Pro SemiBold'),
    local('AdventPro-SemiBold'), 
    url('./files/advent-pro-latin-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/advent-pro-latin-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* advent-pro-latin-700-normal*/
@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Advent Pro Bold'),
    local('AdventPro-Bold'), 
    url('./files/advent-pro-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/advent-pro-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
