/* yantramanav-latin-ext-100-normal*/
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Yantramanav Thin'),
    local('Yantramanav-Thin'), 
    url('./files/yantramanav-latin-ext-100-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/yantramanav-latin-ext-100-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* yantramanav-latin-ext-300-normal*/
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Yantramanav Light'),
    local('Yantramanav-Light'), 
    url('./files/yantramanav-latin-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/yantramanav-latin-ext-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* yantramanav-latin-ext-400-normal*/
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Yantramanav Regular'),
    local('Yantramanav-Regular'), 
    url('./files/yantramanav-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/yantramanav-latin-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* yantramanav-latin-ext-500-normal*/
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Yantramanav Medium'),
    local('Yantramanav-Medium'), 
    url('./files/yantramanav-latin-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/yantramanav-latin-ext-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* yantramanav-latin-ext-700-normal*/
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Yantramanav Bold'),
    local('Yantramanav-Bold'), 
    url('./files/yantramanav-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/yantramanav-latin-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* yantramanav-latin-ext-900-normal*/
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Yantramanav Black'),
    local('Yantramanav-Black'), 
    url('./files/yantramanav-latin-ext-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/yantramanav-latin-ext-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
