/* alegreya-sc-cyrillic-ext-900-normal*/
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Alegreya SC Black'),
    local('AlegreyaSC-Black'), url('./files/alegreya-sc-cyrillic-ext-900-normal.woff2') format('woff2'), url('./files/alegreya-sc-cyrillic-ext-900-normal.woff') format('woff');
  
}
