/* alegreya-sc-greek-ext-400-normal*/
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Alegreya SC Regular'),
    local('AlegreyaSC-Regular'), 
    url('./files/alegreya-sc-greek-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sc-greek-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-greek-ext-400-italic*/
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Alegreya SC Italic'),
    local('AlegreyaSC-Italic'), 
    url('./files/alegreya-sc-greek-ext-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sc-greek-ext-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-greek-ext-500-normal*/
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Alegreya SC Medium'),
    local('AlegreyaSC-Medium'), 
    url('./files/alegreya-sc-greek-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sc-greek-ext-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-greek-ext-500-italic*/
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Alegreya SC Medium Italic'),
    local('AlegreyaSC-MediumItalic'), 
    url('./files/alegreya-sc-greek-ext-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sc-greek-ext-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-greek-ext-700-normal*/
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Alegreya SC Bold'),
    local('AlegreyaSC-Bold'), 
    url('./files/alegreya-sc-greek-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sc-greek-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-greek-ext-700-italic*/
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Alegreya SC Bold Italic'),
    local('AlegreyaSC-BoldItalic'), 
    url('./files/alegreya-sc-greek-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sc-greek-ext-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-greek-ext-800-normal*/
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Alegreya SC ExtraBold'),
    local('AlegreyaSC-ExtraBold'), 
    url('./files/alegreya-sc-greek-ext-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sc-greek-ext-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-greek-ext-800-italic*/
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Alegreya SC ExtraBold Italic'),
    local('AlegreyaSC-ExtraBoldItalic'), 
    url('./files/alegreya-sc-greek-ext-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sc-greek-ext-800-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-greek-ext-900-normal*/
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Alegreya SC Black'),
    local('AlegreyaSC-Black'), 
    url('./files/alegreya-sc-greek-ext-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sc-greek-ext-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sc-greek-ext-900-italic*/
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Alegreya SC Black Italic'),
    local('AlegreyaSC-BlackItalic'), 
    url('./files/alegreya-sc-greek-ext-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sc-greek-ext-900-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
