/* alegreya-sc-greek-ext-800-italic*/
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Alegreya SC ExtraBold Italic'),
    local('AlegreyaSC-ExtraBoldItalic'), 
    url('./files/alegreya-sc-greek-ext-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sc-greek-ext-800-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/alegreya-sc-greek-ext-800-italic.ttf') format('truetype');
}
