/* ubuntu-condensed-latin-ext-400-normal*/
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Ubuntu Condensed'),
    local('UbuntuCondensed-Regular'), 
    url('./files/ubuntu-condensed-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/ubuntu-condensed-latin-ext-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/ubuntu-condensed-latin-ext-400-normal.ttf') format('truetype');
}
