/* Icons */

.icon {
	stroke: light-dark(var(--mantine-color-text-1), var(--mantine-color-text-0));

	&[data-active="true"] {
		stroke: var(--mantine-color-purple);
	}
}

.icon-fill {
	fill: light-dark(var(--mantine-color-text-1), var(--mantine-color-text-0));

	&[data-active="true"] {
		fill: var(--mantine-color-purple);
	}
}
