/* cuprum-vietnamese-400-italic*/
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cuprum Italic'),
    local('Cuprum-Italic'), 
    url('./files/cuprum-vietnamese-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cuprum-vietnamese-400-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/cuprum-vietnamese-400-italic.ttf') format('truetype');
}
/* cuprum-vietnamese-400-normal*/
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cuprum Regular'),
    local('Cuprum-Regular'), 
    url('./files/cuprum-vietnamese-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cuprum-vietnamese-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/cuprum-vietnamese-400-normal.ttf') format('truetype');
}
/* cuprum-vietnamese-700-italic*/
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cuprum Bold Italic'),
    local('Cuprum-BoldItalic'), 
    url('./files/cuprum-vietnamese-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cuprum-vietnamese-700-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/cuprum-vietnamese-700-italic.ttf') format('truetype');
}
/* cuprum-vietnamese-700-normal*/
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cuprum Bold'),
    local('Cuprum-Bold'), 
    url('./files/cuprum-vietnamese-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cuprum-vietnamese-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/cuprum-vietnamese-700-normal.ttf') format('truetype');
}
