/* zcool-xiaowei-latin-400-normal*/
@font-face {
  font-family: 'ZCOOL XiaoWei';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('ZCOOL XiaoWei Regular'),
    local('ZCOOLXiaoWei-Regular'), url('./files/zcool-xiaowei-latin-400-normal.woff2') format('woff2'), url('./files/zcool-xiaowei-latin-400-normal.woff') format('woff');
  
}
