/* darker-grotesque-vietnamese-900-normal*/
@font-face {
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Darker Grotesque Black'),
    local('DarkerGrotesque-Black'), url('./files/darker-grotesque-vietnamese-900-normal.woff2') format('woff2'), url('./files/darker-grotesque-vietnamese-900-normal.woff') format('woff');
  
}
