/* inknut-antiqua-latin-ext-300-normal*/
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Inknut Antiqua Light'),
    local('InknutAntiqua-Light'), url('./files/inknut-antiqua-latin-ext-300-normal.woff2') format('woff2'), url('./files/inknut-antiqua-latin-ext-300-normal.woff') format('woff');
  
}
