/* archivo-narrow-vietnamese-400-normal*/
@font-face {
  font-family: 'Archivo Narrow';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Archivo Narrow Regular'),
    local('ArchivoNarrow-Regular'), url('./files/archivo-narrow-vietnamese-400-normal.woff2') format('woff2'), url('./files/archivo-narrow-vietnamese-400-normal.woff') format('woff');
  
}
/* archivo-narrow-vietnamese-500-normal*/
@font-face {
  font-family: 'Archivo Narrow';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Archivo Narrow Medium'),
    local('ArchivoNarrow-Medium'), url('./files/archivo-narrow-vietnamese-500-normal.woff2') format('woff2'), url('./files/archivo-narrow-vietnamese-500-normal.woff') format('woff');
  
}
/* archivo-narrow-vietnamese-600-normal*/
@font-face {
  font-family: 'Archivo Narrow';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Archivo Narrow SemiBold'),
    local('ArchivoNarrow-SemiBold'), url('./files/archivo-narrow-vietnamese-600-normal.woff2') format('woff2'), url('./files/archivo-narrow-vietnamese-600-normal.woff') format('woff');
  
}
/* archivo-narrow-vietnamese-700-normal*/
@font-face {
  font-family: 'Archivo Narrow';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Archivo Narrow Bold'),
    local('ArchivoNarrow-Bold'), url('./files/archivo-narrow-vietnamese-700-normal.woff2') format('woff2'), url('./files/archivo-narrow-vietnamese-700-normal.woff') format('woff');
  
}
