/* martel-sans-latin-200-normal CSS*/
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Martel Sans ExtraLight'),
    local('MartelSans-ExtraLight'), 
    url('./files/martel-sans-latin-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/martel-sans-latin-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* martel-sans-latin-300-normal CSS*/
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Martel Sans Light'),
    local('MartelSans-Light'), 
    url('./files/martel-sans-latin-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/martel-sans-latin-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* martel-sans-latin-400-normal CSS*/
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Martel Sans Regular'),
    local('MartelSans-Regular'), 
    url('./files/martel-sans-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/martel-sans-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* martel-sans-latin-600-normal CSS*/
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Martel Sans SemiBold'),
    local('MartelSans-SemiBold'), 
    url('./files/martel-sans-latin-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/martel-sans-latin-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* martel-sans-latin-700-normal CSS*/
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Martel Sans Bold'),
    local('MartelSans-Bold'), 
    url('./files/martel-sans-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/martel-sans-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* martel-sans-latin-800-normal CSS*/
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Martel Sans ExtraBold'),
    local('MartelSans-ExtraBold'), 
    url('./files/martel-sans-latin-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/martel-sans-latin-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* martel-sans-latin-900-normal CSS*/
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Martel Sans Black'),
    local('MartelSans-Black'), 
    url('./files/martel-sans-latin-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/martel-sans-latin-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
