/* martel-sans-latin-ext-200-normal*/
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Martel Sans ExtraLight'),
    local('MartelSans-ExtraLight'), url('./files/martel-sans-latin-ext-200-normal.woff2') format('woff2'), url('./files/martel-sans-latin-ext-200-normal.woff') format('woff');
  
}
/* martel-sans-latin-ext-300-normal*/
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Martel Sans Light'),
    local('MartelSans-Light'), url('./files/martel-sans-latin-ext-300-normal.woff2') format('woff2'), url('./files/martel-sans-latin-ext-300-normal.woff') format('woff');
  
}
/* martel-sans-latin-ext-400-normal*/
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Martel Sans Regular'),
    local('MartelSans-Regular'), url('./files/martel-sans-latin-ext-400-normal.woff2') format('woff2'), url('./files/martel-sans-latin-ext-400-normal.woff') format('woff');
  
}
/* martel-sans-latin-ext-600-normal*/
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Martel Sans SemiBold'),
    local('MartelSans-SemiBold'), url('./files/martel-sans-latin-ext-600-normal.woff2') format('woff2'), url('./files/martel-sans-latin-ext-600-normal.woff') format('woff');
  
}
/* martel-sans-latin-ext-700-normal*/
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Martel Sans Bold'),
    local('MartelSans-Bold'), url('./files/martel-sans-latin-ext-700-normal.woff2') format('woff2'), url('./files/martel-sans-latin-ext-700-normal.woff') format('woff');
  
}
/* martel-sans-latin-ext-800-normal*/
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Martel Sans ExtraBold'),
    local('MartelSans-ExtraBold'), url('./files/martel-sans-latin-ext-800-normal.woff2') format('woff2'), url('./files/martel-sans-latin-ext-800-normal.woff') format('woff');
  
}
/* martel-sans-latin-ext-900-normal*/
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Martel Sans Black'),
    local('MartelSans-Black'), url('./files/martel-sans-latin-ext-900-normal.woff2') format('woff2'), url('./files/martel-sans-latin-ext-900-normal.woff') format('woff');
  
}
