/* chivo-latin-300-normal*/
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Chivo Light'),
    local('Chivo-Light'), url('./files/chivo-latin-300-normal.woff2') format('woff2'), url('./files/chivo-latin-300-normal.woff') format('woff');
  
}
/* chivo-latin-400-normal*/
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Chivo Regular'),
    local('Chivo-Regular'), url('./files/chivo-latin-400-normal.woff2') format('woff2'), url('./files/chivo-latin-400-normal.woff') format('woff');
  
}
/* chivo-latin-700-normal*/
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Chivo Bold'),
    local('Chivo-Bold'), url('./files/chivo-latin-700-normal.woff2') format('woff2'), url('./files/chivo-latin-700-normal.woff') format('woff');
  
}
/* chivo-latin-900-normal*/
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Chivo Black'),
    local('Chivo-Black'), url('./files/chivo-latin-900-normal.woff2') format('woff2'), url('./files/chivo-latin-900-normal.woff') format('woff');
  
}
