/* k2d-vietnamese-100-normal*/
@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('K2D Thin'),
    local('K2D-Thin'), url('./files/k2d-vietnamese-100-normal.woff2') format('woff2'), url('./files/k2d-vietnamese-100-normal.woff') format('woff');
  
}
/* k2d-vietnamese-200-normal*/
@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('K2D ExtraLight'),
    local('K2D-ExtraLight'), url('./files/k2d-vietnamese-200-normal.woff2') format('woff2'), url('./files/k2d-vietnamese-200-normal.woff') format('woff');
  
}
/* k2d-vietnamese-300-normal*/
@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('K2D Light'),
    local('K2D-Light'), url('./files/k2d-vietnamese-300-normal.woff2') format('woff2'), url('./files/k2d-vietnamese-300-normal.woff') format('woff');
  
}
/* k2d-vietnamese-400-normal*/
@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('K2D Regular'),
    local('K2D-Regular'), url('./files/k2d-vietnamese-400-normal.woff2') format('woff2'), url('./files/k2d-vietnamese-400-normal.woff') format('woff');
  
}
/* k2d-vietnamese-500-normal*/
@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('K2D Medium'),
    local('K2D-Medium'), url('./files/k2d-vietnamese-500-normal.woff2') format('woff2'), url('./files/k2d-vietnamese-500-normal.woff') format('woff');
  
}
/* k2d-vietnamese-600-normal*/
@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('K2D SemiBold'),
    local('K2D-SemiBold'), url('./files/k2d-vietnamese-600-normal.woff2') format('woff2'), url('./files/k2d-vietnamese-600-normal.woff') format('woff');
  
}
/* k2d-vietnamese-700-normal*/
@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('K2D Bold'),
    local('K2D-Bold'), url('./files/k2d-vietnamese-700-normal.woff2') format('woff2'), url('./files/k2d-vietnamese-700-normal.woff') format('woff');
  
}
/* k2d-vietnamese-800-normal*/
@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('K2D ExtraBold'),
    local('K2D-ExtraBold'), url('./files/k2d-vietnamese-800-normal.woff2') format('woff2'), url('./files/k2d-vietnamese-800-normal.woff') format('woff');
  
}
