/* k2d-vietnamese-800-normal CSS*/
@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('K2D ExtraBold'),
    local('K2D-ExtraBold'), 
    url('./files/k2d-vietnamese-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/k2d-vietnamese-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* k2d-vietnamese-800-italic CSS*/
@font-face {
  font-family: 'K2D';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('K2D ExtraBold Italic'),
    local('K2D-ExtraBoldItalic'), 
    url('./files/k2d-vietnamese-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/k2d-vietnamese-800-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
