/* overpass-latin-200-normal*/
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Overpass ExtraLight'),
    local('Overpass-ExtraLight'), url('./files/overpass-latin-200-normal.woff2') format('woff2'), url('./files/overpass-latin-200-normal.woff') format('woff');
  
}
