/* qwigley-latin-400-normal*/
@font-face {
  font-family: 'Qwigley';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Qwigley'),
    local('Qwigley-Regular'), url('./files/qwigley-latin-400-normal.woff2') format('woff2'), url('./files/qwigley-latin-400-normal.woff') format('woff');
  
}
