/* source-serif-pro-greek-200-italic*/
@font-face {
  font-family: 'Source Serif Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Source Serif Pro ExtraLight Italic'),
    local('SourceSerifPro-ExtraLightIt'), 
    url('./files/source-serif-pro-greek-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/source-serif-pro-greek-200-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-serif-pro-greek-200-normal*/
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Source Serif Pro ExtraLight'),
    local('SourceSerifPro-ExtraLight'), 
    url('./files/source-serif-pro-greek-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/source-serif-pro-greek-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-serif-pro-greek-300-italic*/
@font-face {
  font-family: 'Source Serif Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Source Serif Pro Light Italic'),
    local('SourceSerifPro-LightIt'), 
    url('./files/source-serif-pro-greek-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/source-serif-pro-greek-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-serif-pro-greek-300-normal*/
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Source Serif Pro Light'),
    local('SourceSerifPro-Light'), 
    url('./files/source-serif-pro-greek-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/source-serif-pro-greek-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-serif-pro-greek-400-italic*/
@font-face {
  font-family: 'Source Serif Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Source Serif Pro Italic'),
    local('SourceSerifPro-It'), 
    url('./files/source-serif-pro-greek-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/source-serif-pro-greek-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-serif-pro-greek-400-normal*/
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Source Serif Pro'),
    local('SourceSerifPro-Regular'), 
    url('./files/source-serif-pro-greek-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/source-serif-pro-greek-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-serif-pro-greek-600-italic*/
@font-face {
  font-family: 'Source Serif Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Source Serif Pro SemiBold Italic'),
    local('SourceSerifPro-SemiBoldIt'), 
    url('./files/source-serif-pro-greek-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/source-serif-pro-greek-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-serif-pro-greek-600-normal*/
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Source Serif Pro SemiBold'),
    local('SourceSerifPro-SemiBold'), 
    url('./files/source-serif-pro-greek-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/source-serif-pro-greek-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-serif-pro-greek-700-italic*/
@font-face {
  font-family: 'Source Serif Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Source Serif Pro Bold Italic'),
    local('SourceSerifPro-BoldIt'), 
    url('./files/source-serif-pro-greek-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/source-serif-pro-greek-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-serif-pro-greek-700-normal*/
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Source Serif Pro Bold'),
    local('SourceSerifPro-Bold'), 
    url('./files/source-serif-pro-greek-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/source-serif-pro-greek-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-serif-pro-greek-900-italic*/
@font-face {
  font-family: 'Source Serif Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Source Serif Pro Black Italic'),
    local('SourceSerifPro-BlackIt'), 
    url('./files/source-serif-pro-greek-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/source-serif-pro-greek-900-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-serif-pro-greek-900-normal*/
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Source Serif Pro Black'),
    local('SourceSerifPro-Black'), 
    url('./files/source-serif-pro-greek-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/source-serif-pro-greek-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
