/* fira-sans-cyrillic-100-normal*/
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Fira Sans Thin'),
    local('FiraSans-Thin'), url('./files/fira-sans-cyrillic-100-normal.woff2') format('woff2'), url('./files/fira-sans-cyrillic-100-normal.woff') format('woff');
  
}
