/* fira-sans-cyrillic-ext-300-normal*/
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Fira Sans Light'),
    local('FiraSans-Light'), url('./files/fira-sans-cyrillic-ext-300-normal.woff2') format('woff2'), url('./files/fira-sans-cyrillic-ext-300-normal.woff') format('woff');
  
}
