/* im-fell-great-primer-latin-400-normal*/
@font-face {
  font-family: 'IM Fell Great Primer';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('IM FELL Great Primer Roman'),
    local('IM_FELL_Great_Primer_Roman'), url('./files/im-fell-great-primer-latin-400-normal.woff2') format('woff2'), url('./files/im-fell-great-primer-latin-400-normal.woff') format('woff');
  
}
