/* almendra-sc-latin-400-normal*/
@font-face {
  font-family: 'Almendra SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Almendra SC Regular'),
    local('AlmendraSC-Regular'), url('./files/almendra-sc-latin-400-normal.woff2') format('woff2'), url('./files/almendra-sc-latin-400-normal.woff') format('woff');
  
}
