/* shadows-into-light-two-latin-ext-400-normal*/
@font-face {
  font-family: 'Shadows Into Light Two';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Shadows Into Light Two'),
    local('ShadowsIntoLightTwo-Regular'), url('./files/shadows-into-light-two-latin-ext-400-normal.woff2') format('woff2'), url('./files/shadows-into-light-two-latin-ext-400-normal.woff') format('woff');
  
}
