/* league-gothic-condensed-latin-400-normal*/
@font-face {
  font-family: 'League Gothic Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./files/league-gothic-condensed-latin-400-normal.woff2') format('woff2'), url('./files/league-gothic-condensed-latin-400-normal.woff') format('woff');
  
}
