/* scheherazade-latin-400-normal*/
@font-face {
  font-family: 'Scheherazade';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Scheherazade'),
    local('Scheherazade-Regular'), url('./files/scheherazade-latin-400-normal.woff2') format('woff2'), url('./files/scheherazade-latin-400-normal.woff') format('woff');
  
}
