/* noto-serif-kr-latin-200-normal CSS*/
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Noto Serif KR ExtraLight'),
    local('NotoSerifKR-ExtraLight'), 
    url('./files/noto-serif-kr-latin-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-kr-latin-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-kr-latin-300-normal CSS*/
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Noto Serif KR Light'),
    local('NotoSerifKR-Light'), 
    url('./files/noto-serif-kr-latin-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-kr-latin-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-kr-latin-400-normal CSS*/
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Noto Serif KR'),
    local('NotoSerifKR-Regular'), 
    url('./files/noto-serif-kr-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-kr-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-kr-latin-500-normal CSS*/
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Noto Serif KR Medium'),
    local('NotoSerifKR-Medium'), 
    url('./files/noto-serif-kr-latin-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-kr-latin-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-kr-latin-600-normal CSS*/
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Noto Serif KR SemiBold'),
    local('NotoSerifKR-SemiBold'), 
    url('./files/noto-serif-kr-latin-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-kr-latin-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-kr-latin-700-normal CSS*/
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Noto Serif KR Bold'),
    local('NotoSerifKR-Bold'), 
    url('./files/noto-serif-kr-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-kr-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-kr-latin-900-normal CSS*/
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Noto Serif KR Black'),
    local('NotoSerifKR-Black'), 
    url('./files/noto-serif-kr-latin-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-kr-latin-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
