/* tomorrow-latin-ext-800-normal*/
@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Tomorrow ExtraBold'),
    local('Tomorrow-ExtraBold'), url('./files/tomorrow-latin-ext-800-normal.woff2') format('woff2'), url('./files/tomorrow-latin-ext-800-normal.woff') format('woff');
  
}
