/* tomorrow-latin-ext-100-normal*/
@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Tomorrow Thin'),
    local('Tomorrow-Thin'), 
    url('./files/tomorrow-latin-ext-100-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tomorrow-latin-ext-100-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tomorrow-latin-ext-200-normal*/
@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Tomorrow ExtraLight'),
    local('Tomorrow-ExtraLight'), 
    url('./files/tomorrow-latin-ext-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tomorrow-latin-ext-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tomorrow-latin-ext-300-normal*/
@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Tomorrow Light'),
    local('Tomorrow-Light'), 
    url('./files/tomorrow-latin-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tomorrow-latin-ext-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tomorrow-latin-ext-400-normal*/
@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Tomorrow Regular'),
    local('Tomorrow-Regular'), 
    url('./files/tomorrow-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tomorrow-latin-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tomorrow-latin-ext-500-normal*/
@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Tomorrow Medium'),
    local('Tomorrow-Medium'), 
    url('./files/tomorrow-latin-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tomorrow-latin-ext-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tomorrow-latin-ext-600-normal*/
@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Tomorrow SemiBold'),
    local('Tomorrow-SemiBold'), 
    url('./files/tomorrow-latin-ext-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tomorrow-latin-ext-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tomorrow-latin-ext-700-normal*/
@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Tomorrow Bold'),
    local('Tomorrow-Bold'), 
    url('./files/tomorrow-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tomorrow-latin-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tomorrow-latin-ext-800-normal*/
@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Tomorrow ExtraBold'),
    local('Tomorrow-ExtraBold'), 
    url('./files/tomorrow-latin-ext-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tomorrow-latin-ext-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tomorrow-latin-ext-900-normal*/
@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Tomorrow Black'),
    local('Tomorrow-Black'), 
    url('./files/tomorrow-latin-ext-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tomorrow-latin-ext-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
