/* big-shoulders-inline-text-latin-100-normal*/
@font-face {
  font-family: 'Big Shoulders Inline Text';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Big Shoulders Inline Text Thin'),
    local('BigShouldersInlineText-Thin'), url('./files/big-shoulders-inline-text-latin-100-normal.woff2') format('woff2'), url('./files/big-shoulders-inline-text-latin-100-normal.woff') format('woff');
  
}
/* big-shoulders-inline-text-latin-300-normal*/
@font-face {
  font-family: 'Big Shoulders Inline Text';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Big Shoulders Inline Text Light'),
    local('BigShouldersInlineText-Light'), url('./files/big-shoulders-inline-text-latin-300-normal.woff2') format('woff2'), url('./files/big-shoulders-inline-text-latin-300-normal.woff') format('woff');
  
}
/* big-shoulders-inline-text-latin-400-normal*/
@font-face {
  font-family: 'Big Shoulders Inline Text';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Big Shoulders Inline Text Regular'),
    local('BigShouldersInlineText-Regular'), url('./files/big-shoulders-inline-text-latin-400-normal.woff2') format('woff2'), url('./files/big-shoulders-inline-text-latin-400-normal.woff') format('woff');
  
}
/* big-shoulders-inline-text-latin-500-normal*/
@font-face {
  font-family: 'Big Shoulders Inline Text';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Big Shoulders Inline Text Medium'),
    local('BigShouldersInlineText-Medium'), url('./files/big-shoulders-inline-text-latin-500-normal.woff2') format('woff2'), url('./files/big-shoulders-inline-text-latin-500-normal.woff') format('woff');
  
}
/* big-shoulders-inline-text-latin-600-normal*/
@font-face {
  font-family: 'Big Shoulders Inline Text';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Big Shoulders Inline Text SemiBold'),
    local('BigShouldersInlineText-SemiBold'), url('./files/big-shoulders-inline-text-latin-600-normal.woff2') format('woff2'), url('./files/big-shoulders-inline-text-latin-600-normal.woff') format('woff');
  
}
/* big-shoulders-inline-text-latin-700-normal*/
@font-face {
  font-family: 'Big Shoulders Inline Text';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Big Shoulders Inline Text Bold'),
    local('BigShouldersInlineText-Bold'), url('./files/big-shoulders-inline-text-latin-700-normal.woff2') format('woff2'), url('./files/big-shoulders-inline-text-latin-700-normal.woff') format('woff');
  
}
/* big-shoulders-inline-text-latin-800-normal*/
@font-face {
  font-family: 'Big Shoulders Inline Text';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Big Shoulders Inline Text ExtraBold'),
    local('BigShouldersInlineText-ExtraBold'), url('./files/big-shoulders-inline-text-latin-800-normal.woff2') format('woff2'), url('./files/big-shoulders-inline-text-latin-800-normal.woff') format('woff');
  
}
/* big-shoulders-inline-text-latin-900-normal*/
@font-face {
  font-family: 'Big Shoulders Inline Text';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Big Shoulders Inline Text Black'),
    local('BigShouldersInlineText-Black'), url('./files/big-shoulders-inline-text-latin-900-normal.woff2') format('woff2'), url('./files/big-shoulders-inline-text-latin-900-normal.woff') format('woff');
  
}
