/* big-shoulders-inline-text-latin-ext-900-normal*/
@font-face {
  font-family: 'Big Shoulders Inline Text';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Big Shoulders Inline Text Black'),
    local('BigShouldersInlineText-Black'), 
    url('./files/big-shoulders-inline-text-latin-ext-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/big-shoulders-inline-text-latin-ext-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
