/* big-shoulders-inline-text-vietnamese-900-normal*/
@font-face {
  font-family: 'Big Shoulders Inline Text';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Big Shoulders Inline Text Black'),
    local('BigShouldersInlineText-Black'), url('./files/big-shoulders-inline-text-vietnamese-900-normal.woff2') format('woff2'), url('./files/big-shoulders-inline-text-vietnamese-900-normal.woff') format('woff');
  
}
