/* baloo-thambi-2-vietnamese-400-normal*/
@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Baloo Thambi 2 Regular'),
    local('BalooThambi2-Regular'), url('./files/baloo-thambi-2-vietnamese-400-normal.woff2') format('woff2'), url('./files/baloo-thambi-2-vietnamese-400-normal.woff') format('woff');
  
}
/* baloo-thambi-2-vietnamese-500-normal*/
@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Baloo Thambi 2 Medium'),
    local('BalooThambi2-Medium'), url('./files/baloo-thambi-2-vietnamese-500-normal.woff2') format('woff2'), url('./files/baloo-thambi-2-vietnamese-500-normal.woff') format('woff');
  
}
/* baloo-thambi-2-vietnamese-600-normal*/
@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Baloo Thambi 2 SemiBold'),
    local('BalooThambi2-SemiBold'), url('./files/baloo-thambi-2-vietnamese-600-normal.woff2') format('woff2'), url('./files/baloo-thambi-2-vietnamese-600-normal.woff') format('woff');
  
}
/* baloo-thambi-2-vietnamese-700-normal*/
@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Baloo Thambi 2 Bold'),
    local('BalooThambi2-Bold'), url('./files/baloo-thambi-2-vietnamese-700-normal.woff2') format('woff2'), url('./files/baloo-thambi-2-vietnamese-700-normal.woff') format('woff');
  
}
/* baloo-thambi-2-vietnamese-800-normal*/
@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Baloo Thambi 2 ExtraBold'),
    local('BalooThambi2-ExtraBold'), url('./files/baloo-thambi-2-vietnamese-800-normal.woff2') format('woff2'), url('./files/baloo-thambi-2-vietnamese-800-normal.woff') format('woff');
  
}
