/* tajawal-latin-200-normal CSS*/
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Tajawal ExtraLight'),
    local('Tajawal-ExtraLight'), 
    url('./files/tajawal-latin-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tajawal-latin-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tajawal-latin-300-normal CSS*/
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Tajawal Light'),
    local('Tajawal-Light'), 
    url('./files/tajawal-latin-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tajawal-latin-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tajawal-latin-400-normal CSS*/
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Tajawal'),
    local('Tajawal-Regular'), 
    url('./files/tajawal-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tajawal-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tajawal-latin-500-normal CSS*/
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Tajawal Medium'),
    local('Tajawal-Medium'), 
    url('./files/tajawal-latin-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tajawal-latin-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tajawal-latin-700-normal CSS*/
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Tajawal Bold'),
    local('Tajawal-Bold'), 
    url('./files/tajawal-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tajawal-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tajawal-latin-800-normal CSS*/
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Tajawal ExtraBold'),
    local('Tajawal-ExtraBold'), 
    url('./files/tajawal-latin-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tajawal-latin-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tajawal-latin-900-normal CSS*/
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Tajawal Black'),
    local('Tajawal-Black'), 
    url('./files/tajawal-latin-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tajawal-latin-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
