/* barlow-vietnamese-100-italic*/
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Barlow Thin Italic'),
    local('Barlow-ThinItalic'), 
    url('./files/barlow-vietnamese-100-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-vietnamese-100-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/barlow-vietnamese-100-italic.ttf') format('truetype');
}
/* barlow-vietnamese-100-normal*/
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Barlow Thin'),
    local('Barlow-Thin'), 
    url('./files/barlow-vietnamese-100-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-vietnamese-100-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/barlow-vietnamese-100-normal.ttf') format('truetype');
}
