/* khand-latin-ext-300-normal*/
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Khand Light'),
    local('Khand-Light'), 
    url('./files/khand-latin-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/khand-latin-ext-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* khand-latin-ext-400-normal*/
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Khand Regular'),
    local('Khand-Regular'), 
    url('./files/khand-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/khand-latin-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* khand-latin-ext-500-normal*/
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Khand Medium'),
    local('Khand-Medium'), 
    url('./files/khand-latin-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/khand-latin-ext-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* khand-latin-ext-600-normal*/
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Khand SemiBold'),
    local('Khand-SemiBold'), 
    url('./files/khand-latin-ext-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/khand-latin-ext-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* khand-latin-ext-700-normal*/
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Khand Bold'),
    local('Khand-Bold'), 
    url('./files/khand-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/khand-latin-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
