/* balsamiq-sans-cyrillic-ext-700-italic*/
@font-face {
  font-family: 'Balsamiq Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Balsamiq Sans Bold Italic'),
    local('BalsamiqSans-BoldItalic'), 
    url('./files/balsamiq-sans-cyrillic-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/balsamiq-sans-cyrillic-ext-700-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/balsamiq-sans-cyrillic-ext-700-italic.ttf') format('truetype');
}
/* balsamiq-sans-cyrillic-ext-700-normal*/
@font-face {
  font-family: 'Balsamiq Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Balsamiq Sans Bold'),
    local('BalsamiqSans-Bold'), 
    url('./files/balsamiq-sans-cyrillic-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/balsamiq-sans-cyrillic-ext-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/balsamiq-sans-cyrillic-ext-700-normal.ttf') format('truetype');
}
