/* cascadia-mono-pl-latin-ext-400-normal*/
@font-face {
  font-family: 'Cascadia Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./files/cascadia-mono-pl-latin-ext-400-normal.woff2') format('woff2'), url('./files/cascadia-mono-pl-latin-ext-400-normal.woff') format('woff');
  
}
