/* poppins-latin-100-normal*/
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Poppins Thin'),
    local('Poppins-Thin'), url('./files/poppins-latin-100-normal.woff2') format('woff2'), url('./files/poppins-latin-100-normal.woff') format('woff');
  
}
/* poppins-latin-200-normal*/
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Poppins ExtraLight'),
    local('Poppins-ExtraLight'), url('./files/poppins-latin-200-normal.woff2') format('woff2'), url('./files/poppins-latin-200-normal.woff') format('woff');
  
}
/* poppins-latin-300-normal*/
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Poppins Light'),
    local('Poppins-Light'), url('./files/poppins-latin-300-normal.woff2') format('woff2'), url('./files/poppins-latin-300-normal.woff') format('woff');
  
}
/* poppins-latin-400-normal*/
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Poppins Regular'),
    local('Poppins-Regular'), url('./files/poppins-latin-400-normal.woff2') format('woff2'), url('./files/poppins-latin-400-normal.woff') format('woff');
  
}
/* poppins-latin-500-normal*/
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Poppins Medium'),
    local('Poppins-Medium'), url('./files/poppins-latin-500-normal.woff2') format('woff2'), url('./files/poppins-latin-500-normal.woff') format('woff');
  
}
/* poppins-latin-600-normal*/
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Poppins SemiBold'),
    local('Poppins-SemiBold'), url('./files/poppins-latin-600-normal.woff2') format('woff2'), url('./files/poppins-latin-600-normal.woff') format('woff');
  
}
/* poppins-latin-700-normal*/
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Poppins Bold'),
    local('Poppins-Bold'), url('./files/poppins-latin-700-normal.woff2') format('woff2'), url('./files/poppins-latin-700-normal.woff') format('woff');
  
}
/* poppins-latin-800-normal*/
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Poppins ExtraBold'),
    local('Poppins-ExtraBold'), url('./files/poppins-latin-800-normal.woff2') format('woff2'), url('./files/poppins-latin-800-normal.woff') format('woff');
  
}
/* poppins-latin-900-normal*/
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Poppins Black'),
    local('Poppins-Black'), url('./files/poppins-latin-900-normal.woff2') format('woff2'), url('./files/poppins-latin-900-normal.woff') format('woff');
  
}
