/* fira-sans-extra-condensed-greek-100-normal*/
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Fira Sans Extra Condensed Thin'),
    local('FiraSansExtraCondensed-Thin'), url('./files/fira-sans-extra-condensed-greek-100-normal.woff2') format('woff2'), url('./files/fira-sans-extra-condensed-greek-100-normal.woff') format('woff');
  
}
/* fira-sans-extra-condensed-greek-200-normal*/
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Fira Sans Extra Condensed ExtraLight'),
    local('FiraSansExtraCondensed-ExtraLight'), url('./files/fira-sans-extra-condensed-greek-200-normal.woff2') format('woff2'), url('./files/fira-sans-extra-condensed-greek-200-normal.woff') format('woff');
  
}
/* fira-sans-extra-condensed-greek-300-normal*/
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Fira Sans Extra Condensed Light'),
    local('FiraSansExtraCondensed-Light'), url('./files/fira-sans-extra-condensed-greek-300-normal.woff2') format('woff2'), url('./files/fira-sans-extra-condensed-greek-300-normal.woff') format('woff');
  
}
/* fira-sans-extra-condensed-greek-400-normal*/
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fira Sans Extra Condensed Regular'),
    local('FiraSansExtraCondensed-Regular'), url('./files/fira-sans-extra-condensed-greek-400-normal.woff2') format('woff2'), url('./files/fira-sans-extra-condensed-greek-400-normal.woff') format('woff');
  
}
/* fira-sans-extra-condensed-greek-500-normal*/
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Fira Sans Extra Condensed Medium'),
    local('FiraSansExtraCondensed-Medium'), url('./files/fira-sans-extra-condensed-greek-500-normal.woff2') format('woff2'), url('./files/fira-sans-extra-condensed-greek-500-normal.woff') format('woff');
  
}
/* fira-sans-extra-condensed-greek-600-normal*/
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Fira Sans Extra Condensed SemiBold'),
    local('FiraSansExtraCondensed-SemiBold'), url('./files/fira-sans-extra-condensed-greek-600-normal.woff2') format('woff2'), url('./files/fira-sans-extra-condensed-greek-600-normal.woff') format('woff');
  
}
/* fira-sans-extra-condensed-greek-700-normal*/
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Fira Sans Extra Condensed Bold'),
    local('FiraSansExtraCondensed-Bold'), url('./files/fira-sans-extra-condensed-greek-700-normal.woff2') format('woff2'), url('./files/fira-sans-extra-condensed-greek-700-normal.woff') format('woff');
  
}
/* fira-sans-extra-condensed-greek-800-normal*/
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Fira Sans Extra Condensed ExtraBold'),
    local('FiraSansExtraCondensed-ExtraBold'), url('./files/fira-sans-extra-condensed-greek-800-normal.woff2') format('woff2'), url('./files/fira-sans-extra-condensed-greek-800-normal.woff') format('woff');
  
}
/* fira-sans-extra-condensed-greek-900-normal*/
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Fira Sans Extra Condensed Black'),
    local('FiraSansExtraCondensed-Black'), url('./files/fira-sans-extra-condensed-greek-900-normal.woff2') format('woff2'), url('./files/fira-sans-extra-condensed-greek-900-normal.woff') format('woff');
  
}
