/* Global CSS */

:root {
	--mantine-color-purple: #625bf8;
	--mantine-color-purple-hover: rgba(98, 91, 248, 0.02);
	--mantine-color-button-hover: rgba(98, 91, 248, 0.1);
	--mantine-color-purple-dark: #473ef6;

  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

header {
	background-color: light-dark(var(--mantine-color-background-1), var(--mantine-color-background-5));
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: flex-start;

	font-size: var(--mantine-font-size-md);

	color: light-dark(var(--mantine-color-text-1), var(--mantine-color-text-0));
	background-color: light-dark(var(--mantine-color-background-0), var(--mantine-color-background-4));
}

a {
	color: light-dark(var(--mantine-color-text-7), var(--mantine-color-text-0));
}

.background {
	background-color: light-dark(var(--mantine-color-background-1), var(--mantine-color-background-5));
}

.container {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 64px;

	@media (--lt-lg) {
		padding: 40px 40px;
	}

	@media (--lt-xs) {
		padding: 40px 24px;
	}
}

/* Docs */
.hide-less-than-sm {
	@media (--lt-sm) {
		display: none;
	}
}

.hide-less-than-md {
	@media (--lt-md) {
		display: none;
	}
}

.hide-less-than-xl {
	@media (--lt-xl) {
		display: none;
	}
}
