/* big-shoulders-display-latin-100-normal*/
@font-face {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Big Shoulders Display Thin'),
    local('BigShouldersDisplay-Thin'), url('./files/big-shoulders-display-latin-100-normal.woff2') format('woff2'), url('./files/big-shoulders-display-latin-100-normal.woff') format('woff');
  
}
/* big-shoulders-display-latin-300-normal*/
@font-face {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Big Shoulders Display Light'),
    local('BigShouldersDisplay-Light'), url('./files/big-shoulders-display-latin-300-normal.woff2') format('woff2'), url('./files/big-shoulders-display-latin-300-normal.woff') format('woff');
  
}
/* big-shoulders-display-latin-400-normal*/
@font-face {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Big Shoulders Display Regular'),
    local('BigShouldersDisplay-Regular'), url('./files/big-shoulders-display-latin-400-normal.woff2') format('woff2'), url('./files/big-shoulders-display-latin-400-normal.woff') format('woff');
  
}
/* big-shoulders-display-latin-500-normal*/
@font-face {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Big Shoulders Display Medium'),
    local('BigShouldersDisplay-Medium'), url('./files/big-shoulders-display-latin-500-normal.woff2') format('woff2'), url('./files/big-shoulders-display-latin-500-normal.woff') format('woff');
  
}
/* big-shoulders-display-latin-600-normal*/
@font-face {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Big Shoulders Display SemiBold'),
    local('BigShouldersDisplay-SemiBold'), url('./files/big-shoulders-display-latin-600-normal.woff2') format('woff2'), url('./files/big-shoulders-display-latin-600-normal.woff') format('woff');
  
}
/* big-shoulders-display-latin-700-normal*/
@font-face {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Big Shoulders Display Bold'),
    local('BigShouldersDisplay-Bold'), url('./files/big-shoulders-display-latin-700-normal.woff2') format('woff2'), url('./files/big-shoulders-display-latin-700-normal.woff') format('woff');
  
}
/* big-shoulders-display-latin-800-normal*/
@font-face {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Big Shoulders Display ExtraBold'),
    local('BigShouldersDisplay-ExtraBold'), url('./files/big-shoulders-display-latin-800-normal.woff2') format('woff2'), url('./files/big-shoulders-display-latin-800-normal.woff') format('woff');
  
}
/* big-shoulders-display-latin-900-normal*/
@font-face {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Big Shoulders Display Black'),
    local('BigShouldersDisplay-Black'), url('./files/big-shoulders-display-latin-900-normal.woff2') format('woff2'), url('./files/big-shoulders-display-latin-900-normal.woff') format('woff');
  
}
