@mixin fontFace(
  $fontName: "Almarai",
  $fontId: "almarai",
  $style: normal,
  $display: swap,
  $weight: 400,
  $fontDir: "~@fontsource/#{$fontId}/files",
  $unicodeMap: (arabic: (U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC))
) {
  @each $subset, $unicodeRangeValues in $unicodeMap {
    @font-face {
      font-family: "#{$fontName}";
      font-style: $style;
      font-display: $display;
      font-weight: $weight;
      src: url("#{$fontDir}/#{$fontId}-#{$subset}-#{$weight}-#{$style}.woff2")
          format("woff2"),
        url("#{$fontDir}/#{$fontId}-all-#{$weight}-#{$style}.woff")
          format("woff");
      unicode-range: $unicodeRangeValues;
    }
  }
}

@mixin fontFaceCustom(
  $fontName: "Almarai",
  $fontId: "almarai",
  $style: normal,
  $display: swap,
  $weight: 400,
  $woff2Path: "~@fontsource/#{$fontId}/files/#{$fontId}-arabic-#{$weight}-#{$style}.woff2",
  $woffPath: "~@fontsource/#{$fontId}/files/#{$fontId}-arabic-#{$weight}-#{$style}.woff",
  $unicodeRange: false,
  $unicodeRangeValues: (U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC)
) {
  @font-face {
    font-family: "#{$fontName}";
    font-style: $style;
    font-display: $display;
    font-weight: $weight;
    src: url("#{$woff2Path}") format("woff2"), url("#{$woffPath}") format("woff");
    @if $unicodeRange {
      unicode-range: $unicodeRangeValues;
    }
  }
}
