/* el-messiri-latin-700-normal*/
@font-face {
  font-family: 'El Messiri';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('El Messiri'),
    local('ElMessiri-Regular'), 
    url('./files/el-messiri-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/el-messiri-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
