/* passion-one-latin-ext-400-normal CSS File*/
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Passion One Regular'),
    local('PassionOne-Regular'), 
    url('./files/passion-one-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/passion-one-latin-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* passion-one-latin-ext-700-normal CSS File*/
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Passion One Bold'),
    local('PassionOne-Bold'), 
    url('./files/passion-one-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/passion-one-latin-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* passion-one-latin-ext-900-normal CSS File*/
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Passion One Black'),
    local('PassionOne-Black'), 
    url('./files/passion-one-latin-ext-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/passion-one-latin-ext-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
