/* taviraj-latin-100-italic*/
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Taviraj Thin Italic'),
    local('Taviraj-ThinItalic'), 
    url('./files/taviraj-latin-100-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-100-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* taviraj-latin-100-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Taviraj Thin'),
    local('Taviraj-Thin'), 
    url('./files/taviraj-latin-100-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-100-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* taviraj-latin-200-italic*/
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Taviraj ExtraLight Italic'),
    local('Taviraj-ExtraLightItalic'), 
    url('./files/taviraj-latin-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-200-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* taviraj-latin-200-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Taviraj ExtraLight'),
    local('Taviraj-ExtraLight'), 
    url('./files/taviraj-latin-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* taviraj-latin-300-italic*/
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Taviraj Light Italic'),
    local('Taviraj-LightItalic'), 
    url('./files/taviraj-latin-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* taviraj-latin-300-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Taviraj Light'),
    local('Taviraj-Light'), 
    url('./files/taviraj-latin-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* taviraj-latin-400-italic*/
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Taviraj Italic'),
    local('Taviraj-Italic'), 
    url('./files/taviraj-latin-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* taviraj-latin-400-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Taviraj Regular'),
    local('Taviraj-Regular'), 
    url('./files/taviraj-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* taviraj-latin-500-italic*/
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Taviraj Medium Italic'),
    local('Taviraj-MediumItalic'), 
    url('./files/taviraj-latin-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* taviraj-latin-500-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Taviraj Medium'),
    local('Taviraj-Medium'), 
    url('./files/taviraj-latin-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* taviraj-latin-600-italic*/
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Taviraj SemiBold Italic'),
    local('Taviraj-SemiBoldItalic'), 
    url('./files/taviraj-latin-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* taviraj-latin-600-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Taviraj SemiBold'),
    local('Taviraj-SemiBold'), 
    url('./files/taviraj-latin-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* taviraj-latin-700-italic*/
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Taviraj Bold Italic'),
    local('Taviraj-BoldItalic'), 
    url('./files/taviraj-latin-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* taviraj-latin-700-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Taviraj Bold'),
    local('Taviraj-Bold'), 
    url('./files/taviraj-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* taviraj-latin-800-italic*/
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Taviraj ExtraBold Italic'),
    local('Taviraj-ExtraBoldItalic'), 
    url('./files/taviraj-latin-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-800-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* taviraj-latin-800-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Taviraj ExtraBold'),
    local('Taviraj-ExtraBold'), 
    url('./files/taviraj-latin-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* taviraj-latin-900-italic*/
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Taviraj Black Italic'),
    local('Taviraj-BlackItalic'), 
    url('./files/taviraj-latin-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-900-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* taviraj-latin-900-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Taviraj Black'),
    local('Taviraj-Black'), 
    url('./files/taviraj-latin-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/taviraj-latin-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
