/* taviraj-latin-100-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Taviraj Thin'),
    local('Taviraj-Thin'), url('./files/taviraj-latin-100-normal.woff2') format('woff2'), url('./files/taviraj-latin-100-normal.woff') format('woff');
  
}
/* taviraj-latin-200-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Taviraj ExtraLight'),
    local('Taviraj-ExtraLight'), url('./files/taviraj-latin-200-normal.woff2') format('woff2'), url('./files/taviraj-latin-200-normal.woff') format('woff');
  
}
/* taviraj-latin-300-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Taviraj Light'),
    local('Taviraj-Light'), url('./files/taviraj-latin-300-normal.woff2') format('woff2'), url('./files/taviraj-latin-300-normal.woff') format('woff');
  
}
/* taviraj-latin-400-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Taviraj Regular'),
    local('Taviraj-Regular'), url('./files/taviraj-latin-400-normal.woff2') format('woff2'), url('./files/taviraj-latin-400-normal.woff') format('woff');
  
}
/* taviraj-latin-500-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Taviraj Medium'),
    local('Taviraj-Medium'), url('./files/taviraj-latin-500-normal.woff2') format('woff2'), url('./files/taviraj-latin-500-normal.woff') format('woff');
  
}
/* taviraj-latin-600-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Taviraj SemiBold'),
    local('Taviraj-SemiBold'), url('./files/taviraj-latin-600-normal.woff2') format('woff2'), url('./files/taviraj-latin-600-normal.woff') format('woff');
  
}
/* taviraj-latin-700-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Taviraj Bold'),
    local('Taviraj-Bold'), url('./files/taviraj-latin-700-normal.woff2') format('woff2'), url('./files/taviraj-latin-700-normal.woff') format('woff');
  
}
/* taviraj-latin-800-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Taviraj ExtraBold'),
    local('Taviraj-ExtraBold'), url('./files/taviraj-latin-800-normal.woff2') format('woff2'), url('./files/taviraj-latin-800-normal.woff') format('woff');
  
}
/* taviraj-latin-900-normal*/
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Taviraj Black'),
    local('Taviraj-Black'), url('./files/taviraj-latin-900-normal.woff2') format('woff2'), url('./files/taviraj-latin-900-normal.woff') format('woff');
  
}
