/* DocsHeader */
.title {
	color: var(--mantine-color-purple-0);
}

.search-button {
	height: 40px;
	width: 240px;

	padding: 8px 16px;
	gap: 10px;

	border-radius: 4px;

	font-size: 15px;

	background-color: light-dark(var(--mantine-color-background-2), var(--mantine-color-background-6));
	color: light-dark(var(--mantine-color-text-1), var(--mantine-color-text-0));

	p {
		opacity: 0.5;
	}

	@media (--lt-sm) {
		display: none;
	}
}

.docsearch {
	--docsearch-primary-color: var(--mantine-color-purple-0);
	--docsearch-container-background: rgba(52, 58, 70, 0.8);
	--docsearch-modal-shadow: none;
	--docsearch-searchbox-shadow: 0 0 0 2px var(--mantine-color-purpleHover-5);
	--docsearch-hit-height: 48px;
	--docsearch-searchbox-height: 64px;

	--docsearch-modal-background: light-dark(var(--mantine-color-background-0), var(--mantine-color-background-5));
	--docsearch-highlight-color: var(--mantine-color-purple-0);
	--docsearch-hit-background: light-dark(var(--mantine-color-background-1), var(--mantine-color-background-6));
	--docsearch-text-color: light-dark(var(--mantine-color-text-1), var(--mantine-color-text-0));
	--docsearch-hit-color: light-dark(var(--mantine-color-text-1), rgba(255, 255, 255, 0.7));

	header {
		border-radius: 16px 16px 0 0;
		padding-bottom: 16px;
		background-color: var(--docsearch-modal-background);

		form {
			background-color: light-dark(var(--mantine-color-background-0), var(--mantine-color-background-5));
			color: light-dark(var(--mantine-color-text-1), var(--mantine-color-text-0));
		}
	}

	li {
		padding-bottom: 10px;

		a {
			box-shadow: none;
		}
	}

	footer {
		background-color: light-dark(var(--mantine-color-background-0), var(--mantine-color-background-5));
		color: light-dark(var(--mantine-color-text-1), var(--mantine-color-text-0));
		border-top: light-dark(none, 2px solid var(--mantine-color-background-3));
		box-shadow: light-dark(initial, none);

		li {
			padding-bottom: 0;
		}
	}
}
