/* TableOfContents */
.nav {
	margin-top: 30px;
	margin-left: auto;
	position: sticky;
	width: 240px;
	top: 40px;
	right: 0;
}

.wrapper {
	box-sizing: border-box;
	position: sticky;
	top: var(--mantine-spacing-xl);
	margin-top: 10px;
}

.nested-wrapper {
	box-sizing: border-box;
}
