/* spectral-latin-ext-800-normal*/
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Spectral ExtraBold'),
    local('Spectral-ExtraBold'), 
    url('./files/spectral-latin-ext-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/spectral-latin-ext-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
