/* mukta-malar-latin-200-normal*/
@font-face {
  font-family: 'Mukta Malar';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Mukta Malar ExtraLight'),
    local('MuktaMalar-ExtraLight'), url('./files/mukta-malar-latin-200-normal.woff2') format('woff2'), url('./files/mukta-malar-latin-200-normal.woff') format('woff');
  
}
/* mukta-malar-latin-300-normal*/
@font-face {
  font-family: 'Mukta Malar';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Mukta Malar Light'),
    local('MuktaMalar-Light'), url('./files/mukta-malar-latin-300-normal.woff2') format('woff2'), url('./files/mukta-malar-latin-300-normal.woff') format('woff');
  
}
/* mukta-malar-latin-400-normal*/
@font-face {
  font-family: 'Mukta Malar';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Mukta Malar Regular'),
    local('MuktaMalar-Regular'), url('./files/mukta-malar-latin-400-normal.woff2') format('woff2'), url('./files/mukta-malar-latin-400-normal.woff') format('woff');
  
}
/* mukta-malar-latin-500-normal*/
@font-face {
  font-family: 'Mukta Malar';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Mukta Malar Medium'),
    local('MuktaMalar-Medium'), url('./files/mukta-malar-latin-500-normal.woff2') format('woff2'), url('./files/mukta-malar-latin-500-normal.woff') format('woff');
  
}
/* mukta-malar-latin-600-normal*/
@font-face {
  font-family: 'Mukta Malar';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Mukta Malar SemiBold'),
    local('MuktaMalar-SemiBold'), url('./files/mukta-malar-latin-600-normal.woff2') format('woff2'), url('./files/mukta-malar-latin-600-normal.woff') format('woff');
  
}
/* mukta-malar-latin-700-normal*/
@font-face {
  font-family: 'Mukta Malar';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Mukta Malar Bold'),
    local('MuktaMalar-Bold'), url('./files/mukta-malar-latin-700-normal.woff2') format('woff2'), url('./files/mukta-malar-latin-700-normal.woff') format('woff');
  
}
/* mukta-malar-latin-800-normal*/
@font-face {
  font-family: 'Mukta Malar';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Mukta Malar ExtraBold'),
    local('MuktaMalar-ExtraBold'), url('./files/mukta-malar-latin-800-normal.woff2') format('woff2'), url('./files/mukta-malar-latin-800-normal.woff') format('woff');
  
}
