/* Filters */
.container {
	height: 128px;
	border-radius: 4px;

	background-color: light-dark(var(--mantine-color-background-0), var(--mantine-color-background-4));
}

.filters {
	display: flex;
	height: 64px;
	align-items: center;
	gap: 24px;
	justify-content: space-between;
	padding: 0 24px;

	overflow-x: auto;
	overflow-y: hidden;

	&:focus-within {
		border-bottom-color: var(--mantine-color-purple-0);
	}

	background-color: light-dark(var(--mantine-color-background-0), var(--mantine-color-background-4));
}

.button {
	padding: 2px 16px;
	height: 40px;

	font-weight: 400;

	color: light-dark(var(--mantine-color-text-1), var(--mantine-color-text-0));
	background-color: light-dark(var(--mantine-color-background-0), var(--mantine-color-background-4));

	&:hover {
		background-color: light-dark(var(--mantine-color-purple-hover), var(--mantine-color-background-6));
	}
}
