/* PreviewTextInput */
.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 24px;

	@mixin light {
		background-color: var(--mantine-color-background-0);
		border-bottom: 1px solid var(--mantine-color-border-0);
		border-left: 1px solid var(--mantine-color-border-0);
		border-right: 1px solid var(--mantine-color-border-0);

		&:focus-within {
			border-bottom-color: var(--mantine-color-purple);
		}
	}

	@mixin dark {
		background-color: var(--mantine-color-background-4);
		border-bottom: 1px solid var(--mantine-color-border-1);
		border-left: 1px solid var(--mantine-color-border-1);
		border-right: 1px solid var(--mantine-color-border-1);

		&:focus-within {
			border-bottom-color: var(--mantine-color-purple);
		}
	}

	@media (max-width: $mantine-breakpoint-md) {
		border-right: none;
	}

	@media (max-width: $mantine-breakpoint-sm) {
		display: none;
	}
}

.button {
	padding: 2px 16px;
	height: 40px;

	font-weight: 400;

	@mixin light {
		color: var(--mantine-color-text-1);
		background-color: var(--mantine-color-background-0);

		&:hover {
			background-color: var(--mantine-color-purple-hover);
		}
	}

	@mixin dark {
		color: var(--mantine-color-text-0);
		background-color: var(--mantine-color-background-4);

		&:hover {
			background-color: var(--mantine-color-background-6);
		}
	}
}

.separator {
	box-sizing: border-box;
	text-align: left;
	width: 100%;
	padding: 0 rem(2px);
}

.separator-label {
	@mixin light {
		color: var(--mantine-color-gray-5);
	}

	@mixin dark {
		color: var(--mantine-color-dark-3);
	}
}
