.button {
	position: fixed;

	bottom: 30px;
	right: 55px;

	height: 56px;
	width: 56px;
	border-radius: 48px;

	@media (--gt-xs) {
		right: 60px;
	}

	@media (--gt-sm) {
		bottom: 24px;
		right: 56px;
	}

	@media (--gt-md) {
		right: 56px;
	}

	@media (--gt-lg) {
		right: 100px;
	}

	@media (--gt-xl) {
		right: 80px;
	}
}
