/* SearchTextInput */

.root {
	height: rem(64px);
}

.wrapper {
	height: rem(64px);
	border-radius: 4px 0 0 0;

	@mixin light {
		border-bottom: 1px solid var(--mantine-color-border-0);

		&:focus-within {
			border-color: var(--mantine-color-purple-0);
		}
	}

	@mixin dark {
		border-bottom: 1px solid var(--mantine-color-border-1);

		&:focus-within {
			border-color: var(--mantine-color-purple-0);
		}
	}
}

.left {
	margin-right: -20px;
}

.input {
	height: 100%;
}
