/* SideSlider */

.wrapper {
	padding: 0 30px;

	border-radius: 0 4px 0 0;

	background-color: light-dark(var(--mantine-color-background-0), var(--mantine-color-background-4));
	border-bottom: light-dark(1px solid #e1e3ec, 1px solid #2c3651);

	&:focus-within {
		border-color: var(--mantine-color-purple);
	}

	@media (--lt-md) {
		display: none;
	}
}

.inner {
	height: 100%;
}

.col {
	margin-top: auto;
	margin-bottom: auto;
}

.bar {
	background-color: var(--mantine-color-purple-0);
}
