/* Sort */

.wrapper {
	display: flex;
	height: rem(64px);
	align-items: center;
	justify-content: space-between;
	padding-bottom: rem(10px);

	&:focus-within {
		border-bottom-color: var(--mantine-color-purple-0);
	}

	@mixin light {
		background-color: var(--mantine-color-background-0);
	}

	@mixin dark {
		background-color: var(--mantine-color-background-4);
	}
}

.display-group {
	display: flex;

	@media (max-width: $mantine-breakpoint-sm) {
		display: none;
	}
}

.control {
	border-radius: 6px;

	@mixin light {
		background-color: var(--mantine-color-button-0);
	}

	@mixin dark {
		background-color: var(--mantine-color-button-1);
	}

	label {
		padding: rem(5px);

		span {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
