/* alegreya-greek-400-normal*/
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Alegreya Regular'),
    local('Alegreya-Regular'), url('./files/alegreya-greek-400-normal.woff2') format('woff2'), url('./files/alegreya-greek-400-normal.woff') format('woff');
  
}
/* alegreya-greek-500-normal*/
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Alegreya Medium'),
    local('Alegreya-Medium'), url('./files/alegreya-greek-500-normal.woff2') format('woff2'), url('./files/alegreya-greek-500-normal.woff') format('woff');
  
}
/* alegreya-greek-700-normal*/
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Alegreya Bold'),
    local('Alegreya-Bold'), url('./files/alegreya-greek-700-normal.woff2') format('woff2'), url('./files/alegreya-greek-700-normal.woff') format('woff');
  
}
/* alegreya-greek-800-normal*/
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Alegreya ExtraBold'),
    local('Alegreya-ExtraBold'), url('./files/alegreya-greek-800-normal.woff2') format('woff2'), url('./files/alegreya-greek-800-normal.woff') format('woff');
  
}
/* alegreya-greek-900-normal*/
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Alegreya Black'),
    local('Alegreya-Black'), url('./files/alegreya-greek-900-normal.woff2') format('woff2'), url('./files/alegreya-greek-900-normal.woff') format('woff');
  
}
