/* acme-latin-400-normal*/
@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Acme Regular'),
    local('Acme-Regular'), url('./files/acme-latin-400-normal.woff2') format('woff2'), url('./files/acme-latin-400-normal.woff') format('woff');
  
}
