/* Blockquote */

.wrapper {
	margin: 20px 0;
	padding: 16px;
	border-radius: 0 4px 4px 0;
	border-left: 3px solid var(--mantine-color-purple-0);

	@mixin light {
		background-color: var(--mantine-color-background-1);
	}

	@mixin dark {
		background-color: var(--mantine-color-background-5);
	}
}
