/* Dropdown */

.input {
	border: 1px solid var(--mantine-color-border-0);

	@mixin light {
		&:hover {
			background-color: var(--mantine-color-purple-hover);
		}
	}

	@mixin dark {
		&:hover {
			background-color: #172138;
		}
	}
}

.option {
	text-transform: capitalize;
}
