/* hind-siliguri-bengali-300-normal*/
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Hind Siliguri Light'),
    local('HindSiliguri-Light'), url('./files/hind-siliguri-bengali-300-normal.woff2') format('woff2'), url('./files/hind-siliguri-bengali-300-normal.woff') format('woff');
  
}
