/* david-libre-vietnamese-400-normal*/
@font-face {
  font-family: 'David Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('David Libre'),
    local('DavidLibre-Regular'), url('./files/david-libre-vietnamese-400-normal.woff2') format('woff2'), url('./files/david-libre-vietnamese-400-normal.woff') format('woff');
  
}
/* david-libre-vietnamese-500-normal*/
@font-face {
  font-family: 'David Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('David Libre Medium'),
    local('DavidLibre-Medium'), url('./files/david-libre-vietnamese-500-normal.woff2') format('woff2'), url('./files/david-libre-vietnamese-500-normal.woff') format('woff');
  
}
/* david-libre-vietnamese-700-normal*/
@font-face {
  font-family: 'David Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('David Libre Bold'),
    local('DavidLibre-Bold'), url('./files/david-libre-vietnamese-700-normal.woff2') format('woff2'), url('./files/david-libre-vietnamese-700-normal.woff') format('woff');
  
}
