/* cormorant-unicase-cyrillic-ext-300-normal*/
@font-face {
  font-family: 'Cormorant Unicase';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Cormorant Unicase Light'),
    local('CormorantUnicase-Light'), url('./files/cormorant-unicase-cyrillic-ext-300-normal.woff2') format('woff2'), url('./files/cormorant-unicase-cyrillic-ext-300-normal.woff') format('woff');
  
}
/* cormorant-unicase-cyrillic-ext-400-normal*/
@font-face {
  font-family: 'Cormorant Unicase';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cormorant Unicase Regular'),
    local('CormorantUnicase-Regular'), url('./files/cormorant-unicase-cyrillic-ext-400-normal.woff2') format('woff2'), url('./files/cormorant-unicase-cyrillic-ext-400-normal.woff') format('woff');
  
}
/* cormorant-unicase-cyrillic-ext-500-normal*/
@font-face {
  font-family: 'Cormorant Unicase';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Cormorant Unicase Medium'),
    local('CormorantUnicase-Medium'), url('./files/cormorant-unicase-cyrillic-ext-500-normal.woff2') format('woff2'), url('./files/cormorant-unicase-cyrillic-ext-500-normal.woff') format('woff');
  
}
/* cormorant-unicase-cyrillic-ext-600-normal*/
@font-face {
  font-family: 'Cormorant Unicase';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Cormorant Unicase SemiBold'),
    local('CormorantUnicase-SemiBold'), url('./files/cormorant-unicase-cyrillic-ext-600-normal.woff2') format('woff2'), url('./files/cormorant-unicase-cyrillic-ext-600-normal.woff') format('woff');
  
}
/* cormorant-unicase-cyrillic-ext-700-normal*/
@font-face {
  font-family: 'Cormorant Unicase';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cormorant Unicase Bold'),
    local('CormorantUnicase-Bold'), url('./files/cormorant-unicase-cyrillic-ext-700-normal.woff2') format('woff2'), url('./files/cormorant-unicase-cyrillic-ext-700-normal.woff') format('woff');
  
}
