/* cormorant-unicase-latin-700-normal*/
@font-face {
  font-family: 'Cormorant Unicase';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cormorant Unicase Light'),
    local('CormorantUnicase-Light'), 
    url('./files/cormorant-unicase-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cormorant-unicase-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
