/* cormorant-unicase-vietnamese-300-normal*/
@font-face {
  font-family: 'Cormorant Unicase';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Cormorant Unicase Light'),
    local('CormorantUnicase-Light'), url('./files/cormorant-unicase-vietnamese-300-normal.woff2') format('woff2'), url('./files/cormorant-unicase-vietnamese-300-normal.woff') format('woff');
  
}
