/* abhaya-libre-latin-400-normal*/
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Abhaya Libre Regular'),
    local('AbhayaLibre-Regular'), url('./files/abhaya-libre-latin-400-normal.woff2') format('woff2'), url('./files/abhaya-libre-latin-400-normal.woff') format('woff');
  
}
/* abhaya-libre-latin-500-normal*/
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Abhaya Libre Medium'),
    local('AbhayaLibre-Medium'), url('./files/abhaya-libre-latin-500-normal.woff2') format('woff2'), url('./files/abhaya-libre-latin-500-normal.woff') format('woff');
  
}
/* abhaya-libre-latin-600-normal*/
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Abhaya Libre SemiBold'),
    local('AbhayaLibre-SemiBold'), url('./files/abhaya-libre-latin-600-normal.woff2') format('woff2'), url('./files/abhaya-libre-latin-600-normal.woff') format('woff');
  
}
/* abhaya-libre-latin-700-normal*/
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Abhaya Libre Bold'),
    local('AbhayaLibre-Bold'), url('./files/abhaya-libre-latin-700-normal.woff2') format('woff2'), url('./files/abhaya-libre-latin-700-normal.woff') format('woff');
  
}
/* abhaya-libre-latin-800-normal*/
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Abhaya Libre ExtraBold'),
    local('AbhayaLibre-ExtraBold'), url('./files/abhaya-libre-latin-800-normal.woff2') format('woff2'), url('./files/abhaya-libre-latin-800-normal.woff') format('woff');
  
}
