/* karma-devanagari-300-normal CSS*/
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Karma Light'),
    local('Karma-Light'), 
    url('./files/karma-devanagari-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/karma-devanagari-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karma-devanagari-400-normal CSS*/
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Karma Regular'),
    local('Karma-Regular'), 
    url('./files/karma-devanagari-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/karma-devanagari-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karma-devanagari-500-normal CSS*/
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Karma Medium'),
    local('Karma-Medium'), 
    url('./files/karma-devanagari-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/karma-devanagari-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karma-devanagari-600-normal CSS*/
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Karma SemiBold'),
    local('Karma-SemiBold'), 
    url('./files/karma-devanagari-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/karma-devanagari-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karma-devanagari-700-normal CSS*/
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Karma Bold'),
    local('Karma-Bold'), 
    url('./files/karma-devanagari-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/karma-devanagari-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
