/* hind-vadodara-latin-ext-300-normal*/
@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Hind Vadodara Light'),
    local('HindVadodara-Light'), url('./files/hind-vadodara-latin-ext-300-normal.woff2') format('woff2'), url('./files/hind-vadodara-latin-ext-300-normal.woff') format('woff');
  
}
