/* cormorant-infant-cyrillic-ext-300-normal*/
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Cormorant Infant Light'),
    local('CormorantInfant-Light'), 
    url('./files/cormorant-infant-cyrillic-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cormorant-infant-cyrillic-ext-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cormorant-infant-cyrillic-ext-300-italic*/
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Cormorant Infant Light Italic'),
    local('CormorantInfant-LightItalic'), 
    url('./files/cormorant-infant-cyrillic-ext-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cormorant-infant-cyrillic-ext-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cormorant-infant-cyrillic-ext-400-normal*/
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cormorant Infant Regular'),
    local('CormorantInfant-Regular'), 
    url('./files/cormorant-infant-cyrillic-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cormorant-infant-cyrillic-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cormorant-infant-cyrillic-ext-400-italic*/
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cormorant Infant Italic'),
    local('CormorantInfant-Italic'), 
    url('./files/cormorant-infant-cyrillic-ext-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cormorant-infant-cyrillic-ext-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cormorant-infant-cyrillic-ext-500-normal*/
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Cormorant Infant Medium'),
    local('CormorantInfant-Medium'), 
    url('./files/cormorant-infant-cyrillic-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cormorant-infant-cyrillic-ext-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cormorant-infant-cyrillic-ext-500-italic*/
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Cormorant Infant Medium Italic'),
    local('CormorantInfant-MediumItalic'), 
    url('./files/cormorant-infant-cyrillic-ext-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cormorant-infant-cyrillic-ext-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cormorant-infant-cyrillic-ext-600-normal*/
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Cormorant Infant SemiBold'),
    local('CormorantInfant-SemiBold'), 
    url('./files/cormorant-infant-cyrillic-ext-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cormorant-infant-cyrillic-ext-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cormorant-infant-cyrillic-ext-600-italic*/
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Cormorant Infant SemiBold Italic'),
    local('CormorantInfant-SemiBoldItalic'), 
    url('./files/cormorant-infant-cyrillic-ext-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cormorant-infant-cyrillic-ext-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cormorant-infant-cyrillic-ext-700-normal*/
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cormorant Infant Bold'),
    local('CormorantInfant-Bold'), 
    url('./files/cormorant-infant-cyrillic-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cormorant-infant-cyrillic-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cormorant-infant-cyrillic-ext-700-italic*/
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cormorant Infant Bold Italic'),
    local('CormorantInfant-BoldItalic'), 
    url('./files/cormorant-infant-cyrillic-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cormorant-infant-cyrillic-ext-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
