/* dm-serif-display-latin-ext-400-normal*/
@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('DM Serif Display Regular'),
    local('DMSerifDisplay-Regular'), 
    url('./files/dm-serif-display-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/dm-serif-display-latin-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-serif-display-latin-ext-400-italic*/
@font-face {
  font-family: 'DM Serif Display';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('DM Serif Display Italic'),
    local('DMSerifDisplay-Italic'), 
    url('./files/dm-serif-display-latin-ext-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/dm-serif-display-latin-ext-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
