/* libre-barcode-ean13-text-latin-400-normal*/
@font-face {
  font-family: 'Libre Barcode EAN13 Text';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Libre Barcode EAN13 Text Regular'),
    local('LibreBarcodeEAN13Text-Regular'), url('./files/libre-barcode-ean13-text-latin-400-normal.woff2') format('woff2'), url('./files/libre-barcode-ean13-text-latin-400-normal.woff') format('woff');
  
}
