/* ibarra-real-nova-latin-ext-700-normal*/
@font-face {
  font-family: 'Ibarra Real Nova';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Ibarra Real Nova Bold'),
    local('IbarraRealNova-Bold'), 
    url('./files/ibarra-real-nova-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/ibarra-real-nova-latin-ext-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/ibarra-real-nova-latin-ext-700-normal.ttf') format('truetype');
}
