/* ibarra-real-nova-latin-ext-400-italic*/
@font-face {
  font-family: 'Ibarra Real Nova';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Ibarra Real Nova Italic'),
    local('IbarraRealNova-Italic'), 
    url('./files/ibarra-real-nova-latin-ext-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/ibarra-real-nova-latin-ext-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibarra-real-nova-latin-ext-400-normal*/
@font-face {
  font-family: 'Ibarra Real Nova';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Ibarra Real Nova Regular'),
    local('IbarraRealNova-Regular'), 
    url('./files/ibarra-real-nova-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/ibarra-real-nova-latin-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibarra-real-nova-latin-ext-600-italic*/
@font-face {
  font-family: 'Ibarra Real Nova';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Ibarra Real Nova SemiBold Italic'),
    local('IbarraRealNova-SemiBoldItalic'), 
    url('./files/ibarra-real-nova-latin-ext-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/ibarra-real-nova-latin-ext-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibarra-real-nova-latin-ext-600-normal*/
@font-face {
  font-family: 'Ibarra Real Nova';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Ibarra Real Nova SemiBold'),
    local('IbarraRealNova-SemiBold'), 
    url('./files/ibarra-real-nova-latin-ext-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/ibarra-real-nova-latin-ext-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibarra-real-nova-latin-ext-700-italic*/
@font-face {
  font-family: 'Ibarra Real Nova';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Ibarra Real Nova Bold Italic'),
    local('IbarraRealNova-BoldItalic'), 
    url('./files/ibarra-real-nova-latin-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/ibarra-real-nova-latin-ext-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibarra-real-nova-latin-ext-700-normal*/
@font-face {
  font-family: 'Ibarra Real Nova';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Ibarra Real Nova Bold'),
    local('IbarraRealNova-Bold'), 
    url('./files/ibarra-real-nova-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/ibarra-real-nova-latin-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
