/* gothic-a1-latin-700-normal*/
@font-face {
  font-family: 'Gothic A1';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Gothic A1 Bold'),
    local('GothicA1-Bold'), 
    url('./files/gothic-a1-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/gothic-a1-latin-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/gothic-a1-latin-700-normal.ttf') format('truetype');
}
