/* gothic-a1-latin-600-normal*/
@font-face {
  font-family: 'Gothic A1';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Gothic A1 SemiBold'),
    local('GothicA1-SemiBold'), url('./files/gothic-a1-latin-600-normal.woff2') format('woff2'), url('./files/gothic-a1-latin-600-normal.woff') format('woff');
  
}
