/* noto-serif-nyiakeng-puachue-hmong-nyiakeng-puachue-hmong-600-normal*/
@font-face {
  font-family: 'Noto Serif Nyiakeng Puachue Hmong';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('./files/noto-serif-nyiakeng-puachue-hmong-nyiakeng-puachue-hmong-600-normal.woff2') format('woff2'), url('./files/noto-serif-nyiakeng-puachue-hmong-nyiakeng-puachue-hmong-600-normal.woff') format('woff');
  
}
