/* charm-latin-700-normal*/
@font-face {
  font-family: 'Charm';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Charm Bold'),
    local('Charm-Bold'), url('./files/charm-latin-700-normal.woff2') format('woff2'), url('./files/charm-latin-700-normal.woff') format('woff');
  
}
