/* goldman-vietnamese-700-normal*/
@font-face {
  font-family: 'Goldman';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Goldman Bold'),
    local('Goldman-Bold'), url('./files/goldman-vietnamese-700-normal.woff2') format('woff2'), url('./files/goldman-vietnamese-700-normal.woff') format('woff');
  
}
