/* eagle-lake-latin-400-normal*/
@font-face {
  font-family: 'Eagle Lake';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Eagle Lake'),
    local('EagleLake-Regular'), 
    url('./files/eagle-lake-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/eagle-lake-latin-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/eagle-lake-latin-400-normal.ttf') format('truetype');
}
