/* atma-latin-ext-300-normal*/
@font-face {
  font-family: 'Atma';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Atma Light'),
    local('Atma-Light'), url('./files/atma-latin-ext-300-normal.woff2') format('woff2'), url('./files/atma-latin-ext-300-normal.woff') format('woff');
  
}
