/* alegreya-sans-cyrillic-700-normal*/
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Alegreya Sans Bold'),
    local('AlegreyaSans-Bold'), url('./files/alegreya-sans-cyrillic-700-normal.woff2') format('woff2'), url('./files/alegreya-sans-cyrillic-700-normal.woff') format('woff');
  
}
