/* alegreya-sans-cyrillic-ext-100-normal*/
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Alegreya Sans Thin'),
    local('AlegreyaSans-Thin'), 
    url('./files/alegreya-sans-cyrillic-ext-100-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-cyrillic-ext-100-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-cyrillic-ext-300-normal*/
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Alegreya Sans Light'),
    local('AlegreyaSans-Light'), 
    url('./files/alegreya-sans-cyrillic-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-cyrillic-ext-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-cyrillic-ext-400-normal*/
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Alegreya Sans Regular'),
    local('AlegreyaSans-Regular'), 
    url('./files/alegreya-sans-cyrillic-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-cyrillic-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-cyrillic-ext-500-normal*/
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Alegreya Sans Medium'),
    local('AlegreyaSans-Medium'), 
    url('./files/alegreya-sans-cyrillic-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-cyrillic-ext-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-cyrillic-ext-700-normal*/
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Alegreya Sans Bold'),
    local('AlegreyaSans-Bold'), 
    url('./files/alegreya-sans-cyrillic-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-cyrillic-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-cyrillic-ext-800-normal*/
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Alegreya Sans ExtraBold'),
    local('AlegreyaSans-ExtraBold'), 
    url('./files/alegreya-sans-cyrillic-ext-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-cyrillic-ext-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-cyrillic-ext-900-normal*/
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Alegreya Sans Black'),
    local('AlegreyaSans-Black'), 
    url('./files/alegreya-sans-cyrillic-ext-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-cyrillic-ext-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
