/* alegreya-sans-cyrillic-ext-700-normal*/
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Alegreya Sans Bold'),
    local('AlegreyaSans-Bold'), 
    url('./files/alegreya-sans-cyrillic-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-cyrillic-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-cyrillic-ext-700-italic*/
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Alegreya Sans Bold Italic'),
    local('AlegreyaSans-BoldItalic'), 
    url('./files/alegreya-sans-cyrillic-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-cyrillic-ext-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
