/* noto-sans-hk-chinese-hongkong-100-normal CSS*/
@font-face {
  font-family: 'Noto Sans HK';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Noto Sans HK Thin'),
    local('NotoSansHK-Thin'), 
    url('./files/noto-sans-hk-chinese-hongkong-100-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-sans-hk-chinese-hongkong-100-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-hk-chinese-hongkong-300-normal CSS*/
@font-face {
  font-family: 'Noto Sans HK';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Noto Sans HK Light'),
    local('NotoSansHK-Light'), 
    url('./files/noto-sans-hk-chinese-hongkong-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-sans-hk-chinese-hongkong-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-hk-chinese-hongkong-400-normal CSS*/
@font-face {
  font-family: 'Noto Sans HK';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Noto Sans HK Regular'),
    local('NotoSansHK-Regular'), 
    url('./files/noto-sans-hk-chinese-hongkong-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-sans-hk-chinese-hongkong-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-hk-chinese-hongkong-500-normal CSS*/
@font-face {
  font-family: 'Noto Sans HK';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Noto Sans HK Medium'),
    local('NotoSansHK-Medium'), 
    url('./files/noto-sans-hk-chinese-hongkong-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-sans-hk-chinese-hongkong-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-hk-chinese-hongkong-700-normal CSS*/
@font-face {
  font-family: 'Noto Sans HK';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Noto Sans HK Bold'),
    local('NotoSansHK-Bold'), 
    url('./files/noto-sans-hk-chinese-hongkong-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-sans-hk-chinese-hongkong-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-hk-chinese-hongkong-900-normal CSS*/
@font-face {
  font-family: 'Noto Sans HK';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Noto Sans HK Black'),
    local('NotoSansHK-Black'), 
    url('./files/noto-sans-hk-chinese-hongkong-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-sans-hk-chinese-hongkong-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
