/* noto-sans-hk-latin-700-normal*/
@font-face {
  font-family: 'Noto Sans HK';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Noto Sans HK Bold'),
    local('NotoSansHK-Bold'), 
    url('./files/noto-sans-hk-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-sans-hk-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
