/* vollkorn-cyrillic-ext-400-normal CSS File*/
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
    url('./files/vollkorn-cyrillic-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/vollkorn-cyrillic-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vollkorn-cyrillic-ext-400-italic CSS File*/
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: 
    url('./files/vollkorn-cyrillic-ext-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/vollkorn-cyrillic-ext-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vollkorn-cyrillic-ext-500-normal CSS File*/
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: 
    url('./files/vollkorn-cyrillic-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/vollkorn-cyrillic-ext-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vollkorn-cyrillic-ext-500-italic CSS File*/
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: 
    url('./files/vollkorn-cyrillic-ext-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/vollkorn-cyrillic-ext-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vollkorn-cyrillic-ext-600-normal CSS File*/
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: 
    url('./files/vollkorn-cyrillic-ext-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/vollkorn-cyrillic-ext-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vollkorn-cyrillic-ext-600-italic CSS File*/
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: 
    url('./files/vollkorn-cyrillic-ext-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/vollkorn-cyrillic-ext-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vollkorn-cyrillic-ext-700-normal CSS File*/
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: 
    url('./files/vollkorn-cyrillic-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/vollkorn-cyrillic-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vollkorn-cyrillic-ext-700-italic CSS File*/
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: 
    url('./files/vollkorn-cyrillic-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/vollkorn-cyrillic-ext-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vollkorn-cyrillic-ext-800-normal CSS File*/
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: 
    url('./files/vollkorn-cyrillic-ext-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/vollkorn-cyrillic-ext-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vollkorn-cyrillic-ext-800-italic CSS File*/
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: 
    url('./files/vollkorn-cyrillic-ext-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/vollkorn-cyrillic-ext-800-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vollkorn-cyrillic-ext-900-normal CSS File*/
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: 
    url('./files/vollkorn-cyrillic-ext-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/vollkorn-cyrillic-ext-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vollkorn-cyrillic-ext-900-italic CSS File*/
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: 
    url('./files/vollkorn-cyrillic-ext-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/vollkorn-cyrillic-ext-900-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
