.dropzone {
	background-color: light-dark(var(--mantine-color-background-1), var(--mantine-color-background-5));
	border-radius: var(--mantine-radius-md);
	transition: background-color 150ms ease;
}

.idleIcon {
	width: 52px;
	height: 52px;
	color: var(--mantine-color-dimmed);
}

.acceptIcon {
	width: 52px;
	height: 52px;
	color: var(--mantine-color-blue-6);
}

.rejectIcon {
	width: 52px;
	height: 52px;
	color: var(--mantine-color-red-6);
}
