.toolCard {
	text-decoration: none;
	color: inherit;
	transition: all 150ms ease;
	border: 1px solid light-dark(var(--mantine-color-border-0), var(--mantine-color-border-1));
	border-radius: var(--mantine-radius-lg);
	background-color: light-dark(var(--mantine-color-background-1), var(--mantine-color-background-4));

	&:hover {
		text-decoration: none;
		background-color: light-dark(var(--mantine-color-background-2), var(--mantine-color-background-5));
		transform: translateY(-1px);
	}

	&:focus-visible {
		outline: 2px solid var(--mantine-color-purpleHover-2);
		outline-offset: -3px;
	}
}
