/* big-shoulders-stencil-text-latin-100-normal*/
@font-face {
  font-family: 'Big Shoulders Stencil Text';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Big Shoulders Stencil Text Thin'),
    local('BigShouldersStencilText-Thin'), 
    url('./files/big-shoulders-stencil-text-latin-100-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/big-shoulders-stencil-text-latin-100-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* big-shoulders-stencil-text-latin-300-normal*/
@font-face {
  font-family: 'Big Shoulders Stencil Text';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Big Shoulders Stencil Text Light'),
    local('BigShouldersStencilText-Light'), 
    url('./files/big-shoulders-stencil-text-latin-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/big-shoulders-stencil-text-latin-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* big-shoulders-stencil-text-latin-400-normal*/
@font-face {
  font-family: 'Big Shoulders Stencil Text';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Big Shoulders Stencil Text Regular'),
    local('BigShouldersStencilText-Regular'), 
    url('./files/big-shoulders-stencil-text-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/big-shoulders-stencil-text-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* big-shoulders-stencil-text-latin-500-normal*/
@font-face {
  font-family: 'Big Shoulders Stencil Text';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Big Shoulders Stencil Text Medium'),
    local('BigShouldersStencilText-Medium'), 
    url('./files/big-shoulders-stencil-text-latin-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/big-shoulders-stencil-text-latin-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* big-shoulders-stencil-text-latin-600-normal*/
@font-face {
  font-family: 'Big Shoulders Stencil Text';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Big Shoulders Stencil Text SemiBold'),
    local('BigShouldersStencilText-SemiBold'), 
    url('./files/big-shoulders-stencil-text-latin-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/big-shoulders-stencil-text-latin-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* big-shoulders-stencil-text-latin-700-normal*/
@font-face {
  font-family: 'Big Shoulders Stencil Text';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Big Shoulders Stencil Text Bold'),
    local('BigShouldersStencilText-Bold'), 
    url('./files/big-shoulders-stencil-text-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/big-shoulders-stencil-text-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* big-shoulders-stencil-text-latin-800-normal*/
@font-face {
  font-family: 'Big Shoulders Stencil Text';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Big Shoulders Stencil Text ExtraBold'),
    local('BigShouldersStencilText-ExtraBold'), 
    url('./files/big-shoulders-stencil-text-latin-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/big-shoulders-stencil-text-latin-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* big-shoulders-stencil-text-latin-900-normal*/
@font-face {
  font-family: 'Big Shoulders Stencil Text';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Big Shoulders Stencil Text Black'),
    local('BigShouldersStencilText-Black'), 
    url('./files/big-shoulders-stencil-text-latin-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/big-shoulders-stencil-text-latin-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
