/* noto-sans-latin-ext-400-normal*/
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Noto Sans'),
    local('NotoSans'), url('./files/noto-sans-latin-ext-400-normal.woff2') format('woff2'), url('./files/noto-sans-latin-ext-400-normal.woff') format('woff');
  
}
/* noto-sans-latin-ext-700-normal*/
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Noto Sans Bold'),
    local('NotoSans-Bold'), url('./files/noto-sans-latin-ext-700-normal.woff2') format('woff2'), url('./files/noto-sans-latin-ext-700-normal.woff') format('woff');
  
}
