/* iosevka-aile--NaN-heavy*/
@font-face {
  font-family: 'Iosevka Aile Web';
  font-style: heavy;
  font-display: swap;
  font-weight: NaN;
  src: url('./files/iosevka-aile--NaN-heavy.woff2') format('woff2'), url('./files/iosevka-aile--NaN-heavy.woff') format('woff');
  
}
