/* iosevka-aile--NaN-extrabolditalic*/
@font-face {
  font-family: 'Iosevka Aile Web';
  font-style: extrabolditalic;
  font-display: swap;
  font-weight: NaN;
  src: url('./files/iosevka-aile--NaN-extrabolditalic.woff2') format('woff2'), url('./files/iosevka-aile--NaN-extrabolditalic.woff') format('woff');
  
}
