/* iosevka-aile--NaN-light*/
@font-face {
  font-family: 'Iosevka Aile Web';
  font-style: light;
  font-display: swap;
  font-weight: NaN;
  src: url('./files/iosevka-aile--NaN-light.woff2') format('woff2'), url('./files/iosevka-aile--NaN-light.woff') format('woff');
  
}
