/* iosevka-aile--NaN-semibold*/
@font-face {
  font-family: 'Iosevka Aile Web';
  font-style: semibold;
  font-display: swap;
  font-weight: NaN;
  src: url('./files/iosevka-aile--NaN-semibold.woff2') format('woff2'), url('./files/iosevka-aile--NaN-semibold.woff') format('woff');
  
}
