/* iosevka-aile--NaN-lightoblique*/
@font-face {
  font-family: 'Iosevka Aile Web';
  font-style: lightoblique;
  font-display: swap;
  font-weight: NaN;
  src: url('./files/iosevka-aile--NaN-lightoblique.woff2') format('woff2'), url('./files/iosevka-aile--NaN-lightoblique.woff') format('woff');
  
}
