/* iosevka-aile--NaN-bolditalic*/
@font-face {
  font-family: 'Iosevka Aile Web';
  font-style: bolditalic;
  font-display: swap;
  font-weight: NaN;
  src: url('./files/iosevka-aile--NaN-bolditalic.woff2') format('woff2'), url('./files/iosevka-aile--NaN-bolditalic.woff') format('woff');
  
}
