/* iosevka-aile--NaN-bold*/
@font-face {
  font-family: 'Iosevka Aile Web';
  font-style: bold;
  font-display: swap;
  font-weight: NaN;
  src: url('./files/iosevka-aile--NaN-bold.woff2') format('woff2'), url('./files/iosevka-aile--NaN-bold.woff') format('woff');
  
}
