/* iosevka-aile--NaN-italic*/
@font-face {
  font-family: 'Iosevka Aile Web';
  font-style: italic;
  font-display: swap;
  font-weight: NaN;
  src: url('./files/iosevka-aile--NaN-italic.woff2') format('woff2'), url('./files/iosevka-aile--NaN-italic.woff') format('woff');
  
}
