/* im-fell-double-pica-latin-400-normal CSS*/
@font-face {
  font-family: 'IM Fell Double Pica';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('IM FELL Double Pica Roman '),
    local('IM_FELL_Double_Pica_Roman'), 
    url('./files/im-fell-double-pica-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/im-fell-double-pica-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* im-fell-double-pica-latin-400-italic CSS*/
@font-face {
  font-family: 'IM Fell Double Pica';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('IM FELL Double Pica Italic'),
    local('IM_FELL_Double_Pica_Italic'), 
    url('./files/im-fell-double-pica-latin-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/im-fell-double-pica-latin-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
