/* im-fell-double-pica-latin-400-normal*/
@font-face {
  font-family: 'IM Fell Double Pica';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('IM FELL Double Pica Roman '),
    local('IM_FELL_Double_Pica_Roman'), url('./files/im-fell-double-pica-latin-400-normal.woff2') format('woff2'), url('./files/im-fell-double-pica-latin-400-normal.woff') format('woff');
  
}
