/* pt-serif-latin-400-normal CSS File*/
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('PT Serif'),
    local('PTSerif-Regular'), 
    url('./files/pt-serif-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/pt-serif-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-serif-latin-400-italic CSS File*/
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('PT Serif Italic'),
    local('PTSerif-Italic'), 
    url('./files/pt-serif-latin-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/pt-serif-latin-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
