/* maitree-latin-200-normal*/
@font-face {
  font-family: 'Maitree';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Maitree ExtraLight'),
    local('Maitree-ExtraLight'), 
    url('./files/maitree-latin-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/maitree-latin-200-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/maitree-latin-200-normal.ttf') format('truetype');
}
/* maitree-latin-300-normal*/
@font-face {
  font-family: 'Maitree';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Maitree Light'),
    local('Maitree-Light'), 
    url('./files/maitree-latin-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/maitree-latin-300-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/maitree-latin-300-normal.ttf') format('truetype');
}
/* maitree-latin-400-normal*/
@font-face {
  font-family: 'Maitree';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Maitree'), 
    url('./files/maitree-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/maitree-latin-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/maitree-latin-400-normal.ttf') format('truetype');
}
/* maitree-latin-500-normal*/
@font-face {
  font-family: 'Maitree';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Maitree Medium'),
    local('Maitree-Medium'), 
    url('./files/maitree-latin-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/maitree-latin-500-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/maitree-latin-500-normal.ttf') format('truetype');
}
/* maitree-latin-600-normal*/
@font-face {
  font-family: 'Maitree';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Maitree SemiBold'),
    local('Maitree-SemiBold'), 
    url('./files/maitree-latin-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/maitree-latin-600-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/maitree-latin-600-normal.ttf') format('truetype');
}
/* maitree-latin-700-normal*/
@font-face {
  font-family: 'Maitree';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Maitree Bold'),
    local('Maitree-Bold'), 
    url('./files/maitree-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/maitree-latin-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/maitree-latin-700-normal.ttf') format('truetype');
}
