/* b612-mono-latin-700-italic*/
@font-face {
  font-family: 'B612 Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('B612 Mono Bold Italic'),
    local('B612Mono-BoldItalic'), 
    url('./files/b612-mono-latin-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/b612-mono-latin-700-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/b612-mono-latin-700-italic.ttf') format('truetype');
}
/* b612-mono-latin-700-normal*/
@font-face {
  font-family: 'B612 Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('B612 Mono Bold'),
    local('B612Mono-Bold'), 
    url('./files/b612-mono-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/b612-mono-latin-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/b612-mono-latin-700-normal.ttf') format('truetype');
}
