/* b612-mono-latin-700-normal*/
@font-face {
  font-family: 'B612 Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('B612 Mono Regular'),
    local('B612Mono-Regular'), 
    url('./files/b612-mono-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/b612-mono-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
