/* andika-new-basic-latin-700-normal*/
@font-face {
  font-family: 'Andika New Basic';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./files/andika-new-basic-latin-700-normal.woff2') format('woff2'), url('./files/andika-new-basic-latin-700-normal.woff') format('woff');
  
}
