/* Configure */
.wrapper {
	display: flex;
	flex-direction: column;
	width: 332px;
	padding: 24px;
	margin-left: auto;
}

.button {
	font-weight: 400;
	padding: 4px;
	height: 20px;
	border-radius: 4px;

	background-color: light-dark(var(--mantine-color-background-0), var(--mantine-color-background-4));
	color: light-dark(var(--mantine-color-text-1), var(--mantine-color-text-0));

	&:hover {
		background-color: light-dark(var(--mantine-color-background-1), var(--mantine-color-background-3));
	}
}

.scroll-wrapper {
	width: 332px;
	margin-left: auto;
	overflow-x: hidden;

	border-radius: 4px;

	border: light-dark(1px solid var(--mantine-color-border-0), 1px solid var(--mantine-color-border-1));
}

.title {
	font-size: var(--mantine-font-size-sm);
	font-weight: 700;
	line-height: 18px;

	color: light-dark(var(--mantine-color-text-1), var(--mantine-color-text-0));
}
