.wrapper {
	width: 332px;
	padding: 24px;
	border-radius: 4px;
	margin-left: auto;

	border: light-dark(1px solid var(--mantine-color-border-0), 1px solid var(--mantine-color-border-1));

	@media (--lt-md) {
		width: 100%;
	}
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 16px;
	border-radius: 4px;

	border: light-dark(1px solid var(--mantine-color-border-0), 1px solid var(--mantine-color-border-1));

	&:hover {
		background-color: light-dark(var(--mantine-color-purple-hover), var(--mantine-color-purple-hover));
	}
}

.button-group {
	margin-top: 8px;

	@media (--lt-md) {
		margin-top: 16px;
	}
}
