.badge {
	padding: 4px 8px;
	gap: 10px;

	border-radius: 4px;
	font-family: var(--mantine-font-family-monospace);
	text-transform: lowercase;
	user-select: none;
	cursor: pointer;

	color: light-dark(var(--mantine-color-text-1), var(--mantine-color-text-0));
	background-color: light-dark(var(--mantine-color-background-2), var(--mantine-color-background-3));

	&[data-active="true"] {
		color: var(--mantine-color-text-0);
		background-color: var(--mantine-color-purple);
	}
}

.button {
	padding: 8px 16px;
	background-color: var(--mantine-color-purple);

	border-radius: 4px;

	color: var(--mantine-color-text-0);

	&:hover {
		background-color: var(--mantine-color-purple-dark);
	}
}
