.wrapper {
	margin-top: 40px;

	.tab {
		&[data-active] {
			border-bottom: 2px solid var(--mantine-color-purple-0);
		}
	}
}

.badge {
	padding: 4px 8px;

	border-radius: 4px;
	font-family: var(--mantine-font-family-monospace);
	text-transform: lowercase;
	user-select: none;
	cursor: pointer;

	@mixin light {
		color: var(--mantine-color-text-1);
		background-color: var(--mantine-color-background-2);

		&[data-active="true"] {
			color: var(--mantine-color-text-0);
			background-color: var(--mantine-color-purple);
		}
	}

	@mixin dark {
		color: var(--mantine-color-text-0);
		background-color: var(--mantine-color-background-3);

		&[data-active="true"] {
			color: var(--mantine-color-text-0);
			background-color: var(--mantine-color-purple);
		}
	}
}
