.badge {
	padding: 4px 8px;
	gap: 10px;

	border-radius: 4px;
	font-family: var(--mantine-font-family-monospace);
	text-transform: lowercase;
	user-select: none;
	cursor: pointer;

	@mixin light {
		color: var(--mantine-color-text-1);
		background-color: var(--mantine-color-background-2);

		&[data-active="true"] {
			color: var(--mantine-color-text-0);
			background-color: var(--mantine-color-purple);
		}
	}

	@mixin dark {
		color: var(--mantine-color-text-0);
		background-color: var(--mantine-color-background-3);

		&[data-active="true"] {
			color: var(--mantine-color-text-0);
			background-color: var(--mantine-color-purple);
		}
	}
}

.button {
	padding: 8px 16px;
	background-color: var(--mantine-color-purple);

	border-radius: 4px;

	@mixin light {
		color: var(--mantine-color-text-0);
	}

	@mixin dark {
		color: var(--mantine-color-text-0);
	}

	&:hover {
		background-color: var(--mantine-color-purple-dark);
	}
}
