.wrapper {
	margin-top: 40px;

	.tab {
		&[data-active] {
			border-bottom: 2px solid var(--mantine-color-purple-0);
		}
	}
}

.badge {
	padding: 4px 8px;

	border-radius: 4px;
	font-family: var(--mantine-font-family-monospace);
	text-transform: lowercase;
	user-select: none;
	cursor: pointer;

	color: light-dark(var(--mantine-color-text-1), var(--mantine-color-text-0));
	background-color: light-dark(var(--mantine-color-background-2), var(--mantine-color-background-3));

	&[data-active="true"] {
		color: var(--mantine-color-text-0);
		background-color: var(--mantine-color-purple);
	}
}
