/* SideSlider */
.wrapper {
	height: 40px;
	padding: rem(2px) rem(14px) rem(2px) rem(2px);

	border-radius: 4px;

	&:focus-within {
		border-color: var(--mantine-color-purple);
	}

	@mixin light {
		background-color: var(--mantine-color-background-0);
		border: rem(1px) solid var(--mantine-color-border-0);
	}

	@mixin dark {
		background-color: var(--mantine-color-background-4);
		border: rem(1px) solid var(--mantine-color-border-1);
	}
}

.button {
	font-weight: 400;
	padding: rem(2px);
	height: rem(20px);
	border-radius: rem(4px);

	@mixin light {
		background-color: var(--mantine-color-background-0);
		color: var(--mantine-color-text-1);
	}

	@mixin dark {
		background-color: var(--mantine-color-background-4);
		color: var(--mantine-color-text-0);
	}
}

.italic {
	height: 40px;
	width: 40px;
	padding: 0;

	border-radius: 4px;

	@mixin light {
		background-color: var(--mantine-color-background-0);
		border: rem(1px) solid var(--mantine-color-border-0);

		&:disabled {
			background-color: var(--mantine-color-background-2);
			border-color: var(--mantine-color-border-2);
			color: var(--mantine-color-text-2);
		}
	}

	@mixin dark {
		background-color: var(--mantine-color-background-4);
		border: rem(1px) solid var(--mantine-color-border-1);

		&:disabled {
			background-color: var(--mantine-color-background-3);
			border-color: var(--mantine-color-border-3);
			color: var(--mantine-color-text-3);
		}
	}

	&:focus-within {
		border-color: var(--mantine-color-purple-0);
	}

	&[data-active="true"] {
		background-color: var(--mantine-color-purple-hover);
	}
}
