/* Tabs */
.badge {
	padding: rem(4px) rem(8px);
	gap: rem(10px);

	border-radius: rem(4px);
	font-family: var(--mantine-font-family-monospace);
	text-transform: lowercase;

	@mixin light {
		color: var(--mantine-color-text-1);
		background-color: var(--mantine-color-background-2);
	}

	@mixin dark {
		color: var(--mantine-color-text-0);
		background-color: var(--mantine-color-background-3);
	}

	@media (max-width: $mantine-breakpoint-md) {
		display: none;
	}
}

.donwload-button {
	display: flex;
	align-items: center;
	gap: rem(10px);
	background-color: transparent;

	border: none;
	border-radius: rem(4px);
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
	cursor: pointer;
	text-decoration: none;

	&:hover {
		background-color: rgba("#625BF8", 0.1);
		color: var(--mantine-color-purple-0);
	}

	@mixin light {
		color: var(--mantine-color-text-1);
	}

	@mixin dark {
		color: var(--mantine-color-text-0);
	}

	@media (max-width: $mantine-breakpoint-sm) {
		display: none;
	}
}
