/* Tabs */
.badge {
	padding: rem(4px) rem(8px);
	gap: rem(10px);

	border-radius: rem(4px);
	font-family: var(--mantine-font-family-monospace);
	text-transform: lowercase;

	@mixin light {
		color: var(--mantine-color-text-1);
		background-color: var(--mantine-color-background-2);
	}

	@mixin dark {
		color: var(--mantine-color-text-0);
		background-color: var(--mantine-color-background-3);
	}

	@media (max-width: $mantine-breakpoint-md) {
		display: none;
	}
}

.tab {
	background-color: transparent;
	border: none;
	border-radius: 4px;
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
	cursor: pointer;
	display: flex;
	align-items: center;

	&[data-active] {
		background-color: var(--mantine-color-button-hover);
		font-weight: 700;
	}

	@mixin light {
		color: var(--mantine-color-text-1);

		&:hover {
			color: var(--mantine-color-purple);
			background-color: var(--mantine-color-button-hover);
		}

		&[data-active] {
			color: var(--mantine-color-purple);
		}
	}

	@mixin dark {
		color: var(--mantine-color-text-0);

		&:hover {
			color: var(--mantine-color-purple);
			background-color: var(--mantine-color-button-hover);
		}

		&[data-active] {
			color: var(--mantine-color-purple);
		}
	}
}

.list {
	display: flex;
	align-items: center;
	gap: 10px;
}

.download-button {
	display: flex;

	background-color: transparent;

	border: none;
	border-radius: 4px;
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
	cursor: pointer;
	text-decoration: none;

	@mixin light {
		color: var(--mantine-color-text-1);

		&:hover {
			background-color: var(--mantine-color-button-hover);
			color: var(--mantine-color-purple);
		}
	}

	@mixin dark {
		color: var(--mantine-color-text-0);

		&:hover {
			background-color: var(--mantine-color-button-hover);
			color: var(--mantine-color-purple);
		}
	}

	@media (max-width: $mantine-breakpoint-sm) {
		display: none;
	}
}

.hide-tab {
	@media (max-width: $mantine-breakpoint-xs) {
		display: none;
	}
}
