/* TextArea */
.header {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 20px;
}

.text-wrapper {
	padding: 24px 0 10px 0;
}

.horizontal {
	width: 100%;

	border-bottom: light-dark(1px solid var(--mantine-color-border-0), 1px solid var(--mantine-color-border-1));

	&[data-active="true"] {
		border-bottom: light-dark(1px solid var(--mantine-color-purple), 1px solid var(--mantine-color-purple));
	}
}

.tag {
	font-size: 13px;
	padding: 4px 8px;
	border-radius: 4px 4px 0 0;
	margin-left: auto;
	line-height: 12px;

	color: light-dark(var(--mantine-color-text-1), var(--mantine-color-text-0));
	background-color: light-dark(var(--mantine-color-border-0), var(--mantine-color-border-1));

	&[data-active="true"] {
		color: var(--mantine-color-text-0);
		background-color: var(--mantine-color-purple);
	}
}
