/* TextArea */
.header {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 20px;
}

.text-wrapper {
	padding: 24px 0 10px 0;
}

.horizontal {
	width: 100%;

	@mixin light {
		border-bottom: 1px solid var(--mantine-color-border-0);
	}

	@mixin dark {
		border-bottom: 1px solid var(--mantine-color-border-1);
	}

	&[data-active="true"] {
		@mixin light {
			border-bottom: 1px solid var(--mantine-color-purple);
		}

		@mixin dark {
			border-bottom: 1px solid var(--mantine-color-purple);
		}
	}
}

.tag {
	font-size: 13px;
	padding: 4px 8px;
	border-radius: 4px 4px 0 0;
	margin-left: auto;
	line-height: 12px;

	@mixin light {
		color: var(--mantine-color-text-1);
		background-color: var(--mantine-color-border-0);
	}

	@mixin dark {
		color: var(--mantine-color-text-0);
		background-color: var(--mantine-color-border-1);
	}

	&[data-active="true"] {
		@mixin light {
			color: var(--mantine-color-text-0);
			background-color: var(--mantine-color-purple);
		}

		@mixin dark {
			color: var(--mantine-color-text-0);
			background-color: var(--mantine-color-purple);
		}
	}
}
