/* VariableButtons */
.button {
	margin-top: rem(2px);
	padding: rem(8px) rem(12px);
	justify-content: space-between;
	height: rem(94px);

	border-radius: rem(4px);

	@mixin light {
		color: var(--mantine-color-text.1);
		background-color: var(--mantine-color-background.0);
		border: rem(1px) solid var(--mantine-color-border.0);

		&:not([data-disabled]) {
			&:hover {
				/* theme.fn.lighten(theme.colors.purple[0], 0.95), */
				background-color: var(--mantine-color-purple.0);
			}
		}
	}

	@mixin dark {
		color: var(--mantine-color-text.0);
		background-color: var(--mantine-color-background.4);
		border: rem(1px) solid var(--mantine-color-border.1);

		&:not([data-disabled]) {
			&:hover {
				/* theme.fn.darken(theme.colors.background[4], 0.2) */
				background-color: var(--mantine-color-background.4);
			}
		}
	}
}
