/* nobile-latin-500-normal CSS*/
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Nobile'),
    local('Nobile-Regular'), 
    url('./files/nobile-latin-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/nobile-latin-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
