/* andika-new-basic-latin-400-italic*/
@font-face {
  font-family: 'Andika New Basic';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('./files/andika-new-basic-latin-400-italic.woff2') format('woff2'), url('./files/andika-new-basic-latin-400-italic.woff') format('woff');
  
}
