/* beth-ellen-latin-400-normal*/
@font-face {
  font-family: 'Beth Ellen';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Beth Ellen Regular'),
    local('BethEllen-Regular'), 
    url('./files/beth-ellen-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/beth-ellen-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
