/* rowdies-latin-300-normal*/
@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Rowdies Light'),
    local('Rowdies-Light'), 
    url('./files/rowdies-latin-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/rowdies-latin-300-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/rowdies-latin-300-normal.ttf') format('truetype');
}
/* rowdies-latin-400-normal*/
@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Rowdies Regular'),
    local('Rowdies-Regular'), 
    url('./files/rowdies-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/rowdies-latin-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/rowdies-latin-400-normal.ttf') format('truetype');
}
/* rowdies-latin-700-normal*/
@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Rowdies Bold'),
    local('Rowdies-Bold'), 
    url('./files/rowdies-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/rowdies-latin-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/rowdies-latin-700-normal.ttf') format('truetype');
}
