/* rowdies-latin-ext-300-normal*/
@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Rowdies Light'),
    local('Rowdies-Light'), url('./files/rowdies-latin-ext-300-normal.woff2') format('woff2'), url('./files/rowdies-latin-ext-300-normal.woff') format('woff');
  
}
/* rowdies-latin-ext-400-normal*/
@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Rowdies Regular'),
    local('Rowdies-Regular'), url('./files/rowdies-latin-ext-400-normal.woff2') format('woff2'), url('./files/rowdies-latin-ext-400-normal.woff') format('woff');
  
}
/* rowdies-latin-ext-700-normal*/
@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Rowdies Bold'),
    local('Rowdies-Bold'), url('./files/rowdies-latin-ext-700-normal.woff2') format('woff2'), url('./files/rowdies-latin-ext-700-normal.woff') format('woff');
  
}
