/* cairo-arabic-200-normal*/
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Cairo ExtraLight'),
    local('Cairo-ExtraLight'), 
    url('./files/cairo-arabic-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cairo-arabic-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cairo-arabic-300-normal*/
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Cairo Light'),
    local('Cairo-Light'), 
    url('./files/cairo-arabic-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cairo-arabic-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cairo-arabic-400-normal*/
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cairo'),
    local('Cairo-Regular'), 
    url('./files/cairo-arabic-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cairo-arabic-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cairo-arabic-600-normal*/
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Cairo SemiBold'),
    local('Cairo-SemiBold'), 
    url('./files/cairo-arabic-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cairo-arabic-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cairo-arabic-700-normal*/
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cairo Bold'),
    local('Cairo-Bold'), 
    url('./files/cairo-arabic-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cairo-arabic-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cairo-arabic-900-normal*/
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Cairo Black'),
    local('Cairo-Black'), 
    url('./files/cairo-arabic-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cairo-arabic-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
