/* cairo-latin-ext-300-normal*/
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Cairo Light'),
    local('Cairo-Light'), url('./files/cairo-latin-ext-300-normal.woff2') format('woff2'), url('./files/cairo-latin-ext-300-normal.woff') format('woff');
  
}
