/* merriweather-latin-ext-300-normal*/
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Merriweather Light'),
    local('Merriweather-Light'), url('./files/merriweather-latin-ext-300-normal.woff2') format('woff2'), url('./files/merriweather-latin-ext-300-normal.woff') format('woff');
  
}
/* merriweather-latin-ext-400-normal*/
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Merriweather Regular'),
    local('Merriweather-Regular'), url('./files/merriweather-latin-ext-400-normal.woff2') format('woff2'), url('./files/merriweather-latin-ext-400-normal.woff') format('woff');
  
}
/* merriweather-latin-ext-700-normal*/
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Merriweather Bold'),
    local('Merriweather-Bold'), url('./files/merriweather-latin-ext-700-normal.woff2') format('woff2'), url('./files/merriweather-latin-ext-700-normal.woff') format('woff');
  
}
/* merriweather-latin-ext-900-normal*/
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Merriweather Black'),
    local('Merriweather-Black'), url('./files/merriweather-latin-ext-900-normal.woff2') format('woff2'), url('./files/merriweather-latin-ext-900-normal.woff') format('woff');
  
}
