/* biorhyme-latin-ext-200-normal*/
@font-face {
  font-family: 'BioRhyme';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('BioRhyme ExtraLight'),
    local('BioRhyme-ExtraLight'), url('./files/biorhyme-latin-ext-200-normal.woff2') format('woff2'), url('./files/biorhyme-latin-ext-200-normal.woff') format('woff');
  
}
/* biorhyme-latin-ext-300-normal*/
@font-face {
  font-family: 'BioRhyme';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('BioRhyme Light'),
    local('BioRhyme-Light'), url('./files/biorhyme-latin-ext-300-normal.woff2') format('woff2'), url('./files/biorhyme-latin-ext-300-normal.woff') format('woff');
  
}
/* biorhyme-latin-ext-400-normal*/
@font-face {
  font-family: 'BioRhyme';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('BioRhyme'),
    local('BioRhyme-Regular'), url('./files/biorhyme-latin-ext-400-normal.woff2') format('woff2'), url('./files/biorhyme-latin-ext-400-normal.woff') format('woff');
  
}
/* biorhyme-latin-ext-700-normal*/
@font-face {
  font-family: 'BioRhyme';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('BioRhyme Bold'),
    local('BioRhyme-Bold'), url('./files/biorhyme-latin-ext-700-normal.woff2') format('woff2'), url('./files/biorhyme-latin-ext-700-normal.woff') format('woff');
  
}
/* biorhyme-latin-ext-800-normal*/
@font-face {
  font-family: 'BioRhyme';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('BioRhyme ExtraBold'),
    local('BioRhyme-ExtraBold'), url('./files/biorhyme-latin-ext-800-normal.woff2') format('woff2'), url('./files/biorhyme-latin-ext-800-normal.woff') format('woff');
  
}
