/* fahkwang-thai-200-italic*/
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Fahkwang ExtraLight Italic'),
    local('Fahkwang-ExtraLightItalic'), 
    url('./files/fahkwang-thai-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fahkwang-thai-200-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/fahkwang-thai-200-italic.ttf') format('truetype');
}
/* fahkwang-thai-200-normal*/
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Fahkwang ExtraLight'),
    local('Fahkwang-ExtraLight'), 
    url('./files/fahkwang-thai-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fahkwang-thai-200-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/fahkwang-thai-200-normal.ttf') format('truetype');
}
/* fahkwang-thai-300-italic*/
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Fahkwang Light Italic'),
    local('Fahkwang-LightItalic'), 
    url('./files/fahkwang-thai-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fahkwang-thai-300-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/fahkwang-thai-300-italic.ttf') format('truetype');
}
/* fahkwang-thai-300-normal*/
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Fahkwang Light'),
    local('Fahkwang-Light'), 
    url('./files/fahkwang-thai-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fahkwang-thai-300-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/fahkwang-thai-300-normal.ttf') format('truetype');
}
/* fahkwang-thai-400-italic*/
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fahkwang Italic'),
    local('Fahkwang-Italic'), 
    url('./files/fahkwang-thai-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fahkwang-thai-400-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/fahkwang-thai-400-italic.ttf') format('truetype');
}
/* fahkwang-thai-400-normal*/
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fahkwang Regular'),
    local('Fahkwang-Regular'), 
    url('./files/fahkwang-thai-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fahkwang-thai-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/fahkwang-thai-400-normal.ttf') format('truetype');
}
/* fahkwang-thai-500-italic*/
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Fahkwang Medium Italic'),
    local('Fahkwang-MediumItalic'), 
    url('./files/fahkwang-thai-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fahkwang-thai-500-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/fahkwang-thai-500-italic.ttf') format('truetype');
}
/* fahkwang-thai-500-normal*/
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Fahkwang Medium'),
    local('Fahkwang-Medium'), 
    url('./files/fahkwang-thai-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fahkwang-thai-500-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/fahkwang-thai-500-normal.ttf') format('truetype');
}
/* fahkwang-thai-600-italic*/
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Fahkwang SemiBold Italic'),
    local('Fahkwang-SemiBoldItalic'), 
    url('./files/fahkwang-thai-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fahkwang-thai-600-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/fahkwang-thai-600-italic.ttf') format('truetype');
}
/* fahkwang-thai-600-normal*/
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Fahkwang SemiBold'),
    local('Fahkwang-SemiBold'), 
    url('./files/fahkwang-thai-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fahkwang-thai-600-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/fahkwang-thai-600-normal.ttf') format('truetype');
}
/* fahkwang-thai-700-italic*/
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Fahkwang Bold Italic'),
    local('Fahkwang-BoldItalic'), 
    url('./files/fahkwang-thai-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fahkwang-thai-700-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/fahkwang-thai-700-italic.ttf') format('truetype');
}
/* fahkwang-thai-700-normal*/
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Fahkwang Bold'),
    local('Fahkwang-Bold'), 
    url('./files/fahkwang-thai-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fahkwang-thai-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/fahkwang-thai-700-normal.ttf') format('truetype');
}
