/* fahkwang-vietnamese-200-normal*/
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Fahkwang ExtraLight'),
    local('Fahkwang-ExtraLight'), url('./files/fahkwang-vietnamese-200-normal.woff2') format('woff2'), url('./files/fahkwang-vietnamese-200-normal.woff') format('woff');
  
}
/* fahkwang-vietnamese-300-normal*/
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Fahkwang Light'),
    local('Fahkwang-Light'), url('./files/fahkwang-vietnamese-300-normal.woff2') format('woff2'), url('./files/fahkwang-vietnamese-300-normal.woff') format('woff');
  
}
/* fahkwang-vietnamese-400-normal*/
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fahkwang Regular'),
    local('Fahkwang-Regular'), url('./files/fahkwang-vietnamese-400-normal.woff2') format('woff2'), url('./files/fahkwang-vietnamese-400-normal.woff') format('woff');
  
}
/* fahkwang-vietnamese-500-normal*/
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Fahkwang Medium'),
    local('Fahkwang-Medium'), url('./files/fahkwang-vietnamese-500-normal.woff2') format('woff2'), url('./files/fahkwang-vietnamese-500-normal.woff') format('woff');
  
}
/* fahkwang-vietnamese-600-normal*/
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Fahkwang SemiBold'),
    local('Fahkwang-SemiBold'), url('./files/fahkwang-vietnamese-600-normal.woff2') format('woff2'), url('./files/fahkwang-vietnamese-600-normal.woff') format('woff');
  
}
/* fahkwang-vietnamese-700-normal*/
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Fahkwang Bold'),
    local('Fahkwang-Bold'), url('./files/fahkwang-vietnamese-700-normal.woff2') format('woff2'), url('./files/fahkwang-vietnamese-700-normal.woff') format('woff');
  
}
