/* bai-jamjuree-latin-200-normal*/
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Bai Jamjuree ExtraLight'),
    local('BaiJamjuree-ExtraLight'), 
    url('./files/bai-jamjuree-latin-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/bai-jamjuree-latin-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* bai-jamjuree-latin-200-italic*/
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Bai Jamjuree ExtraLight Italic'),
    local('BaiJamjuree-ExtraLightItalic'), 
    url('./files/bai-jamjuree-latin-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/bai-jamjuree-latin-200-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* bai-jamjuree-latin-300-normal*/
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Bai Jamjuree Light'),
    local('BaiJamjuree-Light'), 
    url('./files/bai-jamjuree-latin-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/bai-jamjuree-latin-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* bai-jamjuree-latin-300-italic*/
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Bai Jamjuree Light Italic'),
    local('BaiJamjuree-LightItalic'), 
    url('./files/bai-jamjuree-latin-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/bai-jamjuree-latin-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* bai-jamjuree-latin-400-normal*/
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Bai Jamjuree Regular'),
    local('BaiJamjuree-Regular'), 
    url('./files/bai-jamjuree-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/bai-jamjuree-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* bai-jamjuree-latin-400-italic*/
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Bai Jamjuree Italic'),
    local('BaiJamjuree-Italic'), 
    url('./files/bai-jamjuree-latin-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/bai-jamjuree-latin-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* bai-jamjuree-latin-500-normal*/
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Bai Jamjuree Medium'),
    local('BaiJamjuree-Medium'), 
    url('./files/bai-jamjuree-latin-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/bai-jamjuree-latin-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* bai-jamjuree-latin-500-italic*/
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Bai Jamjuree Medium Italic'),
    local('BaiJamjuree-MediumItalic'), 
    url('./files/bai-jamjuree-latin-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/bai-jamjuree-latin-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* bai-jamjuree-latin-600-normal*/
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Bai Jamjuree SemiBold'),
    local('BaiJamjuree-SemiBold'), 
    url('./files/bai-jamjuree-latin-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/bai-jamjuree-latin-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* bai-jamjuree-latin-600-italic*/
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Bai Jamjuree SemiBold Italic'),
    local('BaiJamjuree-SemiBoldItalic'), 
    url('./files/bai-jamjuree-latin-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/bai-jamjuree-latin-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* bai-jamjuree-latin-700-normal*/
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Bai Jamjuree Bold'),
    local('BaiJamjuree-Bold'), 
    url('./files/bai-jamjuree-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/bai-jamjuree-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* bai-jamjuree-latin-700-italic*/
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Bai Jamjuree Bold Italic'),
    local('BaiJamjuree-BoldItalic'), 
    url('./files/bai-jamjuree-latin-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/bai-jamjuree-latin-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
