/* bai-jamjuree-vietnamese-300-normal*/
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Bai Jamjuree Light'),
    local('BaiJamjuree-Light'), url('./files/bai-jamjuree-vietnamese-300-normal.woff2') format('woff2'), url('./files/bai-jamjuree-vietnamese-300-normal.woff') format('woff');
  
}
