/* ostrich-sans-rounded-latin-500-normal*/
@font-face {
  font-family: 'Ostrich Sans Rounded';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('./files/ostrich-sans-rounded-latin-500-normal.woff2') format('woff2'), url('./files/ostrich-sans-rounded-latin-500-normal.woff') format('woff');
  
}
