/* nokora-khmer-700-normal*/
@font-face {
  font-family: 'Nokora';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./files/nokora-khmer-700-normal.woff2') format('woff2'), url('./files/nokora-all-700-normal.woff') format('woff'), url('./files/nokora-all-700-normal.ttf') format('truetype');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
