/* proza-libre-latin-ext-700-normal*/
@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Proza Libre Bold'),
    local('ProzaLibre-Bold'), url('./files/proza-libre-latin-ext-700-normal.woff2') format('woff2'), url('./files/proza-libre-latin-ext-700-normal.woff') format('woff');
  
}
