.root {
	position: relative;
	margin: 16px 0;
}

.dots {
	color: #34435c;
	position: absolute;
	top: 8px;
	left: 14px;
	z-index: 2;
	font-size: 12px;
	letter-spacing: 2px;
	user-select: none;
}

.tools {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
}

.copy {
	border-radius: 0 0 4px 0;
	&,
	&:hover {
		background-color: var(--mantine-color-purple-0);
	}
	height: 30px;
	width: 30px;
}

.language {
	border-radius: 4px 0 0 0;
	color: var(--mantine-color-text-0);
	background: rgba(104, 118, 141, 0.5);
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

.code {
	box-sizing: border-box;
	position: relative;
	font-family: var(--mantine-font-family-monospace);
	line-height: 1.7;
	font-size: 14px;
	border-radius: 10px;
	padding: 34px var(--mantine-spacing-md) var(--mantine-spacing-md)
		var(--mantine-spacing-md);
	margin-top: 0;
	margin-bottom: 0;
	overflow-x: hidden;
}

.scroll-area {
	.scrollbar {
		&:hover {
			background-color: transparent;
			.___ref-thumb {
				background-color: #c2bfff;
			}
		}
	}

	.thumb {
		background-color: darken("#c2bfff", 0.2);
	}
}

.line {
	width: 100%;
}

.inline-code {
	font-weight: 500;
	font-size: 13px;
	border-radius: 4px;
}
