/* gentium-basic-latin-700-italic*/
@font-face {
  font-family: 'Gentium Basic';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Gentium Basic Bold Italic'),
    local('GentiumBasic-BoldItalic'), 
    url('./files/gentium-basic-latin-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/gentium-basic-latin-700-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/gentium-basic-latin-700-italic.ttf') format('truetype');
}
/* gentium-basic-latin-700-normal*/
@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Gentium Basic Bold'),
    local('GentiumBasic-Bold'), 
    url('./files/gentium-basic-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/gentium-basic-latin-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/gentium-basic-latin-700-normal.ttf') format('truetype');
}
