/* space-mono-latin-400-italic*/
@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Space Mono Italic'),
    local('SpaceMono-Italic'), 
    url('./files/space-mono-latin-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/space-mono-latin-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-mono-latin-400-normal*/
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Space Mono'),
    local('SpaceMono-Regular'), 
    url('./files/space-mono-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/space-mono-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-mono-latin-700-italic*/
@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Space Mono Bold Italic'),
    local('SpaceMono-BoldItalic'), 
    url('./files/space-mono-latin-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/space-mono-latin-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-mono-latin-700-normal*/
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Space Mono Bold'),
    local('SpaceMono-Bold'), 
    url('./files/space-mono-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/space-mono-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
