/* sarpanch-devanagari-400-normal*/
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Sarpanch Regular'),
    local('Sarpanch-Regular'), 
    url('./files/sarpanch-devanagari-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarpanch-devanagari-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/sarpanch-devanagari-400-normal.ttf') format('truetype');
}
/* sarpanch-devanagari-500-normal*/
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Sarpanch Medium'),
    local('Sarpanch-Medium'), 
    url('./files/sarpanch-devanagari-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarpanch-devanagari-500-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/sarpanch-devanagari-500-normal.ttf') format('truetype');
}
/* sarpanch-devanagari-600-normal*/
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Sarpanch SemiBold'),
    local('Sarpanch-SemiBold'), 
    url('./files/sarpanch-devanagari-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarpanch-devanagari-600-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/sarpanch-devanagari-600-normal.ttf') format('truetype');
}
/* sarpanch-devanagari-700-normal*/
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Sarpanch Bold'),
    local('Sarpanch-Bold'), 
    url('./files/sarpanch-devanagari-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarpanch-devanagari-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/sarpanch-devanagari-700-normal.ttf') format('truetype');
}
/* sarpanch-devanagari-800-normal*/
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Sarpanch ExtraBold'),
    local('Sarpanch-ExtraBold'), 
    url('./files/sarpanch-devanagari-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarpanch-devanagari-800-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/sarpanch-devanagari-800-normal.ttf') format('truetype');
}
/* sarpanch-devanagari-900-normal*/
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Sarpanch Black'),
    local('Sarpanch-Black'), 
    url('./files/sarpanch-devanagari-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarpanch-devanagari-900-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/sarpanch-devanagari-900-normal.ttf') format('truetype');
}
