/* merriweather-sans-latin-300-normal CSS*/
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Merriweather Sans Light'),
    local('MerriweatherSans-Light'), 
    url('./files/merriweather-sans-latin-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-latin-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-latin-300-italic CSS*/
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Merriweather Sans Light Italic'),
    local('MerriweatherSans-LightItalic'), 
    url('./files/merriweather-sans-latin-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-latin-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-latin-400-normal CSS*/
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Merriweather Sans'),
    local('MerriweatherSans-Regular'), 
    url('./files/merriweather-sans-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-latin-400-italic CSS*/
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Merriweather Sans Italic'),
    local('MerriweatherSans-Italic'), 
    url('./files/merriweather-sans-latin-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-latin-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-latin-700-normal CSS*/
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Merriweather Sans Bold'),
    local('MerriweatherSans-Bold'), 
    url('./files/merriweather-sans-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-latin-700-italic CSS*/
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Merriweather Sans Bold Italic'),
    local('MerriweatherSans-BoldItalic'), 
    url('./files/merriweather-sans-latin-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-latin-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-latin-800-normal CSS*/
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Merriweather Sans ExtraBold'),
    local('MerriweatherSans-ExtraBold'), 
    url('./files/merriweather-sans-latin-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-latin-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-latin-800-italic CSS*/
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Merriweather Sans ExtraBold Italic'),
    local('MerriweatherSans-ExtraBoldItalic'), 
    url('./files/merriweather-sans-latin-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-latin-800-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
