/* lato2-latin-300-normal*/
@font-face {
  font-family: 'Lato2';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('./files/lato2-latin-300-normal.woff2') format('woff2'), url('./files/lato2-latin-300-normal.woff') format('woff');
  
}
