/* lato2-all-900-normal*/
@font-face {
  font-family: 'Lato2';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url('./files/lato2-all-900-normal.woff2') format('woff2'), url('./files/lato2-all-900-normal.woff') format('woff');
  
}
