/* lusitana-latin-400-normal*/
@font-face {
  font-family: 'Lusitana';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Lusitana'), url('./files/lusitana-latin-400-normal.woff2') format('woff2'), url('./files/lusitana-latin-400-normal.woff') format('woff');
  
}
/* lusitana-latin-700-normal*/
@font-face {
  font-family: 'Lusitana';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Lusitana Bold'),
    local('Lusitana-Bold'), url('./files/lusitana-latin-700-normal.woff2') format('woff2'), url('./files/lusitana-latin-700-normal.woff') format('woff');
  
}
