/* nanum-myeongjo-korean-400-normal*/
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('NanumMyeongjo'), url('./files/nanum-myeongjo-korean-400-normal.woff2') format('woff2'), url('./files/nanum-myeongjo-korean-400-normal.woff') format('woff');
  
}
/* nanum-myeongjo-korean-700-normal*/
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('NanumMyeongjo Bold'),
    local('NanumMyeongjoBold'), url('./files/nanum-myeongjo-korean-700-normal.woff2') format('woff2'), url('./files/nanum-myeongjo-korean-700-normal.woff') format('woff');
  
}
/* nanum-myeongjo-korean-800-normal*/
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('NanumMyeongjo ExtraBold'),
    local('NanumMyeongjoExtraBold'), url('./files/nanum-myeongjo-korean-800-normal.woff2') format('woff2'), url('./files/nanum-myeongjo-korean-800-normal.woff') format('woff');
  
}
