/* rajdhani-devanagari-700-normal CSS File*/
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Rajdhani Light'),
    local('Rajdhani-Light'), 
    url('./files/rajdhani-devanagari-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/rajdhani-devanagari-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
