/* rajdhani-latin-ext-300-normal*/
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Rajdhani Light'),
    local('Rajdhani-Light'), url('./files/rajdhani-latin-ext-300-normal.woff2') format('woff2'), url('./files/rajdhani-latin-ext-300-normal.woff') format('woff');
  
}
/* rajdhani-latin-ext-400-normal*/
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Rajdhani Regular'),
    local('Rajdhani-Regular'), url('./files/rajdhani-latin-ext-400-normal.woff2') format('woff2'), url('./files/rajdhani-latin-ext-400-normal.woff') format('woff');
  
}
/* rajdhani-latin-ext-500-normal*/
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Rajdhani Medium'),
    local('Rajdhani-Medium'), url('./files/rajdhani-latin-ext-500-normal.woff2') format('woff2'), url('./files/rajdhani-latin-ext-500-normal.woff') format('woff');
  
}
/* rajdhani-latin-ext-600-normal*/
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Rajdhani SemiBold'),
    local('Rajdhani-SemiBold'), url('./files/rajdhani-latin-ext-600-normal.woff2') format('woff2'), url('./files/rajdhani-latin-ext-600-normal.woff') format('woff');
  
}
/* rajdhani-latin-ext-700-normal*/
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Rajdhani Bold'),
    local('Rajdhani-Bold'), url('./files/rajdhani-latin-ext-700-normal.woff2') format('woff2'), url('./files/rajdhani-latin-ext-700-normal.woff') format('woff');
  
}
