/* rakkas-latin-400-normal CSS*/
@font-face {
  font-family: 'Rakkas';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Rakkas Regular'),
    local('Rakkas-Regular'), 
    url('./files/rakkas-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/rakkas-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
