/* m-plus-1p-cyrillic-700-normal*/
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('M PLUS 1p Bold'),
    local('MPLUS1p-Bold'), url('./files/m-plus-1p-cyrillic-700-normal.woff2') format('woff2'), url('./files/m-plus-1p-cyrillic-700-normal.woff') format('woff');
  
}
