/* m-plus-1p-latin-100-normal*/
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('M PLUS 1p Thin'),
    local('MPLUS1p-Thin'), url('./files/m-plus-1p-latin-100-normal.woff2') format('woff2'), url('./files/m-plus-1p-latin-100-normal.woff') format('woff');
  
}
