/* biorhyme-expanded-latin-200-normal*/
@font-face {
  font-family: 'BioRhyme Expanded';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('BioRhyme Expanded ExtraLight'),
    local('BioRhymeExpanded-ExtraLight'), 
    url('./files/biorhyme-expanded-latin-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/biorhyme-expanded-latin-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* biorhyme-expanded-latin-300-normal*/
@font-face {
  font-family: 'BioRhyme Expanded';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('BioRhyme Expanded Light'),
    local('BioRhymeExpanded-Light'), 
    url('./files/biorhyme-expanded-latin-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/biorhyme-expanded-latin-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* biorhyme-expanded-latin-400-normal*/
@font-face {
  font-family: 'BioRhyme Expanded';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('BioRhyme Expanded'),
    local('BioRhymeExpanded-Regular'), 
    url('./files/biorhyme-expanded-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/biorhyme-expanded-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* biorhyme-expanded-latin-700-normal*/
@font-face {
  font-family: 'BioRhyme Expanded';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('BioRhyme Expanded Bold'),
    local('BioRhymeExpanded-Bold'), 
    url('./files/biorhyme-expanded-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/biorhyme-expanded-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* biorhyme-expanded-latin-800-normal*/
@font-face {
  font-family: 'BioRhyme Expanded';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('BioRhyme Expanded ExtraBold'),
    local('BioRhymeExpanded-ExtraBold'), 
    url('./files/biorhyme-expanded-latin-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/biorhyme-expanded-latin-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
