/* trirong-thai-900-italic*/
@font-face {
  font-family: 'Trirong';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Trirong Black Italic'),
    local('Trirong-BlackItalic'), 
    url('./files/trirong-thai-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/trirong-thai-900-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* trirong-thai-900-normal*/
@font-face {
  font-family: 'Trirong';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Trirong Black'),
    local('Trirong-Black'), 
    url('./files/trirong-thai-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/trirong-thai-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
