/* baloo-paaji-2-gurmukhi-400-normal*/
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Baloo Paaji 2 Regular'),
    local('BalooPaaji2-Regular'), 
    url('./files/baloo-paaji-2-gurmukhi-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/baloo-paaji-2-gurmukhi-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* baloo-paaji-2-gurmukhi-500-normal*/
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Baloo Paaji 2 Medium'),
    local('BalooPaaji2-Medium'), 
    url('./files/baloo-paaji-2-gurmukhi-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/baloo-paaji-2-gurmukhi-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* baloo-paaji-2-gurmukhi-600-normal*/
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Baloo Paaji 2 SemiBold'),
    local('BalooPaaji2-SemiBold'), 
    url('./files/baloo-paaji-2-gurmukhi-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/baloo-paaji-2-gurmukhi-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* baloo-paaji-2-gurmukhi-700-normal*/
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Baloo Paaji 2 Bold'),
    local('BalooPaaji2-Bold'), 
    url('./files/baloo-paaji-2-gurmukhi-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/baloo-paaji-2-gurmukhi-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* baloo-paaji-2-gurmukhi-800-normal*/
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Baloo Paaji 2 ExtraBold'),
    local('BalooPaaji2-ExtraBold'), 
    url('./files/baloo-paaji-2-gurmukhi-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/baloo-paaji-2-gurmukhi-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
