/* astloch-latin-700-normal*/
@font-face {
  font-family: 'Astloch';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Astloch Bold'),
    local('Astloch-Bold'), url('./files/astloch-latin-700-normal.woff2') format('woff2'), url('./files/astloch-latin-700-normal.woff') format('woff');
  
}
