/* kodchasan-latin-200-normal CSS*/
@font-face {
  font-family: 'Kodchasan';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Kodchasan ExtraLight'),
    local('Kodchasan-ExtraLight'), 
    url('./files/kodchasan-latin-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kodchasan-latin-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kodchasan-latin-200-italic CSS*/
@font-face {
  font-family: 'Kodchasan';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Kodchasan ExtraLight Italic'),
    local('Kodchasan-ExtraLightItalic'), 
    url('./files/kodchasan-latin-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kodchasan-latin-200-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kodchasan-latin-300-normal CSS*/
@font-face {
  font-family: 'Kodchasan';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Kodchasan Light'),
    local('Kodchasan-Light'), 
    url('./files/kodchasan-latin-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kodchasan-latin-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kodchasan-latin-300-italic CSS*/
@font-face {
  font-family: 'Kodchasan';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Kodchasan Light Italic'),
    local('Kodchasan-LightItalic'), 
    url('./files/kodchasan-latin-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kodchasan-latin-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kodchasan-latin-400-normal CSS*/
@font-face {
  font-family: 'Kodchasan';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Kodchasan Regular'),
    local('Kodchasan-Regular'), 
    url('./files/kodchasan-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kodchasan-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kodchasan-latin-400-italic CSS*/
@font-face {
  font-family: 'Kodchasan';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Kodchasan Italic'),
    local('Kodchasan-Italic'), 
    url('./files/kodchasan-latin-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kodchasan-latin-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kodchasan-latin-500-normal CSS*/
@font-face {
  font-family: 'Kodchasan';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Kodchasan Medium'),
    local('Kodchasan-Medium'), 
    url('./files/kodchasan-latin-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kodchasan-latin-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kodchasan-latin-500-italic CSS*/
@font-face {
  font-family: 'Kodchasan';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Kodchasan Medium Italic'),
    local('Kodchasan-MediumItalic'), 
    url('./files/kodchasan-latin-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kodchasan-latin-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kodchasan-latin-600-normal CSS*/
@font-face {
  font-family: 'Kodchasan';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Kodchasan SemiBold'),
    local('Kodchasan-SemiBold'), 
    url('./files/kodchasan-latin-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kodchasan-latin-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kodchasan-latin-600-italic CSS*/
@font-face {
  font-family: 'Kodchasan';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Kodchasan SemiBold Italic'),
    local('Kodchasan-SemiBoldItalic'), 
    url('./files/kodchasan-latin-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kodchasan-latin-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kodchasan-latin-700-normal CSS*/
@font-face {
  font-family: 'Kodchasan';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Kodchasan Bold'),
    local('Kodchasan-Bold'), 
    url('./files/kodchasan-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kodchasan-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kodchasan-latin-700-italic CSS*/
@font-face {
  font-family: 'Kodchasan';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Kodchasan Bold Italic'),
    local('Kodchasan-BoldItalic'), 
    url('./files/kodchasan-latin-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kodchasan-latin-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
