/* open-sauce-sans-all-300-iItalic*/
@font-face {
  font-family: 'Open Sauce Sans';
  font-style: iItalic;
  font-display: swap;
  font-weight: 300;
  src: url('./files/open-sauce-sans-all-300-iItalic.woff2') format('woff2'), url('./files/open-sauce-sans-all-300-iItalic.woff') format('woff');
  
}
