/* sanchez-latin-400-normal*/
@font-face {
  font-family: 'Sanchez';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Sanchez'),
    local('Sanchez-Regular'), 
    url('./files/sanchez-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sanchez-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sanchez-latin-400-italic*/
@font-face {
  font-family: 'Sanchez';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Sanchez Italic'),
    local('Sanchez-Italic'), 
    url('./files/sanchez-latin-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sanchez-latin-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
