/* playfair-display-sc-cyrillic-900-normal CSS*/
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Playfair Display SC Black'),
    local('PlayfairDisplaySC-Black'), 
    url('./files/playfair-display-sc-cyrillic-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/playfair-display-sc-cyrillic-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-sc-cyrillic-900-italic CSS*/
@font-face {
  font-family: 'Playfair Display SC';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Playfair Display SC Black Italic'),
    local('PlayfairDisplaySC-BlackItalic'), 
    url('./files/playfair-display-sc-cyrillic-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/playfair-display-sc-cyrillic-900-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
