/* playfair-display-sc-latin-400-italic*/
@font-face {
  font-family: 'Playfair Display SC';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Playfair Display SC Italic'),
    local('PlayfairDisplaySC-Italic'), 
    url('./files/playfair-display-sc-latin-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/playfair-display-sc-latin-400-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/playfair-display-sc-latin-400-italic.ttf') format('truetype');
}
/* playfair-display-sc-latin-400-normal*/
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Playfair Display SC Regular'),
    local('PlayfairDisplaySC-Regular'), 
    url('./files/playfair-display-sc-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/playfair-display-sc-latin-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/playfair-display-sc-latin-400-normal.ttf') format('truetype');
}
/* playfair-display-sc-latin-700-italic*/
@font-face {
  font-family: 'Playfair Display SC';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Playfair Display SC Bold Italic'),
    local('PlayfairDisplaySC-BoldItalic'), 
    url('./files/playfair-display-sc-latin-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/playfair-display-sc-latin-700-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/playfair-display-sc-latin-700-italic.ttf') format('truetype');
}
/* playfair-display-sc-latin-700-normal*/
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Playfair Display SC Bold'),
    local('PlayfairDisplaySC-Bold'), 
    url('./files/playfair-display-sc-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/playfair-display-sc-latin-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/playfair-display-sc-latin-700-normal.ttf') format('truetype');
}
/* playfair-display-sc-latin-900-italic*/
@font-face {
  font-family: 'Playfair Display SC';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Playfair Display SC Black Italic'),
    local('PlayfairDisplaySC-BlackItalic'), 
    url('./files/playfair-display-sc-latin-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/playfair-display-sc-latin-900-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/playfair-display-sc-latin-900-italic.ttf') format('truetype');
}
/* playfair-display-sc-latin-900-normal*/
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Playfair Display SC Black'),
    local('PlayfairDisplaySC-Black'), 
    url('./files/playfair-display-sc-latin-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/playfair-display-sc-latin-900-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/playfair-display-sc-latin-900-normal.ttf') format('truetype');
}
