/* pridi-thai-300-normal*/
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Pridi Light'),
    local('Pridi-Light'), url('./files/pridi-thai-300-normal.woff2') format('woff2'), url('./files/pridi-thai-300-normal.woff') format('woff');
  
}
