/* Filters */
.container {
	height: rem(128px);
	border-radius: 4px;

	@mixin light {
		background-color: var(--mantine-color-background.0);
	}

	@mixin dark {
		background-color: var(--mantine-color-background.4);
	}
}

.filters {
	display: flex;
	height: rem(64px);
	align-items: center;
	gap: rem(24px);
	justify-content: space-between;
	padding: 0 rem(24px);

	overflow-x: auto;
	overflow-y: hidden;

	&:focus-within {
		border-bottom-color: var(--mantine-color-purple.0);
	}

	@mixin light {
		background-color: var(--mantine-color-background.0);
	}

	@mixin dark {
		background-color: var(--mantine-color-background.4);
	}
}

.button {
	padding: rem(2px) rem(16px);
	height: rem(40px);

	font-weight: 400;

	&:hover {
		background-color: var(--mantine-color-purpleHover.0);
	}

	@mixin light {
		background-color: var(--mantine-color-background.0);
		color: var(--mantine-color-text.1);
	}

	@mixin dark {
		background-color: var(--mantine-color-background.4);
		color: var(--mantine-color-text.0);
	}
}
