/* mali-thai-200-italic*/
@font-face {
  font-family: 'Mali';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Mali ExtraLight Italic'),
    local('Mali-ExtraLightItalic'), 
    url('./files/mali-thai-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mali-thai-200-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mali-thai-200-normal*/
@font-face {
  font-family: 'Mali';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Mali ExtraLight'),
    local('Mali-ExtraLight'), 
    url('./files/mali-thai-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mali-thai-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mali-thai-300-italic*/
@font-face {
  font-family: 'Mali';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Mali Light Italic'),
    local('Mali-LightItalic'), 
    url('./files/mali-thai-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mali-thai-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mali-thai-300-normal*/
@font-face {
  font-family: 'Mali';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Mali Light'),
    local('Mali-Light'), 
    url('./files/mali-thai-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mali-thai-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mali-thai-400-italic*/
@font-face {
  font-family: 'Mali';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Mali Italic'),
    local('Mali-Italic'), 
    url('./files/mali-thai-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mali-thai-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mali-thai-400-normal*/
@font-face {
  font-family: 'Mali';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Mali Regular'),
    local('Mali-Regular'), 
    url('./files/mali-thai-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mali-thai-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mali-thai-500-italic*/
@font-face {
  font-family: 'Mali';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Mali Medium Italic'),
    local('Mali-MediumItalic'), 
    url('./files/mali-thai-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mali-thai-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mali-thai-500-normal*/
@font-face {
  font-family: 'Mali';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Mali Medium'),
    local('Mali-Medium'), 
    url('./files/mali-thai-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mali-thai-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mali-thai-600-italic*/
@font-face {
  font-family: 'Mali';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Mali SemiBold Italic'),
    local('Mali-SemiBoldItalic'), 
    url('./files/mali-thai-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mali-thai-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mali-thai-600-normal*/
@font-face {
  font-family: 'Mali';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Mali SemiBold'),
    local('Mali-SemiBold'), 
    url('./files/mali-thai-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mali-thai-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mali-thai-700-italic*/
@font-face {
  font-family: 'Mali';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Mali Bold Italic'),
    local('Mali-BoldItalic'), 
    url('./files/mali-thai-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mali-thai-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mali-thai-700-normal*/
@font-face {
  font-family: 'Mali';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Mali Bold'),
    local('Mali-Bold'), 
    url('./files/mali-thai-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mali-thai-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
