/* mali-thai-200-normal*/
@font-face {
  font-family: 'Mali';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Mali ExtraLight'),
    local('Mali-ExtraLight'), url('./files/mali-thai-200-normal.woff2') format('woff2'), url('./files/mali-thai-200-normal.woff') format('woff');
  
}
/* mali-thai-300-normal*/
@font-face {
  font-family: 'Mali';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Mali Light'),
    local('Mali-Light'), url('./files/mali-thai-300-normal.woff2') format('woff2'), url('./files/mali-thai-300-normal.woff') format('woff');
  
}
/* mali-thai-400-normal*/
@font-face {
  font-family: 'Mali';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Mali Regular'),
    local('Mali-Regular'), url('./files/mali-thai-400-normal.woff2') format('woff2'), url('./files/mali-thai-400-normal.woff') format('woff');
  
}
/* mali-thai-500-normal*/
@font-face {
  font-family: 'Mali';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Mali Medium'),
    local('Mali-Medium'), url('./files/mali-thai-500-normal.woff2') format('woff2'), url('./files/mali-thai-500-normal.woff') format('woff');
  
}
/* mali-thai-600-normal*/
@font-face {
  font-family: 'Mali';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Mali SemiBold'),
    local('Mali-SemiBold'), url('./files/mali-thai-600-normal.woff2') format('woff2'), url('./files/mali-thai-600-normal.woff') format('woff');
  
}
/* mali-thai-700-normal*/
@font-face {
  font-family: 'Mali';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Mali Bold'),
    local('Mali-Bold'), url('./files/mali-thai-700-normal.woff2') format('woff2'), url('./files/mali-thai-700-normal.woff') format('woff');
  
}
