/* jua-latin-400-normal*/
@font-face {
  font-family: 'Jua';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Jua Regular'),
    local('Jua-Regular'), url('./files/jua-latin-400-normal.woff2') format('woff2'), url('./files/jua-latin-400-normal.woff') format('woff');
  
}
