/* palanquin-devanagari-500-normal*/
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Palanquin Medium'),
    local('Palanquin-Medium'), url('./files/palanquin-devanagari-500-normal.woff2') format('woff2'), url('./files/palanquin-devanagari-500-normal.woff') format('woff');
  
}
