/* palanquin-latin-100-normal*/
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Palanquin Thin'),
    local('Palanquin-Thin'), url('./files/palanquin-latin-100-normal.woff2') format('woff2'), url('./files/palanquin-latin-100-normal.woff') format('woff');
  
}
/* palanquin-latin-200-normal*/
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Palanquin ExtraLight'),
    local('Palanquin-ExtraLight'), url('./files/palanquin-latin-200-normal.woff2') format('woff2'), url('./files/palanquin-latin-200-normal.woff') format('woff');
  
}
/* palanquin-latin-300-normal*/
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Palanquin Light'),
    local('Palanquin-Light'), url('./files/palanquin-latin-300-normal.woff2') format('woff2'), url('./files/palanquin-latin-300-normal.woff') format('woff');
  
}
/* palanquin-latin-400-normal*/
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Palanquin Regular'),
    local('Palanquin-Regular'), url('./files/palanquin-latin-400-normal.woff2') format('woff2'), url('./files/palanquin-latin-400-normal.woff') format('woff');
  
}
/* palanquin-latin-500-normal*/
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Palanquin Medium'),
    local('Palanquin-Medium'), url('./files/palanquin-latin-500-normal.woff2') format('woff2'), url('./files/palanquin-latin-500-normal.woff') format('woff');
  
}
/* palanquin-latin-600-normal*/
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Palanquin SemiBold'),
    local('Palanquin-SemiBold'), url('./files/palanquin-latin-600-normal.woff2') format('woff2'), url('./files/palanquin-latin-600-normal.woff') format('woff');
  
}
/* palanquin-latin-700-normal*/
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Palanquin Bold'),
    local('Palanquin-Bold'), url('./files/palanquin-latin-700-normal.woff2') format('woff2'), url('./files/palanquin-latin-700-normal.woff') format('woff');
  
}
