/* mukta-latin-ext-200-normal*/
@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Mukta ExtraLight'),
    local('Mukta-ExtraLight'), 
    url('./files/mukta-latin-ext-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-latin-ext-200-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/mukta-latin-ext-200-normal.ttf') format('truetype');
}
/* mukta-latin-ext-300-normal*/
@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Mukta Light'),
    local('Mukta-Light'), 
    url('./files/mukta-latin-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-latin-ext-300-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/mukta-latin-ext-300-normal.ttf') format('truetype');
}
/* mukta-latin-ext-400-normal*/
@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Mukta Regular'),
    local('Mukta-Regular'), 
    url('./files/mukta-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-latin-ext-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/mukta-latin-ext-400-normal.ttf') format('truetype');
}
/* mukta-latin-ext-500-normal*/
@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Mukta Medium'),
    local('Mukta-Medium'), 
    url('./files/mukta-latin-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-latin-ext-500-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/mukta-latin-ext-500-normal.ttf') format('truetype');
}
/* mukta-latin-ext-600-normal*/
@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Mukta SemiBold'),
    local('Mukta-SemiBold'), 
    url('./files/mukta-latin-ext-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-latin-ext-600-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/mukta-latin-ext-600-normal.ttf') format('truetype');
}
/* mukta-latin-ext-700-normal*/
@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Mukta Bold'),
    local('Mukta-Bold'), 
    url('./files/mukta-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-latin-ext-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/mukta-latin-ext-700-normal.ttf') format('truetype');
}
/* mukta-latin-ext-800-normal*/
@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Mukta ExtraBold'),
    local('Mukta-ExtraBold'), 
    url('./files/mukta-latin-ext-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-latin-ext-800-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/mukta-latin-ext-800-normal.ttf') format('truetype');
}
