/* tenor-sans-latin-ext-400-normal*/
@font-face {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Tenor Sans'),
    local('TenorSans'), url('./files/tenor-sans-latin-ext-400-normal.woff2') format('woff2'), url('./files/tenor-sans-latin-ext-400-normal.woff') format('woff');
  
}
