/* vast-shadow-latin-400-normal*/
@font-face {
  font-family: 'Vast Shadow';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Vast Shadow Regular'),
    local('VastShadow-Regular'), url('./files/vast-shadow-latin-400-normal.woff2') format('woff2'), url('./files/vast-shadow-latin-400-normal.woff') format('woff');
  
}
