/* stardos-stencil-latin-400-normal*/
@font-face {
  font-family: 'Stardos Stencil';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Stardos Stencil Regular'),
    local('StardosStencil-Regular'), url('./files/stardos-stencil-latin-400-normal.woff2') format('woff2'), url('./files/stardos-stencil-latin-400-normal.woff') format('woff');
  
}
