/* oleo-script-swash-caps-latin-ext-400-normal*/
@font-face {
  font-family: 'Oleo Script Swash Caps';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Oleo Script Swash Caps'),
    local('OleoScriptSwashCaps-Regular'), 
    url('./files/oleo-script-swash-caps-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/oleo-script-swash-caps-latin-ext-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/oleo-script-swash-caps-latin-ext-400-normal.ttf') format('truetype');
}
