/* grenze-latin-ext-100-normal*/
@font-face {
  font-family: 'Grenze';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Grenze Thin'),
    local('Grenze-Thin'), 
    url('./files/grenze-latin-ext-100-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grenze-latin-ext-100-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grenze-latin-ext-200-normal*/
@font-face {
  font-family: 'Grenze';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Grenze ExtraLight'),
    local('Grenze-ExtraLight'), 
    url('./files/grenze-latin-ext-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grenze-latin-ext-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grenze-latin-ext-300-normal*/
@font-face {
  font-family: 'Grenze';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Grenze Light'),
    local('Grenze-Light'), 
    url('./files/grenze-latin-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grenze-latin-ext-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grenze-latin-ext-400-normal*/
@font-face {
  font-family: 'Grenze';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Grenze Regular'),
    local('Grenze-Regular'), 
    url('./files/grenze-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grenze-latin-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grenze-latin-ext-500-normal*/
@font-face {
  font-family: 'Grenze';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Grenze Medium'),
    local('Grenze-Medium'), 
    url('./files/grenze-latin-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grenze-latin-ext-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grenze-latin-ext-600-normal*/
@font-face {
  font-family: 'Grenze';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Grenze SemiBold'),
    local('Grenze-SemiBold'), 
    url('./files/grenze-latin-ext-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grenze-latin-ext-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grenze-latin-ext-700-normal*/
@font-face {
  font-family: 'Grenze';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Grenze Bold'),
    local('Grenze-Bold'), 
    url('./files/grenze-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grenze-latin-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grenze-latin-ext-800-normal*/
@font-face {
  font-family: 'Grenze';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Grenze ExtraBold'),
    local('Grenze-ExtraBold'), 
    url('./files/grenze-latin-ext-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grenze-latin-ext-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grenze-latin-ext-900-normal*/
@font-face {
  font-family: 'Grenze';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Grenze Black'),
    local('Grenze-Black'), 
    url('./files/grenze-latin-ext-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grenze-latin-ext-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
