/* cormorant-upright-latin-500-normal*/
@font-face {
  font-family: 'Cormorant Upright';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Cormorant Upright Medium'),
    local('CormorantUpright-Medium'), url('./files/cormorant-upright-latin-500-normal.woff2') format('woff2'), url('./files/cormorant-upright-latin-500-normal.woff') format('woff');
  
}
