/* viaoda-libre-cyrillic-400-normal*/
@font-face {
  font-family: 'Viaoda Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Viaoda Libre Regular'),
    local('ViaodaLibre-Regular'), url('./files/viaoda-libre-cyrillic-400-normal.woff2') format('woff2'), url('./files/viaoda-libre-cyrillic-400-normal.woff') format('woff');
  
}
