/* encode-sans-expanded-latin-ext-100-normal*/
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Encode Sans Expanded Thin'),
    local('EncodeSansExpanded-Thin'), 
    url('./files/encode-sans-expanded-latin-ext-100-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-expanded-latin-ext-100-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/encode-sans-expanded-latin-ext-100-normal.ttf') format('truetype');
}
/* encode-sans-expanded-latin-ext-200-normal*/
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Encode Sans Expanded ExtraLight'),
    local('EncodeSansExpanded-ExtraLight'), 
    url('./files/encode-sans-expanded-latin-ext-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-expanded-latin-ext-200-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/encode-sans-expanded-latin-ext-200-normal.ttf') format('truetype');
}
/* encode-sans-expanded-latin-ext-300-normal*/
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Encode Sans Expanded Light'),
    local('EncodeSansExpanded-Light'), 
    url('./files/encode-sans-expanded-latin-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-expanded-latin-ext-300-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/encode-sans-expanded-latin-ext-300-normal.ttf') format('truetype');
}
/* encode-sans-expanded-latin-ext-400-normal*/
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Encode Sans Expanded Regular'),
    local('EncodeSansExpanded-Regular'), 
    url('./files/encode-sans-expanded-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-expanded-latin-ext-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/encode-sans-expanded-latin-ext-400-normal.ttf') format('truetype');
}
/* encode-sans-expanded-latin-ext-500-normal*/
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Encode Sans Expanded Medium'),
    local('EncodeSansExpanded-Medium'), 
    url('./files/encode-sans-expanded-latin-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-expanded-latin-ext-500-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/encode-sans-expanded-latin-ext-500-normal.ttf') format('truetype');
}
/* encode-sans-expanded-latin-ext-600-normal*/
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Encode Sans Expanded SemiBold'),
    local('EncodeSansExpanded-SemiBold'), 
    url('./files/encode-sans-expanded-latin-ext-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-expanded-latin-ext-600-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/encode-sans-expanded-latin-ext-600-normal.ttf') format('truetype');
}
/* encode-sans-expanded-latin-ext-700-normal*/
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Encode Sans Expanded Bold'),
    local('EncodeSansExpanded-Bold'), 
    url('./files/encode-sans-expanded-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-expanded-latin-ext-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/encode-sans-expanded-latin-ext-700-normal.ttf') format('truetype');
}
/* encode-sans-expanded-latin-ext-800-normal*/
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Encode Sans Expanded ExtraBold'),
    local('EncodeSansExpanded-ExtraBold'), 
    url('./files/encode-sans-expanded-latin-ext-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-expanded-latin-ext-800-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/encode-sans-expanded-latin-ext-800-normal.ttf') format('truetype');
}
/* encode-sans-expanded-latin-ext-900-normal*/
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Encode Sans Expanded Black'),
    local('EncodeSansExpanded-Black'), 
    url('./files/encode-sans-expanded-latin-ext-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-expanded-latin-ext-900-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/encode-sans-expanded-latin-ext-900-normal.ttf') format('truetype');
}
