/* mukta-vaani-latin-ext-200-normal CSS File*/
@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Mukta Vaani ExtraLight'),
    local('MuktaVaani-ExtraLight'), 
    url('./files/mukta-vaani-latin-ext-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-vaani-latin-ext-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-vaani-latin-ext-300-normal CSS File*/
@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Mukta Vaani Light'),
    local('MuktaVaani-Light'), 
    url('./files/mukta-vaani-latin-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-vaani-latin-ext-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-vaani-latin-ext-400-normal CSS File*/
@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Mukta Vaani Regular'),
    local('MuktaVaani-Regular'), 
    url('./files/mukta-vaani-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-vaani-latin-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-vaani-latin-ext-500-normal CSS File*/
@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Mukta Vaani Medium'),
    local('MuktaVaani-Medium'), 
    url('./files/mukta-vaani-latin-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-vaani-latin-ext-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-vaani-latin-ext-600-normal CSS File*/
@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Mukta Vaani SemiBold'),
    local('MuktaVaani-SemiBold'), 
    url('./files/mukta-vaani-latin-ext-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-vaani-latin-ext-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-vaani-latin-ext-700-normal CSS File*/
@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Mukta Vaani Bold'),
    local('MuktaVaani-Bold'), 
    url('./files/mukta-vaani-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-vaani-latin-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-vaani-latin-ext-800-normal CSS File*/
@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Mukta Vaani ExtraBold'),
    local('MuktaVaani-ExtraBold'), 
    url('./files/mukta-vaani-latin-ext-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-vaani-latin-ext-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
