/* gorditas-latin-400-normal*/
@font-face {
  font-family: 'Gorditas';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Gorditas'),
    local('Gorditas-Regular'), url('./files/gorditas-latin-400-normal.woff2') format('woff2'), url('./files/gorditas-latin-400-normal.woff') format('woff');
  
}
/* gorditas-latin-700-normal*/
@font-face {
  font-family: 'Gorditas';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Gorditas Bold'),
    local('Gorditas-Bold'), url('./files/gorditas-latin-700-normal.woff2') format('woff2'), url('./files/gorditas-latin-700-normal.woff') format('woff');
  
}
