/* zilla-slab-latin-ext-300-italic*/
@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Zilla Slab Light Italic'),
    local('ZillaSlab-LightItalic'), 
    url('./files/zilla-slab-latin-ext-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-300-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/zilla-slab-latin-ext-300-italic.ttf') format('truetype');
}
/* zilla-slab-latin-ext-300-normal*/
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Zilla Slab Light'),
    local('ZillaSlab-Light'), 
    url('./files/zilla-slab-latin-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-300-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/zilla-slab-latin-ext-300-normal.ttf') format('truetype');
}
/* zilla-slab-latin-ext-400-italic*/
@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Zilla Slab Italic'),
    local('ZillaSlab-Italic'), 
    url('./files/zilla-slab-latin-ext-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-400-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/zilla-slab-latin-ext-400-italic.ttf') format('truetype');
}
/* zilla-slab-latin-ext-400-normal*/
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Zilla Slab'),
    local('ZillaSlab-Regular'), 
    url('./files/zilla-slab-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/zilla-slab-latin-ext-400-normal.ttf') format('truetype');
}
/* zilla-slab-latin-ext-500-italic*/
@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Zilla Slab Medium Italic'),
    local('ZillaSlab-MediumItalic'), 
    url('./files/zilla-slab-latin-ext-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-500-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/zilla-slab-latin-ext-500-italic.ttf') format('truetype');
}
/* zilla-slab-latin-ext-500-normal*/
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Zilla Slab Medium'),
    local('ZillaSlab-Medium'), 
    url('./files/zilla-slab-latin-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-500-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/zilla-slab-latin-ext-500-normal.ttf') format('truetype');
}
/* zilla-slab-latin-ext-600-italic*/
@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Zilla Slab SemiBold Italic'),
    local('ZillaSlab-SemiBoldItalic'), 
    url('./files/zilla-slab-latin-ext-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-600-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/zilla-slab-latin-ext-600-italic.ttf') format('truetype');
}
/* zilla-slab-latin-ext-600-normal*/
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Zilla Slab SemiBold'),
    local('ZillaSlab-SemiBold'), 
    url('./files/zilla-slab-latin-ext-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-600-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/zilla-slab-latin-ext-600-normal.ttf') format('truetype');
}
/* zilla-slab-latin-ext-700-italic*/
@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Zilla Slab Bold Italic'),
    local('ZillaSlab-BoldItalic'), 
    url('./files/zilla-slab-latin-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-700-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/zilla-slab-latin-ext-700-italic.ttf') format('truetype');
}
/* zilla-slab-latin-ext-700-normal*/
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Zilla Slab Bold'),
    local('ZillaSlab-Bold'), 
    url('./files/zilla-slab-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/zilla-slab-latin-ext-700-normal.ttf') format('truetype');
}
