/* zilla-slab-latin-ext-300-normal*/
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Zilla Slab Light'),
    local('ZillaSlab-Light'), url('./files/zilla-slab-latin-ext-300-normal.woff2') format('woff2'), url('./files/zilla-slab-latin-ext-300-normal.woff') format('woff');
  
}
/* zilla-slab-latin-ext-400-normal*/
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Zilla Slab'),
    local('ZillaSlab-Regular'), url('./files/zilla-slab-latin-ext-400-normal.woff2') format('woff2'), url('./files/zilla-slab-latin-ext-400-normal.woff') format('woff');
  
}
/* zilla-slab-latin-ext-500-normal*/
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Zilla Slab Medium'),
    local('ZillaSlab-Medium'), url('./files/zilla-slab-latin-ext-500-normal.woff2') format('woff2'), url('./files/zilla-slab-latin-ext-500-normal.woff') format('woff');
  
}
/* zilla-slab-latin-ext-600-normal*/
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Zilla Slab SemiBold'),
    local('ZillaSlab-SemiBold'), url('./files/zilla-slab-latin-ext-600-normal.woff2') format('woff2'), url('./files/zilla-slab-latin-ext-600-normal.woff') format('woff');
  
}
/* zilla-slab-latin-ext-700-normal*/
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Zilla Slab Bold'),
    local('ZillaSlab-Bold'), url('./files/zilla-slab-latin-ext-700-normal.woff2') format('woff2'), url('./files/zilla-slab-latin-ext-700-normal.woff') format('woff');
  
}
