/* hind-devanagari-700-normal*/
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Hind Bold'),
    local('Hind-Bold'), url('./files/hind-devanagari-700-normal.woff2') format('woff2'), url('./files/hind-devanagari-700-normal.woff') format('woff');
  
}
