/* biryani-devanagari-300-normal*/
@font-face {
  font-family: 'Biryani';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Biryani Light'),
    local('Biryani-Light'), url('./files/biryani-devanagari-300-normal.woff2') format('woff2'), url('./files/biryani-devanagari-300-normal.woff') format('woff');
  
}
