/* biryani-latin-ext-200-normal*/
@font-face {
  font-family: 'Biryani';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Biryani ExtraLight'),
    local('Biryani-ExtraLight'), url('./files/biryani-latin-ext-200-normal.woff2') format('woff2'), url('./files/biryani-latin-ext-200-normal.woff') format('woff');
  
}
/* biryani-latin-ext-300-normal*/
@font-face {
  font-family: 'Biryani';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Biryani Light'),
    local('Biryani-Light'), url('./files/biryani-latin-ext-300-normal.woff2') format('woff2'), url('./files/biryani-latin-ext-300-normal.woff') format('woff');
  
}
/* biryani-latin-ext-400-normal*/
@font-face {
  font-family: 'Biryani';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Biryani Regular'),
    local('Biryani-Regular'), url('./files/biryani-latin-ext-400-normal.woff2') format('woff2'), url('./files/biryani-latin-ext-400-normal.woff') format('woff');
  
}
/* biryani-latin-ext-600-normal*/
@font-face {
  font-family: 'Biryani';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Biryani SemiBold'),
    local('Biryani-SemiBold'), url('./files/biryani-latin-ext-600-normal.woff2') format('woff2'), url('./files/biryani-latin-ext-600-normal.woff') format('woff');
  
}
/* biryani-latin-ext-700-normal*/
@font-face {
  font-family: 'Biryani';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Biryani Bold'),
    local('Biryani-Bold'), url('./files/biryani-latin-ext-700-normal.woff2') format('woff2'), url('./files/biryani-latin-ext-700-normal.woff') format('woff');
  
}
/* biryani-latin-ext-800-normal*/
@font-face {
  font-family: 'Biryani';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Biryani ExtraBold'),
    local('Biryani-ExtraBold'), url('./files/biryani-latin-ext-800-normal.woff2') format('woff2'), url('./files/biryani-latin-ext-800-normal.woff') format('woff');
  
}
/* biryani-latin-ext-900-normal*/
@font-face {
  font-family: 'Biryani';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Biryani Black'),
    local('Biryani-Black'), url('./files/biryani-latin-ext-900-normal.woff2') format('woff2'), url('./files/biryani-latin-ext-900-normal.woff') format('woff');
  
}
