/* kalam-latin-300-normal*/
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Kalam Light'),
    local('Kalam-Light'), url('./files/kalam-latin-300-normal.woff2') format('woff2'), url('./files/kalam-latin-300-normal.woff') format('woff');
  
}
/* kalam-latin-400-normal*/
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Kalam'),
    local('Kalam-Regular'), url('./files/kalam-latin-400-normal.woff2') format('woff2'), url('./files/kalam-latin-400-normal.woff') format('woff');
  
}
/* kalam-latin-700-normal*/
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Kalam Bold'),
    local('Kalam-Bold'), url('./files/kalam-latin-700-normal.woff2') format('woff2'), url('./files/kalam-latin-700-normal.woff') format('woff');
  
}
