/* fira-sans-condensed-greek-100-normal*/
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Fira Sans Condensed Thin'),
    local('FiraSansCondensed-Thin'), url('./files/fira-sans-condensed-greek-100-normal.woff2') format('woff2'), url('./files/fira-sans-condensed-greek-100-normal.woff') format('woff');
  
}
/* fira-sans-condensed-greek-200-normal*/
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Fira Sans Condensed ExtraLight'),
    local('FiraSansCondensed-ExtraLight'), url('./files/fira-sans-condensed-greek-200-normal.woff2') format('woff2'), url('./files/fira-sans-condensed-greek-200-normal.woff') format('woff');
  
}
/* fira-sans-condensed-greek-300-normal*/
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Fira Sans Condensed Light'),
    local('FiraSansCondensed-Light'), url('./files/fira-sans-condensed-greek-300-normal.woff2') format('woff2'), url('./files/fira-sans-condensed-greek-300-normal.woff') format('woff');
  
}
/* fira-sans-condensed-greek-400-normal*/
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fira Sans Condensed Regular'),
    local('FiraSansCondensed-Regular'), url('./files/fira-sans-condensed-greek-400-normal.woff2') format('woff2'), url('./files/fira-sans-condensed-greek-400-normal.woff') format('woff');
  
}
/* fira-sans-condensed-greek-500-normal*/
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Fira Sans Condensed Medium'),
    local('FiraSansCondensed-Medium'), url('./files/fira-sans-condensed-greek-500-normal.woff2') format('woff2'), url('./files/fira-sans-condensed-greek-500-normal.woff') format('woff');
  
}
/* fira-sans-condensed-greek-600-normal*/
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Fira Sans Condensed SemiBold'),
    local('FiraSansCondensed-SemiBold'), url('./files/fira-sans-condensed-greek-600-normal.woff2') format('woff2'), url('./files/fira-sans-condensed-greek-600-normal.woff') format('woff');
  
}
/* fira-sans-condensed-greek-700-normal*/
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Fira Sans Condensed Bold'),
    local('FiraSansCondensed-Bold'), url('./files/fira-sans-condensed-greek-700-normal.woff2') format('woff2'), url('./files/fira-sans-condensed-greek-700-normal.woff') format('woff');
  
}
/* fira-sans-condensed-greek-800-normal*/
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Fira Sans Condensed ExtraBold'),
    local('FiraSansCondensed-ExtraBold'), url('./files/fira-sans-condensed-greek-800-normal.woff2') format('woff2'), url('./files/fira-sans-condensed-greek-800-normal.woff') format('woff');
  
}
/* fira-sans-condensed-greek-900-normal*/
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Fira Sans Condensed Black'),
    local('FiraSansCondensed-Black'), url('./files/fira-sans-condensed-greek-900-normal.woff2') format('woff2'), url('./files/fira-sans-condensed-greek-900-normal.woff') format('woff');
  
}
