/* hind-madurai-latin-ext-300-normal CSS*/
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Hind Madurai Light'),
    local('HindMadurai-Light'), 
    url('./files/hind-madurai-latin-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/hind-madurai-latin-ext-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-madurai-latin-ext-400-normal CSS*/
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Hind Madurai Regular'),
    local('HindMadurai-Regular'), 
    url('./files/hind-madurai-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/hind-madurai-latin-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-madurai-latin-ext-500-normal CSS*/
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Hind Madurai Medium'),
    local('HindMadurai-Medium'), 
    url('./files/hind-madurai-latin-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/hind-madurai-latin-ext-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-madurai-latin-ext-600-normal CSS*/
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Hind Madurai SemiBold'),
    local('HindMadurai-SemiBold'), 
    url('./files/hind-madurai-latin-ext-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/hind-madurai-latin-ext-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-madurai-latin-ext-700-normal CSS*/
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Hind Madurai Bold'),
    local('HindMadurai-Bold'), 
    url('./files/hind-madurai-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/hind-madurai-latin-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
