/* noto-sans-tc-chinese-traditional-100-normal*/
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Noto Sans TC Thin'),
    local('NotoSansTC-Thin'), 
    url('./files/noto-sans-tc-chinese-traditional-100-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-sans-tc-chinese-traditional-100-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-tc-chinese-traditional-300-normal*/
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Noto Sans TC Light'),
    local('NotoSansTC-Light'), 
    url('./files/noto-sans-tc-chinese-traditional-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-sans-tc-chinese-traditional-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-tc-chinese-traditional-400-normal*/
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Noto Sans TC Regular'),
    local('NotoSansTC-Regular'), 
    url('./files/noto-sans-tc-chinese-traditional-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-sans-tc-chinese-traditional-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-tc-chinese-traditional-500-normal*/
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Noto Sans TC Medium'),
    local('NotoSansTC-Medium'), 
    url('./files/noto-sans-tc-chinese-traditional-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-sans-tc-chinese-traditional-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-tc-chinese-traditional-700-normal*/
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Noto Sans TC Bold'),
    local('NotoSansTC-Bold'), 
    url('./files/noto-sans-tc-chinese-traditional-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-sans-tc-chinese-traditional-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-tc-chinese-traditional-900-normal*/
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Noto Sans TC Black'),
    local('NotoSansTC-Black'), 
    url('./files/noto-sans-tc-chinese-traditional-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-sans-tc-chinese-traditional-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
