/* be-vietnam-latin-ext-400-normal*/
@font-face {
  font-family: 'Be Vietnam';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Be Vietnam Regular'),
    local('BeVietnam-Regular'), url('./files/be-vietnam-latin-ext-400-normal.woff2') format('woff2'), url('./files/be-vietnam-latin-ext-400-normal.woff') format('woff');
  
}
