/* mukta-mahee-latin-500-normal*/
@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Mukta Mahee ExtraLight'),
    local('MuktaMahee-ExtraLight'), 
    url('./files/mukta-mahee-latin-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-mahee-latin-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
