/* mukta-mahee-latin-ext-200-normal CSS*/
@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Mukta Mahee ExtraLight'),
    local('MuktaMahee-ExtraLight'), 
    url('./files/mukta-mahee-latin-ext-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-mahee-latin-ext-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-mahee-latin-ext-300-normal CSS*/
@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Mukta Mahee Light'),
    local('MuktaMahee-Light'), 
    url('./files/mukta-mahee-latin-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-mahee-latin-ext-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-mahee-latin-ext-400-normal CSS*/
@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Mukta Mahee Regular'),
    local('MuktaMahee-Regular'), 
    url('./files/mukta-mahee-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-mahee-latin-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-mahee-latin-ext-500-normal CSS*/
@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Mukta Mahee Medium'),
    local('MuktaMahee-Medium'), 
    url('./files/mukta-mahee-latin-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-mahee-latin-ext-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-mahee-latin-ext-600-normal CSS*/
@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Mukta Mahee SemiBold'),
    local('MuktaMahee-SemiBold'), 
    url('./files/mukta-mahee-latin-ext-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-mahee-latin-ext-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-mahee-latin-ext-700-normal CSS*/
@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Mukta Mahee Bold'),
    local('MuktaMahee-Bold'), 
    url('./files/mukta-mahee-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-mahee-latin-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-mahee-latin-ext-800-normal CSS*/
@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Mukta Mahee ExtraBold'),
    local('MuktaMahee-ExtraBold'), 
    url('./files/mukta-mahee-latin-ext-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mukta-mahee-latin-ext-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
