/* lakki-reddy-latin-400-normal*/
@font-face {
  font-family: 'Lakki Reddy';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Lakki Reddy'),
    local('LakkiReddy'), url('./files/lakki-reddy-latin-400-normal.woff2') format('woff2'), url('./files/lakki-reddy-latin-400-normal.woff') format('woff');
  
}
