/* saira-latin-ext-100-normal*/
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Saira Thin'),
    local('Saira-Thin'), 
    url('./files/saira-latin-ext-100-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-latin-ext-100-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-latin-ext-200-normal*/
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Saira ExtraLight'),
    local('Saira-ExtraLight'), 
    url('./files/saira-latin-ext-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-latin-ext-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-latin-ext-300-normal*/
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Saira Light'),
    local('Saira-Light'), 
    url('./files/saira-latin-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-latin-ext-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-latin-ext-400-normal*/
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Saira Regular'),
    local('Saira-Regular'), 
    url('./files/saira-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-latin-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-latin-ext-500-normal*/
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Saira Medium'),
    local('Saira-Medium'), 
    url('./files/saira-latin-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-latin-ext-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-latin-ext-600-normal*/
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Saira SemiBold'),
    local('Saira-SemiBold'), 
    url('./files/saira-latin-ext-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-latin-ext-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-latin-ext-700-normal*/
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Saira Bold'),
    local('Saira-Bold'), 
    url('./files/saira-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-latin-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-latin-ext-800-normal*/
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Saira ExtraBold'),
    local('Saira-ExtraBold'), 
    url('./files/saira-latin-ext-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-latin-ext-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-latin-ext-900-normal*/
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Saira Black'),
    local('Saira-Black'), 
    url('./files/saira-latin-ext-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-latin-ext-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
