/* oleo-script-latin-700-normal*/
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Oleo Script Bold'),
    local('OleoScript-Bold'), url('./files/oleo-script-latin-700-normal.woff2') format('woff2'), url('./files/oleo-script-latin-700-normal.woff') format('woff');
  
}
