/* kanit-latin-100-normal*/
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Kanit Thin'),
    local('Kanit-Thin'), url('./files/kanit-latin-100-normal.woff2') format('woff2'), url('./files/kanit-latin-100-normal.woff') format('woff');
  
}
/* kanit-latin-200-normal*/
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Kanit ExtraLight'),
    local('Kanit-ExtraLight'), url('./files/kanit-latin-200-normal.woff2') format('woff2'), url('./files/kanit-latin-200-normal.woff') format('woff');
  
}
/* kanit-latin-300-normal*/
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Kanit Light'),
    local('Kanit-Light'), url('./files/kanit-latin-300-normal.woff2') format('woff2'), url('./files/kanit-latin-300-normal.woff') format('woff');
  
}
/* kanit-latin-400-normal*/
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Kanit Regular'),
    local('Kanit-Regular'), url('./files/kanit-latin-400-normal.woff2') format('woff2'), url('./files/kanit-latin-400-normal.woff') format('woff');
  
}
/* kanit-latin-500-normal*/
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Kanit Medium'),
    local('Kanit-Medium'), url('./files/kanit-latin-500-normal.woff2') format('woff2'), url('./files/kanit-latin-500-normal.woff') format('woff');
  
}
/* kanit-latin-600-normal*/
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Kanit SemiBold'),
    local('Kanit-SemiBold'), url('./files/kanit-latin-600-normal.woff2') format('woff2'), url('./files/kanit-latin-600-normal.woff') format('woff');
  
}
/* kanit-latin-700-normal*/
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Kanit Bold'),
    local('Kanit-Bold'), url('./files/kanit-latin-700-normal.woff2') format('woff2'), url('./files/kanit-latin-700-normal.woff') format('woff');
  
}
/* kanit-latin-800-normal*/
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Kanit ExtraBold'),
    local('Kanit-ExtraBold'), url('./files/kanit-latin-800-normal.woff2') format('woff2'), url('./files/kanit-latin-800-normal.woff') format('woff');
  
}
/* kanit-latin-900-normal*/
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Kanit Black'),
    local('Kanit-Black'), url('./files/kanit-latin-900-normal.woff2') format('woff2'), url('./files/kanit-latin-900-normal.woff') format('woff');
  
}
