/* kanit-latin-500-normal CSS*/
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Kanit Medium'),
    local('Kanit-Medium'), 
    url('./files/kanit-latin-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kanit-latin-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kanit-latin-500-italic CSS*/
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Kanit Medium Italic'),
    local('Kanit-MediumItalic'), 
    url('./files/kanit-latin-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kanit-latin-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
