/* kanit-vietnamese-400-italic*/
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Kanit Italic'),
    local('Kanit-Italic'), 
    url('./files/kanit-vietnamese-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kanit-vietnamese-400-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/kanit-vietnamese-400-italic.ttf') format('truetype');
}
/* kanit-vietnamese-400-normal*/
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Kanit Regular'),
    local('Kanit-Regular'), 
    url('./files/kanit-vietnamese-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kanit-vietnamese-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/kanit-vietnamese-400-normal.ttf') format('truetype');
}
