/* kanit-vietnamese-600-normal CSS*/
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Kanit SemiBold'),
    local('Kanit-SemiBold'), 
    url('./files/kanit-vietnamese-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kanit-vietnamese-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kanit-vietnamese-600-italic CSS*/
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Kanit SemiBold Italic'),
    local('Kanit-SemiBoldItalic'), 
    url('./files/kanit-vietnamese-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kanit-vietnamese-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
