/* encode-sans-condensed-latin-ext-100-normal*/
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Encode Sans Condensed Thin'),
    local('EncodeSansCondensed-Thin'), 
    url('./files/encode-sans-condensed-latin-ext-100-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-condensed-latin-ext-100-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* encode-sans-condensed-latin-ext-200-normal*/
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Encode Sans Condensed ExtraLight'),
    local('EncodeSansCondensed-ExtraLight'), 
    url('./files/encode-sans-condensed-latin-ext-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-condensed-latin-ext-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* encode-sans-condensed-latin-ext-300-normal*/
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Encode Sans Condensed Light'),
    local('EncodeSansCondensed-Light'), 
    url('./files/encode-sans-condensed-latin-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-condensed-latin-ext-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* encode-sans-condensed-latin-ext-400-normal*/
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Encode Sans Condensed Regular'),
    local('EncodeSansCondensed-Regular'), 
    url('./files/encode-sans-condensed-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-condensed-latin-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* encode-sans-condensed-latin-ext-500-normal*/
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Encode Sans Condensed Medium'),
    local('EncodeSansCondensed-Medium'), 
    url('./files/encode-sans-condensed-latin-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-condensed-latin-ext-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* encode-sans-condensed-latin-ext-600-normal*/
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Encode Sans Condensed SemiBold'),
    local('EncodeSansCondensed-SemiBold'), 
    url('./files/encode-sans-condensed-latin-ext-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-condensed-latin-ext-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* encode-sans-condensed-latin-ext-700-normal*/
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Encode Sans Condensed Bold'),
    local('EncodeSansCondensed-Bold'), 
    url('./files/encode-sans-condensed-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-condensed-latin-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* encode-sans-condensed-latin-ext-800-normal*/
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Encode Sans Condensed ExtraBold'),
    local('EncodeSansCondensed-ExtraBold'), 
    url('./files/encode-sans-condensed-latin-ext-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-condensed-latin-ext-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* encode-sans-condensed-latin-ext-900-normal*/
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Encode Sans Condensed Black'),
    local('EncodeSansCondensed-Black'), 
    url('./files/encode-sans-condensed-latin-ext-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/encode-sans-condensed-latin-ext-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
