/* farro-latin-ext-700-normal*/
@font-face {
  font-family: 'Farro';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Farro Bold'),
    local('Farro-Bold'), url('./files/farro-latin-ext-700-normal.woff2') format('woff2'), url('./files/farro-latin-ext-700-normal.woff') format('woff');
  
}
