/* mada-latin-200-normal*/
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Mada ExtraLight'),
    local('Mada-ExtraLight'), url('./files/mada-latin-200-normal.woff2') format('woff2'), url('./files/mada-latin-200-normal.woff') format('woff');
  
}
/* mada-latin-300-normal*/
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Mada Light'),
    local('Mada-Light'), url('./files/mada-latin-300-normal.woff2') format('woff2'), url('./files/mada-latin-300-normal.woff') format('woff');
  
}
/* mada-latin-400-normal*/
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Mada Regular'),
    local('Mada-Regular'), url('./files/mada-latin-400-normal.woff2') format('woff2'), url('./files/mada-latin-400-normal.woff') format('woff');
  
}
/* mada-latin-500-normal*/
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Mada Medium'),
    local('Mada-Medium'), url('./files/mada-latin-500-normal.woff2') format('woff2'), url('./files/mada-latin-500-normal.woff') format('woff');
  
}
/* mada-latin-600-normal*/
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Mada SemiBold'),
    local('Mada-SemiBold'), url('./files/mada-latin-600-normal.woff2') format('woff2'), url('./files/mada-latin-600-normal.woff') format('woff');
  
}
/* mada-latin-700-normal*/
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Mada Bold'),
    local('Mada-Bold'), url('./files/mada-latin-700-normal.woff2') format('woff2'), url('./files/mada-latin-700-normal.woff') format('woff');
  
}
/* mada-latin-900-normal*/
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Mada Black'),
    local('Mada-Black'), url('./files/mada-latin-900-normal.woff2') format('woff2'), url('./files/mada-latin-900-normal.woff') format('woff');
  
}
