/* ubuntu-mono-greek-400-normal*/
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Ubuntu Mono'),
    local('UbuntuMono-Regular'), url('./files/ubuntu-mono-greek-400-normal.woff2') format('woff2'), url('./files/ubuntu-mono-greek-400-normal.woff') format('woff');
  
}
/* ubuntu-mono-greek-700-normal*/
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Ubuntu Mono Bold'),
    local('UbuntuMono-Bold'), url('./files/ubuntu-mono-greek-700-normal.woff2') format('woff2'), url('./files/ubuntu-mono-greek-700-normal.woff') format('woff');
  
}
