/* ubuntu-mono-latin-ext-400-italic*/
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Ubuntu Mono Italic'),
    local('UbuntuMono-Italic'), 
    url('./files/ubuntu-mono-latin-ext-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/ubuntu-mono-latin-ext-400-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/ubuntu-mono-latin-ext-400-italic.ttf') format('truetype');
}
/* ubuntu-mono-latin-ext-400-normal*/
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Ubuntu Mono'),
    local('UbuntuMono-Regular'), 
    url('./files/ubuntu-mono-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/ubuntu-mono-latin-ext-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/ubuntu-mono-latin-ext-400-normal.ttf') format('truetype');
}
/* ubuntu-mono-latin-ext-700-italic*/
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Ubuntu Mono Bold Italic'),
    local('UbuntuMono-BoldItalic'), 
    url('./files/ubuntu-mono-latin-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/ubuntu-mono-latin-ext-700-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/ubuntu-mono-latin-ext-700-italic.ttf') format('truetype');
}
/* ubuntu-mono-latin-ext-700-normal*/
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Ubuntu Mono Bold'),
    local('UbuntuMono-Bold'), 
    url('./files/ubuntu-mono-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/ubuntu-mono-latin-ext-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/ubuntu-mono-latin-ext-700-normal.ttf') format('truetype');
}
