/* kulim-park-latin-ext-200-italic*/
@font-face {
  font-family: 'Kulim Park';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Kulim Park ExtraLight Italic'),
    local('KulimPark-ExtraLightItalic'), 
    url('./files/kulim-park-latin-ext-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kulim-park-latin-ext-200-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/kulim-park-latin-ext-200-italic.ttf') format('truetype');
}
/* kulim-park-latin-ext-200-normal*/
@font-face {
  font-family: 'Kulim Park';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Kulim Park ExtraLight'),
    local('KulimPark-ExtraLight'), 
    url('./files/kulim-park-latin-ext-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kulim-park-latin-ext-200-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/kulim-park-latin-ext-200-normal.ttf') format('truetype');
}
/* kulim-park-latin-ext-300-italic*/
@font-face {
  font-family: 'Kulim Park';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Kulim Park Light Italic'),
    local('KulimPark-LightItalic'), 
    url('./files/kulim-park-latin-ext-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kulim-park-latin-ext-300-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/kulim-park-latin-ext-300-italic.ttf') format('truetype');
}
/* kulim-park-latin-ext-300-normal*/
@font-face {
  font-family: 'Kulim Park';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Kulim Park Light'),
    local('KulimPark-Light'), 
    url('./files/kulim-park-latin-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kulim-park-latin-ext-300-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/kulim-park-latin-ext-300-normal.ttf') format('truetype');
}
/* kulim-park-latin-ext-400-italic*/
@font-face {
  font-family: 'Kulim Park';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Kulim Park Italic'),
    local('KulimPark-Italic'), 
    url('./files/kulim-park-latin-ext-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kulim-park-latin-ext-400-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/kulim-park-latin-ext-400-italic.ttf') format('truetype');
}
/* kulim-park-latin-ext-400-normal*/
@font-face {
  font-family: 'Kulim Park';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Kulim Park Regular'),
    local('KulimPark-Regular'), 
    url('./files/kulim-park-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kulim-park-latin-ext-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/kulim-park-latin-ext-400-normal.ttf') format('truetype');
}
/* kulim-park-latin-ext-600-italic*/
@font-face {
  font-family: 'Kulim Park';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Kulim Park SemiBold Italic'),
    local('KulimPark-SemiBoldItalic'), 
    url('./files/kulim-park-latin-ext-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kulim-park-latin-ext-600-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/kulim-park-latin-ext-600-italic.ttf') format('truetype');
}
/* kulim-park-latin-ext-600-normal*/
@font-face {
  font-family: 'Kulim Park';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Kulim Park SemiBold'),
    local('KulimPark-SemiBold'), 
    url('./files/kulim-park-latin-ext-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kulim-park-latin-ext-600-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/kulim-park-latin-ext-600-normal.ttf') format('truetype');
}
/* kulim-park-latin-ext-700-italic*/
@font-face {
  font-family: 'Kulim Park';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Kulim Park Bold Italic'),
    local('KulimPark-BoldItalic'), 
    url('./files/kulim-park-latin-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kulim-park-latin-ext-700-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/kulim-park-latin-ext-700-italic.ttf') format('truetype');
}
/* kulim-park-latin-ext-700-normal*/
@font-face {
  font-family: 'Kulim Park';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Kulim Park Bold'),
    local('KulimPark-Bold'), 
    url('./files/kulim-park-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kulim-park-latin-ext-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/kulim-park-latin-ext-700-normal.ttf') format('truetype');
}
