/* sen-latin-400-normal CSS*/
@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Sen Regular'),
    local('Sen-Regular'), 
    url('./files/sen-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sen-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sen-latin-700-normal CSS*/
@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Sen Bold'),
    local('Sen-Bold'), 
    url('./files/sen-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sen-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sen-latin-800-normal CSS*/
@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Sen ExtraBold'),
    local('Sen-ExtraBold'), 
    url('./files/sen-latin-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sen-latin-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
