/* arima-madurai-tamil-100-normal*/
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Arima Madurai Thin'),
    local('ArimaMadurai-Thin'), 
    url('./files/arima-madurai-tamil-100-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/arima-madurai-tamil-100-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* arima-madurai-tamil-200-normal*/
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Arima Madurai ExtraLight'),
    local('ArimaMadurai-ExtraLight'), 
    url('./files/arima-madurai-tamil-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/arima-madurai-tamil-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* arima-madurai-tamil-300-normal*/
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Arima Madurai Light'),
    local('ArimaMadurai-Light'), 
    url('./files/arima-madurai-tamil-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/arima-madurai-tamil-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* arima-madurai-tamil-400-normal*/
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Arima Madurai'),
    local('ArimaMadurai-Regular'), 
    url('./files/arima-madurai-tamil-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/arima-madurai-tamil-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* arima-madurai-tamil-500-normal*/
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Arima Madurai Medium'),
    local('ArimaMadurai-Medium'), 
    url('./files/arima-madurai-tamil-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/arima-madurai-tamil-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* arima-madurai-tamil-700-normal*/
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Arima Madurai Bold'),
    local('ArimaMadurai-Bold'), 
    url('./files/arima-madurai-tamil-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/arima-madurai-tamil-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* arima-madurai-tamil-800-normal*/
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Arima Madurai ExtraBold'),
    local('ArimaMadurai-ExtraBold'), 
    url('./files/arima-madurai-tamil-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/arima-madurai-tamil-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* arima-madurai-tamil-900-normal*/
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Arima Madurai Black'),
    local('ArimaMadurai-Black'), 
    url('./files/arima-madurai-tamil-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/arima-madurai-tamil-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
