/* asap-vietnamese-700-normal*/
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Asap Bold'),
    local('Asap-Bold'), 
    url('./files/asap-vietnamese-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/asap-vietnamese-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* asap-vietnamese-700-italic*/
@font-face {
  font-family: 'Asap';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Asap Bold Italic'),
    local('Asap-BoldItalic'), 
    url('./files/asap-vietnamese-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/asap-vietnamese-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
