/* baloo-bhaina-2-latin-ext-400-normal*/
@font-face {
  font-family: 'Baloo Bhaina 2';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Baloo Bhaina 2 Regular'),
    local('BalooBhaina2-Regular'), url('./files/baloo-bhaina-2-latin-ext-400-normal.woff2') format('woff2'), url('./files/baloo-bhaina-2-latin-ext-400-normal.woff') format('woff');
  
}
/* baloo-bhaina-2-latin-ext-500-normal*/
@font-face {
  font-family: 'Baloo Bhaina 2';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Baloo Bhaina 2 Medium'),
    local('BalooBhaina2-Medium'), url('./files/baloo-bhaina-2-latin-ext-500-normal.woff2') format('woff2'), url('./files/baloo-bhaina-2-latin-ext-500-normal.woff') format('woff');
  
}
/* baloo-bhaina-2-latin-ext-600-normal*/
@font-face {
  font-family: 'Baloo Bhaina 2';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Baloo Bhaina 2 SemiBold'),
    local('BalooBhaina2-SemiBold'), url('./files/baloo-bhaina-2-latin-ext-600-normal.woff2') format('woff2'), url('./files/baloo-bhaina-2-latin-ext-600-normal.woff') format('woff');
  
}
/* baloo-bhaina-2-latin-ext-700-normal*/
@font-face {
  font-family: 'Baloo Bhaina 2';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Baloo Bhaina 2 Bold'),
    local('BalooBhaina2-Bold'), url('./files/baloo-bhaina-2-latin-ext-700-normal.woff2') format('woff2'), url('./files/baloo-bhaina-2-latin-ext-700-normal.woff') format('woff');
  
}
/* baloo-bhaina-2-latin-ext-800-normal*/
@font-face {
  font-family: 'Baloo Bhaina 2';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Baloo Bhaina 2 ExtraBold'),
    local('BalooBhaina2-ExtraBold'), url('./files/baloo-bhaina-2-latin-ext-800-normal.woff2') format('woff2'), url('./files/baloo-bhaina-2-latin-ext-800-normal.woff') format('woff');
  
}
