/* im-fell-english-sc-latin-400-normal*/
@font-face {
  font-family: 'IM Fell English SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('IM FELL English SC'),
    local('IM_FELL_English_SC'), url('./files/im-fell-english-sc-latin-400-normal.woff2') format('woff2'), url('./files/im-fell-english-sc-latin-400-normal.woff') format('woff');
  
}
