/* kumbh-sans-latin-ext-300-normal*/
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Kumbh Sans Light'),
    local('KumbhSans-Light'), 
    url('./files/kumbh-sans-latin-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kumbh-sans-latin-ext-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kumbh-sans-latin-ext-400-normal*/
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Kumbh Sans Regular'),
    local('KumbhSans-Regular'), 
    url('./files/kumbh-sans-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kumbh-sans-latin-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kumbh-sans-latin-ext-700-normal*/
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Kumbh Sans Bold'),
    local('KumbhSans-Bold'), 
    url('./files/kumbh-sans-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/kumbh-sans-latin-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
