/* arsenal-cyrillic-400-italic*/
@font-face {
  font-family: 'Arsenal';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Arsenal Italic'),
    local('Arsenal-Italic'), 
    url('./files/arsenal-cyrillic-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/arsenal-cyrillic-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* arsenal-cyrillic-400-normal*/
@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Arsenal Regular'),
    local('Arsenal-Regular'), 
    url('./files/arsenal-cyrillic-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/arsenal-cyrillic-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* arsenal-cyrillic-700-italic*/
@font-face {
  font-family: 'Arsenal';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Arsenal Bold Italic'),
    local('Arsenal-BoldItalic'), 
    url('./files/arsenal-cyrillic-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/arsenal-cyrillic-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* arsenal-cyrillic-700-normal*/
@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Arsenal Bold'),
    local('Arsenal-Bold'), 
    url('./files/arsenal-cyrillic-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/arsenal-cyrillic-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
