/* arsenal-latin-400-normal*/
@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Arsenal Regular'),
    local('Arsenal-Regular'), url('./files/arsenal-latin-400-normal.woff2') format('woff2'), url('./files/arsenal-latin-400-normal.woff') format('woff');
  
}
/* arsenal-latin-700-normal*/
@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Arsenal Bold'),
    local('Arsenal-Bold'), url('./files/arsenal-latin-700-normal.woff2') format('woff2'), url('./files/arsenal-latin-700-normal.woff') format('woff');
  
}
