/* alef-hebrew-400-normal*/
@font-face {
  font-family: 'Alef';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Alef Regular'),
    local('Alef-Regular'), 
    url('./files/alef-hebrew-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alef-hebrew-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alef-hebrew-700-normal*/
@font-face {
  font-family: 'Alef';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Alef Bold'),
    local('Alef-Bold'), 
    url('./files/alef-hebrew-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alef-hebrew-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
