/* cabin-condensed-vietnamese-500-normal*/
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Cabin Condensed Medium'),
    local('CabinCondensed-Medium'), url('./files/cabin-condensed-vietnamese-500-normal.woff2') format('woff2'), url('./files/cabin-condensed-vietnamese-500-normal.woff') format('woff');
  
}
