@font-face {
  font-family: 'Recursive Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url('./files/recursive-latin-wght-normal.woff2') format('woff2-variations');
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: 'Recursive Variable';
  font-style: oblique 0deg 15deg;
  font-display: swap;
  font-weight: 300 700;
  src: url('./files/recursive-latin-slnt-normal.woff2') format('woff2-variations');
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: 'Recursive Variable';
  font-style: oblique 0deg 15deg;
  font-display: swap;
  font-weight: 300 700;
  src: url('./files/recursive-latin-standard-normal.woff2') format('woff2-variations');
  unicode-range: U+0000-00FF;
}