/* inter-latin-400-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url(./files/inter-latin-400-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF;
}