/* 400-italic.css */
@font-face {
  font-family: 'Oblique';
  font-style: oblique 12deg;
  font-display: swap;
  font-weight: 400;
  src: url(./files/oblique.woff2) format(woff2);
}
/* latin.css */
@font-face {
  font-family: 'Oblique';
  font-style: oblique 12deg;
  font-display: swap;
  font-weight: 400;
  src: url(./files/oblique.woff2) format(woff2);
}
/* latin-italic.css */
@font-face {
  font-family: 'Oblique';
  font-style: oblique 12deg;
  font-display: swap;
  font-weight: 400;
  src: url(./files/oblique.woff2) format(woff2);
}
/* index.css */
@font-face {
  font-family: 'Oblique';
  font-style: oblique 12deg;
  font-display: swap;
  font-weight: 400;
  src: url(./files/oblique.woff2) format(woff2);
}