/* 400.css */
/* inter-latin-400-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/inter-latin-400-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF;
}
/* latin.css */
/* inter-latin-400-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/inter-latin-400-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF;
}

/* inter-latin-400-italic */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/inter-latin-400-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF;
}

/* inter-latin-700-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/inter-latin-700-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF;
}
/* 400-italic.css */
/* inter-latin-400-italic */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/inter-latin-400-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF;
}
/* latin-italic.css */
/* inter-latin-400-italic */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/inter-latin-400-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF;
}
/* 700.css */
/* inter-latin-700-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/inter-latin-700-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF;
}
/* index.css */
/* inter-latin-400-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/inter-latin-400-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF;
}