/* 400.css */
/* noto-sans-math-math-400-normal */
@font-face {
  font-family: 'Noto Sans Math';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/noto-sans-math-400-normal.woff2) format(woff2);
  unicode-range: U+2190-2300;
}
/* math.css */
/* noto-sans-math-math-400-normal */
@font-face {
  font-family: 'Noto Sans Math';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/noto-sans-math-400-normal.woff2) format(woff2);
  unicode-range: U+2190-2300;
}
/* index.css */
/* noto-sans-math-math-400-normal */
@font-face {
  font-family: 'Noto Sans Math';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/noto-sans-math-400-normal.woff2) format(woff2);
  unicode-range: U+2190-2300;
}