@font-face {
  font-family: 'Example "Font"\\Name\A  Variable';
  font-style: oblique -20deg 10deg;
  font-display: optional;
  font-weight: 100 900;
  font-stretch: 75% 125%;
  src: url('./font (1).woff2?label="test"') format('woff2-variations'), url('./font.otf') format(opentype);
  unicode-range: U+2190-2300;
}