/* inter-latin-700-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/inter-latin-700-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF;
}
