/* inter-latin-wght-normal */
@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 400 600;
  src: url(./files/inter-latin-variable-multi.woff2) format('woff2-variations'), url(./files/inter-latin-variable-multi.woff) format('woff');
  unicode-range: U+0000-00FF;
}
