/* inter-japanese-wght-normal-1 */
@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 800;
  src: url(./files/inter-japanese-variable-1.woff2) format('woff2-variations');
  unicode-range: U+3041-3042;
}
/* inter-japanese-wght-normal-2 */
@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 800;
  src: url(./files/inter-japanese-variable-2.woff2) format('woff2-variations');
  unicode-range: U+3044-3045;
}
