/* red-rose-latin-300-normal*/
@font-face {
  font-family: 'Red Rose';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Red Rose Light'),
    local('RedRose-Light'), 
    url('./files/red-rose-latin-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/red-rose-latin-300-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/red-rose-latin-300-normal.ttf') format('truetype');
}
/* red-rose-latin-400-normal*/
@font-face {
  font-family: 'Red Rose';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Red Rose Regular'),
    local('RedRose-Regular'), 
    url('./files/red-rose-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/red-rose-latin-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/red-rose-latin-400-normal.ttf') format('truetype');
}
/* red-rose-latin-700-normal*/
@font-face {
  font-family: 'Red Rose';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Red Rose Bold'),
    local('RedRose-Bold'), 
    url('./files/red-rose-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/red-rose-latin-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/red-rose-latin-700-normal.ttf') format('truetype');
}
