/* eczar-latin-ext-400-normal*/
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Eczar Regular'),
    local('Eczar-Regular'), 
    url('./files/eczar-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/eczar-latin-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eczar-latin-ext-500-normal*/
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Eczar Medium'),
    local('Eczar-Medium'), 
    url('./files/eczar-latin-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/eczar-latin-ext-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eczar-latin-ext-600-normal*/
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Eczar SemiBold'),
    local('Eczar-SemiBold'), 
    url('./files/eczar-latin-ext-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/eczar-latin-ext-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eczar-latin-ext-700-normal*/
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Eczar Bold'),
    local('Eczar-Bold'), 
    url('./files/eczar-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/eczar-latin-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eczar-latin-ext-800-normal*/
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Eczar ExtraBold'),
    local('Eczar-ExtraBold'), 
    url('./files/eczar-latin-ext-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/eczar-latin-ext-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
