/* radley-latin-ext-400-normal*/
@font-face {
  font-family: 'Radley';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Radley Regular'),
    local('Radley-Regular'), url('./files/radley-latin-ext-400-normal.woff2') format('woff2'), url('./files/radley-latin-ext-400-normal.woff') format('woff');
  
}
