/* archivo-latin-400-italic*/
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Archivo Italic'),
    local('Archivo-Italic'), 
    url('./files/archivo-latin-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/archivo-latin-400-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/archivo-latin-400-italic.ttf') format('truetype');
}
/* archivo-latin-400-normal*/
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Archivo Regular'),
    local('Archivo-Regular'), 
    url('./files/archivo-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/archivo-latin-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/archivo-latin-400-normal.ttf') format('truetype');
}
/* archivo-latin-500-italic*/
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Archivo Medium Italic'),
    local('Archivo-MediumItalic'), 
    url('./files/archivo-latin-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/archivo-latin-500-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/archivo-latin-500-italic.ttf') format('truetype');
}
/* archivo-latin-500-normal*/
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Archivo Medium'),
    local('Archivo-Medium'), 
    url('./files/archivo-latin-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/archivo-latin-500-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/archivo-latin-500-normal.ttf') format('truetype');
}
/* archivo-latin-600-italic*/
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Archivo SemiBold Italic'),
    local('Archivo-SemiBoldItalic'), 
    url('./files/archivo-latin-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/archivo-latin-600-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/archivo-latin-600-italic.ttf') format('truetype');
}
/* archivo-latin-600-normal*/
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Archivo SemiBold'),
    local('Archivo-SemiBold'), 
    url('./files/archivo-latin-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/archivo-latin-600-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/archivo-latin-600-normal.ttf') format('truetype');
}
/* archivo-latin-700-italic*/
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Archivo Bold Italic'),
    local('Archivo-BoldItalic'), 
    url('./files/archivo-latin-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/archivo-latin-700-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/archivo-latin-700-italic.ttf') format('truetype');
}
/* archivo-latin-700-normal*/
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Archivo Bold'),
    local('Archivo-Bold'), 
    url('./files/archivo-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/archivo-latin-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/archivo-latin-700-normal.ttf') format('truetype');
}
