/* metrophobic-latin-400-normal*/
@font-face {
  font-family: 'Metrophobic';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Metrophobic Regular'),
    local('Metrophobic-Regular'), url('./files/metrophobic-latin-400-normal.woff2') format('woff2'), url('./files/metrophobic-latin-400-normal.woff') format('woff');
  
}
