/* monda-latin-400-normal*/
@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Monda Regular'),
    local('Monda-Regular'), url('./files/monda-latin-400-normal.woff2') format('woff2'), url('./files/monda-latin-400-normal.woff') format('woff');
  
}
