/* baloo-chettan-2-malayalam-700-normal*/
@font-face {
  font-family: 'Baloo Chettan 2';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Baloo Chettan 2 Bold'),
    local('BalooChettan2-Bold'), 
    url('./files/baloo-chettan-2-malayalam-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/baloo-chettan-2-malayalam-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
