/* unna-latin-400-normal*/
@font-face {
  font-family: 'Unna';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Unna Regular'),
    local('Unna-Regular'), 
    url('./files/unna-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/unna-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* unna-latin-400-italic*/
@font-face {
  font-family: 'Unna';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Unna Italic'),
    local('Unna-Italic'), 
    url('./files/unna-latin-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/unna-latin-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* unna-latin-700-normal*/
@font-face {
  font-family: 'Unna';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Unna Bold'),
    local('Unna-Bold'), 
    url('./files/unna-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/unna-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* unna-latin-700-italic*/
@font-face {
  font-family: 'Unna';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Unna Bold Italic'),
    local('Unna-BoldItalic'), 
    url('./files/unna-latin-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/unna-latin-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
