/* kameron-latin-400-normal*/
@font-face {
  font-family: 'Kameron';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Kameron'), url('./files/kameron-latin-400-normal.woff2') format('woff2'), url('./files/kameron-latin-400-normal.woff') format('woff');
  
}
/* kameron-latin-700-normal*/
@font-face {
  font-family: 'Kameron';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Kameron Bold'),
    local('Kameron-Bold'), url('./files/kameron-latin-700-normal.woff2') format('woff2'), url('./files/kameron-latin-700-normal.woff') format('woff');
  
}
