@font-face {
	font-family: "Fontsource Registry Preview";
	src: url("https://api.fontsource.org/v1/registry/sources/static-400") format("truetype");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}