@font-face {
  font-family: 'Fontsource Registry Preview';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://api.fontsource.org/v1/registry/sources/static-400) format(truetype);
}