/* libre-barcode-128-latin-400-normal CSS*/
@font-face {
  font-family: 'Libre Barcode 128';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Libre Barcode 128 Regular'),
    local('LibreBarcode128-Regular'), 
    url('./files/libre-barcode-128-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/libre-barcode-128-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
