/* libre-barcode-128-latin-400-normal*/
@font-face {
  font-family: 'Libre Barcode 128';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Libre Barcode 128 Regular'),
    local('LibreBarcode128-Regular'), url('./files/libre-barcode-128-latin-400-normal.woff2') format('woff2'), url('./files/libre-barcode-128-latin-400-normal.woff') format('woff');
  
}
