/* aleo-latin-300-normal*/
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Aleo Light'),
    local('Aleo-Light'), url('./files/aleo-latin-300-normal.woff2') format('woff2'), url('./files/aleo-latin-300-normal.woff') format('woff');
  
}
/* aleo-latin-400-normal*/
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Aleo Regular'),
    local('Aleo-Regular'), url('./files/aleo-latin-400-normal.woff2') format('woff2'), url('./files/aleo-latin-400-normal.woff') format('woff');
  
}
/* aleo-latin-700-normal*/
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Aleo Bold'),
    local('Aleo-Bold'), url('./files/aleo-latin-700-normal.woff2') format('woff2'), url('./files/aleo-latin-700-normal.woff') format('woff');
  
}
