/* aleo-latin-ext-300-italic*/
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Aleo Light Italic'),
    local('Aleo-LightItalic'), 
    url('./files/aleo-latin-ext-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/aleo-latin-ext-300-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/aleo-latin-ext-300-italic.ttf') format('truetype');
}
/* aleo-latin-ext-300-normal*/
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Aleo Light'),
    local('Aleo-Light'), 
    url('./files/aleo-latin-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/aleo-latin-ext-300-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/aleo-latin-ext-300-normal.ttf') format('truetype');
}
/* aleo-latin-ext-400-italic*/
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Aleo Italic'),
    local('Aleo-Italic'), 
    url('./files/aleo-latin-ext-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/aleo-latin-ext-400-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/aleo-latin-ext-400-italic.ttf') format('truetype');
}
/* aleo-latin-ext-400-normal*/
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Aleo Regular'),
    local('Aleo-Regular'), 
    url('./files/aleo-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/aleo-latin-ext-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/aleo-latin-ext-400-normal.ttf') format('truetype');
}
/* aleo-latin-ext-700-italic*/
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Aleo Bold Italic'),
    local('Aleo-BoldItalic'), 
    url('./files/aleo-latin-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/aleo-latin-ext-700-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/aleo-latin-ext-700-italic.ttf') format('truetype');
}
/* aleo-latin-ext-700-normal*/
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Aleo Bold'),
    local('Aleo-Bold'), 
    url('./files/aleo-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/aleo-latin-ext-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/aleo-latin-ext-700-normal.ttf') format('truetype');
}
