/* barlow-condensed-latin-ext-100-normal*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Barlow Condensed Thin'),
    local('BarlowCondensed-Thin'), 
    url('./files/barlow-condensed-latin-ext-100-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-100-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-latin-ext-100-italic*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Barlow Condensed Thin Italic'),
    local('BarlowCondensed-ThinItalic'), 
    url('./files/barlow-condensed-latin-ext-100-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-100-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-latin-ext-200-normal*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Barlow Condensed ExtraLight'),
    local('BarlowCondensed-ExtraLight'), 
    url('./files/barlow-condensed-latin-ext-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-latin-ext-200-italic*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Barlow Condensed ExtraLight Italic'),
    local('BarlowCondensed-ExtraLightItalic'), 
    url('./files/barlow-condensed-latin-ext-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-200-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-latin-ext-300-normal*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Barlow Condensed Light'),
    local('BarlowCondensed-Light'), 
    url('./files/barlow-condensed-latin-ext-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-latin-ext-300-italic*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Barlow Condensed Light Italic'),
    local('BarlowCondensed-LightItalic'), 
    url('./files/barlow-condensed-latin-ext-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-latin-ext-400-normal*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Barlow Condensed Regular'),
    local('BarlowCondensed-Regular'), 
    url('./files/barlow-condensed-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-latin-ext-400-italic*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Barlow Condensed Italic'),
    local('BarlowCondensed-Italic'), 
    url('./files/barlow-condensed-latin-ext-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-latin-ext-500-normal*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Barlow Condensed Medium'),
    local('BarlowCondensed-Medium'), 
    url('./files/barlow-condensed-latin-ext-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-latin-ext-500-italic*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Barlow Condensed Medium Italic'),
    local('BarlowCondensed-MediumItalic'), 
    url('./files/barlow-condensed-latin-ext-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-latin-ext-600-normal*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Barlow Condensed SemiBold'),
    local('BarlowCondensed-SemiBold'), 
    url('./files/barlow-condensed-latin-ext-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-latin-ext-600-italic*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Barlow Condensed SemiBold Italic'),
    local('BarlowCondensed-SemiBoldItalic'), 
    url('./files/barlow-condensed-latin-ext-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-latin-ext-700-normal*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Barlow Condensed Bold'),
    local('BarlowCondensed-Bold'), 
    url('./files/barlow-condensed-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-latin-ext-700-italic*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Barlow Condensed Bold Italic'),
    local('BarlowCondensed-BoldItalic'), 
    url('./files/barlow-condensed-latin-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-latin-ext-800-normal*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Barlow Condensed ExtraBold'),
    local('BarlowCondensed-ExtraBold'), 
    url('./files/barlow-condensed-latin-ext-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-latin-ext-800-italic*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Barlow Condensed ExtraBold Italic'),
    local('BarlowCondensed-ExtraBoldItalic'), 
    url('./files/barlow-condensed-latin-ext-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-800-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-latin-ext-900-normal*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Barlow Condensed Black'),
    local('BarlowCondensed-Black'), 
    url('./files/barlow-condensed-latin-ext-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-latin-ext-900-italic*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Barlow Condensed Black Italic'),
    local('BarlowCondensed-BlackItalic'), 
    url('./files/barlow-condensed-latin-ext-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-latin-ext-900-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
