/* barlow-condensed-vietnamese-700-italic*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Barlow Condensed Bold Italic'),
    local('BarlowCondensed-BoldItalic'), 
    url('./files/barlow-condensed-vietnamese-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-vietnamese-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-condensed-vietnamese-700-normal*/
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Barlow Condensed Bold'),
    local('BarlowCondensed-Bold'), 
    url('./files/barlow-condensed-vietnamese-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-condensed-vietnamese-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
