/* blinker-latin-100-normal*/
@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Blinker Thin'),
    local('Blinker-Thin'), 
    url('./files/blinker-latin-100-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/blinker-latin-100-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/blinker-latin-100-normal.ttf') format('truetype');
}
/* blinker-latin-200-normal*/
@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Blinker ExtraLight'),
    local('Blinker-ExtraLight'), 
    url('./files/blinker-latin-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/blinker-latin-200-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/blinker-latin-200-normal.ttf') format('truetype');
}
/* blinker-latin-300-normal*/
@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Blinker Light'),
    local('Blinker-Light'), 
    url('./files/blinker-latin-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/blinker-latin-300-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/blinker-latin-300-normal.ttf') format('truetype');
}
/* blinker-latin-400-normal*/
@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Blinker'),
    local('Blinker-Regular'), 
    url('./files/blinker-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/blinker-latin-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/blinker-latin-400-normal.ttf') format('truetype');
}
/* blinker-latin-600-normal*/
@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Blinker SemiBold'),
    local('Blinker-SemiBold'), 
    url('./files/blinker-latin-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/blinker-latin-600-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/blinker-latin-600-normal.ttf') format('truetype');
}
/* blinker-latin-700-normal*/
@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Blinker Bold'),
    local('Blinker-Bold'), 
    url('./files/blinker-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/blinker-latin-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/blinker-latin-700-normal.ttf') format('truetype');
}
/* blinker-latin-800-normal*/
@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Blinker ExtraBold'),
    local('Blinker-ExtraBold'), 
    url('./files/blinker-latin-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/blinker-latin-800-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/blinker-latin-800-normal.ttf') format('truetype');
}
/* blinker-latin-900-normal*/
@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Blinker Black'),
    local('Blinker-Black'), 
    url('./files/blinker-latin-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/blinker-latin-900-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/blinker-latin-900-normal.ttf') format('truetype');
}
