/* gfs-neohellenic-greek-400-italic*/
@font-face {
  font-family: 'GFS Neohellenic';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('./files/gfs-neohellenic-greek-400-italic.woff2') format('woff2'), url('./files/gfs-neohellenic-all-400-italic.woff') format('woff');
  unicode-range: U+0370-03FF;
}
/* gfs-neohellenic-greek-400-normal*/
@font-face {
  font-family: 'GFS Neohellenic';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./files/gfs-neohellenic-greek-400-normal.woff2') format('woff2'), url('./files/gfs-neohellenic-all-400-normal.woff') format('woff');
  unicode-range: U+0370-03FF;
}
