{
  "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "quotes": ["error", "single"]
  }
}
