/* laila-devanagari-300-normal*/
@font-face {
  font-family: 'Laila';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Laila Light'),
    local('Laila-Light'), 
    url('./files/laila-devanagari-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/laila-devanagari-300-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/laila-devanagari-300-normal.ttf') format('truetype');
}
/* laila-devanagari-400-normal*/
@font-face {
  font-family: 'Laila';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Laila Regular'),
    local('Laila-Regular'), 
    url('./files/laila-devanagari-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/laila-devanagari-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/laila-devanagari-400-normal.ttf') format('truetype');
}
/* laila-devanagari-500-normal*/
@font-face {
  font-family: 'Laila';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Laila Medium'),
    local('Laila-Medium'), 
    url('./files/laila-devanagari-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/laila-devanagari-500-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/laila-devanagari-500-normal.ttf') format('truetype');
}
/* laila-devanagari-600-normal*/
@font-face {
  font-family: 'Laila';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Laila SemiBold'),
    local('Laila-SemiBold'), 
    url('./files/laila-devanagari-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/laila-devanagari-600-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/laila-devanagari-600-normal.ttf') format('truetype');
}
/* laila-devanagari-700-normal*/
@font-face {
  font-family: 'Laila';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Laila Bold'),
    local('Laila-Bold'), 
    url('./files/laila-devanagari-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/laila-devanagari-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/laila-devanagari-700-normal.ttf') format('truetype');
}
