/* pretendard-korean-400-thin*/
@font-face {
  font-family: 'Pretendard';
  font-style: thin;
  font-display: swap;
  font-weight: 400;
  src: url('./files/pretendard-korean-400-thin.woff2') format('woff2'), url('./files/pretendard-korean-400-thin.woff') format('woff');
  
}
