/* pretendard-korean-500-medium*/
@font-face {
  font-family: 'Pretendard';
  font-style: medium;
  font-display: swap;
  font-weight: 500;
  src: url('./files/pretendard-korean-500-medium.woff2') format('woff2'), url('./files/pretendard-korean-500-medium.woff') format('woff');
  
}
