/* pretendard-korean-600-regular*/
@font-face {
  font-family: 'Pretendard';
  font-style: regular;
  font-display: swap;
  font-weight: 600;
  src: url('./files/pretendard-korean-600-regular.woff2') format('woff2'), url('./files/pretendard-korean-600-regular.woff') format('woff');
  
}
