/* pretendard-korean-900-thin*/
@font-face {
  font-family: 'Pretendard';
  font-style: thin;
  font-display: swap;
  font-weight: 900;
  src: url('./files/pretendard-korean-900-thin.woff2') format('woff2'), url('./files/pretendard-korean-900-thin.woff') format('woff');
  
}
