/* pretendard-korean-600-medium*/
@font-face {
  font-family: 'Pretendard';
  font-style: medium;
  font-display: swap;
  font-weight: 600;
  src: url('./files/pretendard-korean-600-medium.woff2') format('woff2'), url('./files/pretendard-korean-600-medium.woff') format('woff');
  
}
