/* pretendard-korean-800-extralight*/
@font-face {
  font-family: 'Pretendard';
  font-style: extralight;
  font-display: swap;
  font-weight: 800;
  src: url('./files/pretendard-korean-800-extralight.woff2') format('woff2'), url('./files/pretendard-korean-800-extralight.woff') format('woff');
  
}
