/* pretendard-korean-300-extrabold*/
@font-face {
  font-family: 'Pretendard';
  font-style: extrabold;
  font-display: swap;
  font-weight: 300;
  src: url('./files/pretendard-korean-300-extrabold.woff2') format('woff2'), url('./files/pretendard-korean-300-extrabold.woff') format('woff');
  
}
