/* pretendard-korean-100-bold*/
@font-face {
  font-family: 'Pretendard';
  font-style: bold;
  font-display: swap;
  font-weight: 100;
  src: url('./files/pretendard-korean-100-bold.woff2') format('woff2'), url('./files/pretendard-korean-100-bold.woff') format('woff');
  
}
