/* pretendard-korean-600-light*/
@font-face {
  font-family: 'Pretendard';
  font-style: light;
  font-display: swap;
  font-weight: 600;
  src: url('./files/pretendard-korean-600-light.woff2') format('woff2'), url('./files/pretendard-korean-600-light.woff') format('woff');
  
}
