/* pretendard-korean-500-semibold*/
@font-face {
  font-family: 'Pretendard';
  font-style: semibold;
  font-display: swap;
  font-weight: 500;
  src: url('./files/pretendard-korean-500-semibold.woff2') format('woff2'), url('./files/pretendard-korean-500-semibold.woff') format('woff');
  
}
