/* ContentHeader */
.header {
	@mixin light {
		background: var(--mantine-color-background.1);
	}

	@mixin dark {
		background: var(--mantine-color-background.5);
	}
}

.inner {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	height: 144px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 64px 64px 40px;
}

/* Footer */
