/* Footer */
.header {
	background-color: var(--mantine-color-text-1);
}

.inner {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	min-height: 72px;
	display: flex;
	flex-wrap: wrap;
	gap: var(--mantine-spacing-md);
	align-items: center;
	justify-content: space-between;
	padding: 14px 64px;

	@media (--lt-md) {
		padding-inline: 32px;
	}

	@media (--lt-sm) {
		padding-inline: 24px;
	}
}

.logo {
	display: flex;
	flex-shrink: 0;
}

.links {
	display: flex;
	flex-shrink: 0;
	max-width: 100%;
	align-items: center;
}

.link {
	display: inline-flex;
	align-items: center;
	min-height: 44px;
	font-size: var(--mantine-font-size-sm);
	padding: 0 var(--mantine-spacing-sm);
	text-decoration: none;

	color: var(--mantine-color-text-0);

	&:hover {
		text-decoration: underline;
	}
}
