/* Header */
.header {
	@mixin light {
		border-bottom: 1px solid #edf0f3;
	}

	@mixin dark {
		border-bottom: 1px solid #151e34;
	}
}

.inner {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	height: 72px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 rem(64px);
}

.burger {
	@media (min-width: $mantine-breakpoint-sm) {
		display: none;
	}
}

.links {
	padding-top: var(--mantine-spacing-lg);
	height: 72px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (max-width: $mantine-breakpoint-sm) {
		display: none;
	}
}

.link {
	font-size: var(--mantine-font-size-sm);

	border-bottom: rem(2px) solid transparent;
	transition:
		border-color 100ms ease,
		color 100ms ease;
	text-decoration: none;

	@mixin light {
		color: var(--mantine-color-text-1);
	}

	@mixin dark {
		color: var(--mantine-color-text-0);
	}

	@media (min-width: $mantine-breakpoint-sm) {
		padding: rem(27px) var(--mantine-spacing-sm);

		&:hover {
			text-decoration: none;
			color: var(--mantine-color-purple);
		}
	}
}

.active {
	font-weight: 700;

	@mixin light {
		color: var(--mantine-color-purple);
	}

	@mixin dark {
		color: var(--mantine-color-purple);
	}

	@media (min-width: $mantine-breakpoint-sm) {
		color: var(--mantine-color-purple);
		border-bottom-color: var(--mantine-color-purple);
	}
}

.mobile-links {
	height: 100vh;
	padding: rem(24) rem(16);
	align-content: center;

	@mixin light {
		background-color: var(--mantine-color-background-1);
	}

	@mixin dark {
		background-color: var(--mantine-color-background-5);
	}
}

.mobile-link {
	display: flex;

	&:hover {
		color: var(--mantine-color-purple-0);
	}
}
