/* ThemeButton */

.button {
	display: flex;
	align-items: center;
	margin-left: -5px;

	&:hover {
		color: var(--mantine-color-purple);
	}
}

.mobileIcon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
}
