/* single-day-korean-400-normal*/
@font-face {
  font-family: 'Single Day';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./files/single-day-korean-400-normal.woff2') format('woff2'), url('./files/single-day-all-400-normal.woff') format('woff');
  unicode-range: U+3131-318E, U+3200-321C, U+3260-327B, U+AC00-D7AF;
}
