/* alegreya-sans-sc-cyrillic-ext-100-normal*/
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Alegreya Sans SC Thin'),
    local('AlegreyaSansSC-Thin'), url('./files/alegreya-sans-sc-cyrillic-ext-100-normal.woff2') format('woff2'), url('./files/alegreya-sans-sc-cyrillic-ext-100-normal.woff') format('woff');
  
}
/* alegreya-sans-sc-cyrillic-ext-300-normal*/
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Alegreya Sans SC Light'),
    local('AlegreyaSansSC-Light'), url('./files/alegreya-sans-sc-cyrillic-ext-300-normal.woff2') format('woff2'), url('./files/alegreya-sans-sc-cyrillic-ext-300-normal.woff') format('woff');
  
}
/* alegreya-sans-sc-cyrillic-ext-400-normal*/
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Alegreya Sans SC Regular'),
    local('AlegreyaSansSC-Regular'), url('./files/alegreya-sans-sc-cyrillic-ext-400-normal.woff2') format('woff2'), url('./files/alegreya-sans-sc-cyrillic-ext-400-normal.woff') format('woff');
  
}
/* alegreya-sans-sc-cyrillic-ext-500-normal*/
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Alegreya Sans SC Medium'),
    local('AlegreyaSansSC-Medium'), url('./files/alegreya-sans-sc-cyrillic-ext-500-normal.woff2') format('woff2'), url('./files/alegreya-sans-sc-cyrillic-ext-500-normal.woff') format('woff');
  
}
/* alegreya-sans-sc-cyrillic-ext-700-normal*/
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Alegreya Sans SC Bold'),
    local('AlegreyaSansSC-Bold'), url('./files/alegreya-sans-sc-cyrillic-ext-700-normal.woff2') format('woff2'), url('./files/alegreya-sans-sc-cyrillic-ext-700-normal.woff') format('woff');
  
}
/* alegreya-sans-sc-cyrillic-ext-800-normal*/
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Alegreya Sans SC ExtraBold'),
    local('AlegreyaSansSC-ExtraBold'), url('./files/alegreya-sans-sc-cyrillic-ext-800-normal.woff2') format('woff2'), url('./files/alegreya-sans-sc-cyrillic-ext-800-normal.woff') format('woff');
  
}
/* alegreya-sans-sc-cyrillic-ext-900-normal*/
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Alegreya Sans SC Black'),
    local('AlegreyaSansSC-Black'), url('./files/alegreya-sans-sc-cyrillic-ext-900-normal.woff2') format('woff2'), url('./files/alegreya-sans-sc-cyrillic-ext-900-normal.woff') format('woff');
  
}
