/* noto-sans-jp-latin-100-normal*/
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Noto Sans Japanese Thin'),
    local('NotoSansJapanese-Thin'), url('./files/noto-sans-jp-latin-100-normal.woff2') format('woff2'), url('./files/noto-sans-jp-latin-100-normal.woff') format('woff');
  
}
/* noto-sans-jp-latin-300-normal*/
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Noto Sans Japanese Light'),
    local('NotoSansJapanese-Light'), url('./files/noto-sans-jp-latin-300-normal.woff2') format('woff2'), url('./files/noto-sans-jp-latin-300-normal.woff') format('woff');
  
}
/* noto-sans-jp-latin-400-normal*/
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Noto Sans Japanese Regular'),
    local('NotoSansJapanese-Regular'), url('./files/noto-sans-jp-latin-400-normal.woff2') format('woff2'), url('./files/noto-sans-jp-latin-400-normal.woff') format('woff');
  
}
/* noto-sans-jp-latin-500-normal*/
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Noto Sans Japanese Medium'),
    local('NotoSansJapanese-Medium'), url('./files/noto-sans-jp-latin-500-normal.woff2') format('woff2'), url('./files/noto-sans-jp-latin-500-normal.woff') format('woff');
  
}
/* noto-sans-jp-latin-700-normal*/
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Noto Sans Japanese Bold'),
    local('NotoSansJapanese-Bold'), url('./files/noto-sans-jp-latin-700-normal.woff2') format('woff2'), url('./files/noto-sans-jp-latin-700-normal.woff') format('woff');
  
}
/* noto-sans-jp-latin-900-normal*/
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Noto Sans Japanese Black'),
    local('NotoSansJapanese-Black'), url('./files/noto-sans-jp-latin-900-normal.woff2') format('woff2'), url('./files/noto-sans-jp-latin-900-normal.woff') format('woff');
  
}
