/* cormorant-vietnamese-500-normal*/
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Cormorant Medium'),
    local('Cormorant-Medium'), url('./files/cormorant-vietnamese-500-normal.woff2') format('woff2'), url('./files/cormorant-vietnamese-500-normal.woff') format('woff');
  
}
