/* love-ya-like-a-sister-latin-400-normal CSS*/
@font-face {
  font-family: 'Love Ya Like A Sister';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Love Ya Like A Sister Regular'),
    local('LoveYaLikeASister-Regular'), 
    url('./files/love-ya-like-a-sister-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/love-ya-like-a-sister-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
