/* inika-latin-ext-400-normal*/
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Inika'), 
    url('./files/inika-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/inika-latin-ext-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/inika-latin-ext-400-normal.ttf') format('truetype');
}
/* inika-latin-ext-700-normal*/
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Inika Bold'),
    local('Inika-Bold'), 
    url('./files/inika-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/inika-latin-ext-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/inika-latin-ext-700-normal.ttf') format('truetype');
}
