/* sansita-latin-ext-400-italic*/
@font-face {
  font-family: 'Sansita';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Sansita Italic'),
    local('Sansita-Italic'), 
    url('./files/sansita-latin-ext-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sansita-latin-ext-400-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/sansita-latin-ext-400-italic.ttf') format('truetype');
}
/* sansita-latin-ext-400-normal*/
@font-face {
  font-family: 'Sansita';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Sansita Regular'),
    local('Sansita-Regular'), 
    url('./files/sansita-latin-ext-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sansita-latin-ext-400-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/sansita-latin-ext-400-normal.ttf') format('truetype');
}
/* sansita-latin-ext-700-italic*/
@font-face {
  font-family: 'Sansita';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Sansita Bold Italic'),
    local('Sansita-BoldItalic'), 
    url('./files/sansita-latin-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sansita-latin-ext-700-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/sansita-latin-ext-700-italic.ttf') format('truetype');
}
/* sansita-latin-ext-700-normal*/
@font-face {
  font-family: 'Sansita';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Sansita Bold'),
    local('Sansita-Bold'), 
    url('./files/sansita-latin-ext-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sansita-latin-ext-700-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/sansita-latin-ext-700-normal.ttf') format('truetype');
}
/* sansita-latin-ext-800-italic*/
@font-face {
  font-family: 'Sansita';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Sansita ExtraBold Italic'),
    local('Sansita-ExtraBoldItalic'), 
    url('./files/sansita-latin-ext-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sansita-latin-ext-800-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/sansita-latin-ext-800-italic.ttf') format('truetype');
}
/* sansita-latin-ext-800-normal*/
@font-face {
  font-family: 'Sansita';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Sansita ExtraBold'),
    local('Sansita-ExtraBold'), 
    url('./files/sansita-latin-ext-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sansita-latin-ext-800-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/sansita-latin-ext-800-normal.ttf') format('truetype');
}
/* sansita-latin-ext-900-italic*/
@font-face {
  font-family: 'Sansita';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Sansita Black Italic'),
    local('Sansita-BlackItalic'), 
    url('./files/sansita-latin-ext-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sansita-latin-ext-900-italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/sansita-latin-ext-900-italic.ttf') format('truetype');
}
/* sansita-latin-ext-900-normal*/
@font-face {
  font-family: 'Sansita';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Sansita Black'),
    local('Sansita-Black'), 
    url('./files/sansita-latin-ext-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sansita-latin-ext-900-normal.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('./files/sansita-latin-ext-900-normal.ttf') format('truetype');
}
