/* bellota-text-latin-300-normal*/
@font-face {
  font-family: 'Bellota Text';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Bellota Text Light'),
    local('BellotaText-Light'), url('./files/bellota-text-latin-300-normal.woff2') format('woff2'), url('./files/bellota-text-latin-300-normal.woff') format('woff');
  
}
/* bellota-text-latin-400-normal*/
@font-face {
  font-family: 'Bellota Text';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Bellota Text Regular'),
    local('BellotaText-Regular'), url('./files/bellota-text-latin-400-normal.woff2') format('woff2'), url('./files/bellota-text-latin-400-normal.woff') format('woff');
  
}
/* bellota-text-latin-700-normal*/
@font-face {
  font-family: 'Bellota Text';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Bellota Text Bold'),
    local('BellotaText-Bold'), url('./files/bellota-text-latin-700-normal.woff2') format('woff2'), url('./files/bellota-text-latin-700-normal.woff') format('woff');
  
}
