/* cormorant-garamond-cyrillic-ext-300-normal*/
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Cormorant Garamond Light'),
    local('CormorantGaramond-Light'), url('./files/cormorant-garamond-cyrillic-ext-300-normal.woff2') format('woff2'), url('./files/cormorant-garamond-cyrillic-ext-300-normal.woff') format('woff');
  
}
/* cormorant-garamond-cyrillic-ext-400-normal*/
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cormorant Garamond Regular'),
    local('CormorantGaramond-Regular'), url('./files/cormorant-garamond-cyrillic-ext-400-normal.woff2') format('woff2'), url('./files/cormorant-garamond-cyrillic-ext-400-normal.woff') format('woff');
  
}
/* cormorant-garamond-cyrillic-ext-500-normal*/
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Cormorant Garamond Medium'),
    local('CormorantGaramond-Medium'), url('./files/cormorant-garamond-cyrillic-ext-500-normal.woff2') format('woff2'), url('./files/cormorant-garamond-cyrillic-ext-500-normal.woff') format('woff');
  
}
/* cormorant-garamond-cyrillic-ext-600-normal*/
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Cormorant Garamond SemiBold'),
    local('CormorantGaramond-SemiBold'), url('./files/cormorant-garamond-cyrillic-ext-600-normal.woff2') format('woff2'), url('./files/cormorant-garamond-cyrillic-ext-600-normal.woff') format('woff');
  
}
/* cormorant-garamond-cyrillic-ext-700-normal*/
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cormorant Garamond Bold'),
    local('CormorantGaramond-Bold'), url('./files/cormorant-garamond-cyrillic-ext-700-normal.woff2') format('woff2'), url('./files/cormorant-garamond-cyrillic-ext-700-normal.woff') format('woff');
  
}
