/* big-shoulders-inline-display-latin-700-normal*/
@font-face {
  font-family: 'Big Shoulders Inline Display';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Big Shoulders Inline Display Bold'),
    local('BigShouldersInlineDisplay-Bold'), url('./files/big-shoulders-inline-display-latin-700-normal.woff2') format('woff2'), url('./files/big-shoulders-inline-display-latin-700-normal.woff') format('woff');
  
}
