/* thasadith-vietnamese-400-italic*/
@font-face {
  font-family: 'Thasadith';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Thasadith Italic'),
    local('Thasadith-Italic'), 
    url('./files/thasadith-vietnamese-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/thasadith-vietnamese-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* thasadith-vietnamese-400-normal*/
@font-face {
  font-family: 'Thasadith';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Thasadith Regular'),
    local('Thasadith-Regular'), 
    url('./files/thasadith-vietnamese-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/thasadith-vietnamese-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* thasadith-vietnamese-700-italic*/
@font-face {
  font-family: 'Thasadith';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Thasadith Bold Italic'),
    local('Thasadith-BoldItalic'), 
    url('./files/thasadith-vietnamese-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/thasadith-vietnamese-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* thasadith-vietnamese-700-normal*/
@font-face {
  font-family: 'Thasadith';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Thasadith Bold'),
    local('Thasadith-Bold'), 
    url('./files/thasadith-vietnamese-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/thasadith-vietnamese-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
