/* tillana-latin-400-normal CSS File*/
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Tillana Regular'),
    local('Tillana-Regular'), 
    url('./files/tillana-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tillana-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tillana-latin-500-normal CSS File*/
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Tillana Medium'),
    local('Tillana-Medium'), 
    url('./files/tillana-latin-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tillana-latin-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tillana-latin-600-normal CSS File*/
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Tillana SemiBold'),
    local('Tillana-SemiBold'), 
    url('./files/tillana-latin-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tillana-latin-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tillana-latin-700-normal CSS File*/
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Tillana Bold'),
    local('Tillana-Bold'), 
    url('./files/tillana-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tillana-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tillana-latin-800-normal CSS File*/
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Tillana ExtraBold'),
    local('Tillana-ExtraBold'), 
    url('./files/tillana-latin-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/tillana-latin-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
