@mixin fontFace(
  $fontName: "Mallanna",
  $fontId: "mallanna",
  $style: normal,
  $display: swap,
  $weight: 400,
  $fontDir: "~@fontsource/#{$fontId}/files",
  $unicodeMap: (telugu: (U+0951-0952, U+0964-0965, U+0C00-0C7F, U+1CDA, U+200C-200D, U+25CC), latin: (U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD))
) {
  @each $subset, $unicodeRangeValues in $unicodeMap {
    @font-face {
      font-family: "#{$fontName}";
      font-style: $style;
      font-display: $display;
      font-weight: $weight;
      src: url("#{$fontDir}/#{$fontId}-#{$subset}-#{$weight}-#{$style}.woff2")
          format("woff2"),
        url("#{$fontDir}/#{$fontId}-all-#{$weight}-#{$style}.woff")
          format("woff");
      unicode-range: $unicodeRangeValues;
    }
  }
}

@mixin fontFaceCustom(
  $fontName: "Mallanna",
  $fontId: "mallanna",
  $style: normal,
  $display: swap,
  $weight: 400,
  $woff2Path: "~@fontsource/#{$fontId}/files/#{$fontId}-latin-#{$weight}-#{$style}.woff2",
  $woffPath: "~@fontsource/#{$fontId}/files/#{$fontId}-latin-#{$weight}-#{$style}.woff",
  $unicodeRange: false,
  $unicodeRangeValues: (U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD)
) {
  @font-face {
    font-family: "#{$fontName}";
    font-style: $style;
    font-display: $display;
    font-weight: $weight;
    src: url("#{$woff2Path}") format("woff2"), url("#{$woffPath}") format("woff");
    @if $unicodeRange {
      unicode-range: $unicodeRangeValues;
    }
  }
}
