/* m-plus-rounded-1c-japanese-100-normal*/
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('M PLUS Rounded 1c Thin'),
    local('MPLUSRounded1c-Thin'), 
    url('./files/m-plus-rounded-1c-japanese-100-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/m-plus-rounded-1c-japanese-100-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* m-plus-rounded-1c-japanese-300-normal*/
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('M PLUS Rounded 1c Light'),
    local('MPLUSRounded1c-Light'), 
    url('./files/m-plus-rounded-1c-japanese-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/m-plus-rounded-1c-japanese-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* m-plus-rounded-1c-japanese-400-normal*/
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('M PLUS Rounded 1c'),
    local('MPLUSRounded1c-Regular'), 
    url('./files/m-plus-rounded-1c-japanese-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/m-plus-rounded-1c-japanese-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* m-plus-rounded-1c-japanese-500-normal*/
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('M PLUS Rounded 1c Medium'),
    local('MPLUSRounded1c-Medium'), 
    url('./files/m-plus-rounded-1c-japanese-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/m-plus-rounded-1c-japanese-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* m-plus-rounded-1c-japanese-700-normal*/
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('M PLUS Rounded 1c Bold'),
    local('MPLUSRounded1c-Bold'), 
    url('./files/m-plus-rounded-1c-japanese-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/m-plus-rounded-1c-japanese-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* m-plus-rounded-1c-japanese-800-normal*/
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('M PLUS Rounded 1c ExtraBold'),
    local('MPLUSRounded1c-ExtraBold'), 
    url('./files/m-plus-rounded-1c-japanese-800-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/m-plus-rounded-1c-japanese-800-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* m-plus-rounded-1c-japanese-900-normal*/
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('M PLUS Rounded 1c Black'),
    local('MPLUSRounded1c-Black'), 
    url('./files/m-plus-rounded-1c-japanese-900-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/m-plus-rounded-1c-japanese-900-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
