/* averia-serif-libre-latin-300-italic*/
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Averia Serif Libre Light Italic'),
    local('AveriaSerifLibre-LightItalic'), 
    url('./files/averia-serif-libre-latin-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/averia-serif-libre-latin-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* averia-serif-libre-latin-300-normal*/
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Averia Serif Libre Light'),
    local('AveriaSerifLibre-Light'), 
    url('./files/averia-serif-libre-latin-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/averia-serif-libre-latin-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
