/* koho-latin-200-normal CSS*/
@font-face {
  font-family: 'KoHo';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('KoHo ExtraLight'),
    local('KoHo-ExtraLight'), 
    url('./files/koho-latin-200-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/koho-latin-200-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-latin-200-italic CSS*/
@font-face {
  font-family: 'KoHo';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('KoHo ExtraLight Italic'),
    local('KoHo-ExtraLightItalic'), 
    url('./files/koho-latin-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/koho-latin-200-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-latin-300-normal CSS*/
@font-face {
  font-family: 'KoHo';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('KoHo Light'),
    local('KoHo-Light'), 
    url('./files/koho-latin-300-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/koho-latin-300-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-latin-300-italic CSS*/
@font-face {
  font-family: 'KoHo';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('KoHo Light Italic'),
    local('KoHo-LightItalic'), 
    url('./files/koho-latin-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/koho-latin-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-latin-400-normal CSS*/
@font-face {
  font-family: 'KoHo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('KoHo Regular'),
    local('KoHo-Regular'), 
    url('./files/koho-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/koho-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-latin-400-italic CSS*/
@font-face {
  font-family: 'KoHo';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('KoHo Italic'),
    local('KoHo-Italic'), 
    url('./files/koho-latin-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/koho-latin-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-latin-500-normal CSS*/
@font-face {
  font-family: 'KoHo';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('KoHo Medium'),
    local('KoHo-Medium'), 
    url('./files/koho-latin-500-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/koho-latin-500-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-latin-500-italic CSS*/
@font-face {
  font-family: 'KoHo';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('KoHo Medium Italic'),
    local('KoHo-MediumItalic'), 
    url('./files/koho-latin-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/koho-latin-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-latin-600-normal CSS*/
@font-face {
  font-family: 'KoHo';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('KoHo SemiBold'),
    local('KoHo-SemiBold'), 
    url('./files/koho-latin-600-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/koho-latin-600-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-latin-600-italic CSS*/
@font-face {
  font-family: 'KoHo';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('KoHo SemiBold Italic'),
    local('KoHo-SemiBoldItalic'), 
    url('./files/koho-latin-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/koho-latin-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-latin-700-normal CSS*/
@font-face {
  font-family: 'KoHo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('KoHo Bold'),
    local('KoHo-Bold'), 
    url('./files/koho-latin-700-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/koho-latin-700-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-latin-700-italic CSS*/
@font-face {
  font-family: 'KoHo';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('KoHo Bold Italic'),
    local('KoHo-BoldItalic'), 
    url('./files/koho-latin-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/koho-latin-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
