/* bellota-cyrillic-300-normal*/
@font-face {
  font-family: 'Bellota';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Bellota Light'),
    local('Bellota-Light'), url('./files/bellota-cyrillic-300-normal.woff2') format('woff2'), url('./files/bellota-cyrillic-300-normal.woff') format('woff');
  
}
/* bellota-cyrillic-400-normal*/
@font-face {
  font-family: 'Bellota';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Bellota Regular'),
    local('Bellota-Regular'), url('./files/bellota-cyrillic-400-normal.woff2') format('woff2'), url('./files/bellota-cyrillic-400-normal.woff') format('woff');
  
}
/* bellota-cyrillic-700-normal*/
@font-face {
  font-family: 'Bellota';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Bellota Bold'),
    local('Bellota-Bold'), url('./files/bellota-cyrillic-700-normal.woff2') format('woff2'), url('./files/bellota-cyrillic-700-normal.woff') format('woff');
  
}
